[2022-07-12 10:42] #763 closed

[2022-07-12 10:43] #770 closed

[2022-07-12 10:43] deandreamatias commented on #780
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 10:43] #780 closed

[2022-07-12 10:44] #885 closed

[2022-07-12 10:44] #705 closed

[2022-07-12 10:45] deandreamatias commented on #532
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 10:45] #532 closed

[2022-07-12 10:45] deandreamatias commented on #624
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 10:45] #624 closed

[2022-07-12 10:45] deandreamatias commented on #709
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 10:45] #709 closed

[2022-07-12 10:46] deandreamatias commented on #712
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 10:46] #712 closed

[2022-07-12 11:22] deandreamatias commented on #713
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:22] #713 closed

[2022-07-12 11:23] deandreamatias commented on #724
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:23] #724 closed

[2022-07-12 11:26] deandreamatias commented on #726
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:26] #726 closed

[2022-07-12 11:26] deandreamatias commented on #732
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:26] #732 closed

[2022-07-12 11:26] deandreamatias commented on #737
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:26] #737 closed

[2022-07-12 11:27] deandreamatias commented on #747
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:27] #747 closed

[2022-07-12 11:27] #751 closed

[2022-07-12 11:27] deandreamatias commented on #758
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:27] #758 closed

[2022-07-12 11:28] deandreamatias commented on #795
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:28] #795 closed

[2022-07-12 11:29] deandreamatias commented on #805
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 11:29] #805 closed

[2022-07-12 11:29] deandreamatias commented on #808
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:29] #808 closed

[2022-07-12 11:33] deandreamatias commented on #812
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:33] #812 closed

[2022-07-12 11:33] deandreamatias commented on #817
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:33] #817 closed

[2022-07-12 11:34] deandreamatias commented on #824
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:34] #824 closed

[2022-07-12 11:34] deandreamatias commented on #827
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:34] #827 closed

[2022-07-12 11:34] deandreamatias commented on #828
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:34] #828 closed

[2022-07-12 11:34] deandreamatias commented on #831
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:34] #831 closed

[2022-07-12 11:35] #832 closed

[2022-07-12 11:35] deandreamatias commented on #836
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:35] #836 closed

[2022-07-12 11:35] deandreamatias commented on #841
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:35] #841 closed

[2022-07-12 11:35] #846 closed

[2022-07-12 11:36] deandreamatias commented on #335
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new separated issues](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:36] #335 closed

[2022-07-12 11:37] deandreamatias commented on #853
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:37] #853 closed

[2022-07-12 11:37] #865 closed, assigned to nobody

[2022-07-12 11:38] deandreamatias commented on #870
This still an issue?

[2022-07-12 11:38] deandreamatias commented on #871
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:38] #871 closed

[2022-07-12 11:38] #875 closed

[2022-07-12 11:39] deandreamatias commented on #905
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:39] #905 closed

[2022-07-12 11:39] #910 closed

[2022-07-12 11:40] deandreamatias commented on #915
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:40] #915 closed

[2022-07-12 11:40] #919 closed

[2022-07-12 11:40] deandreamatias commented on #925
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:40] #925 closed

[2022-07-12 11:42] deandreamatias commented on #984
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-12 11:42] #984 closed

[2022-07-12 12:20] deandreamatias commented on #790
This widget exist in this package

[2022-07-12 12:20] #790 closed

[2022-07-12 12:54] lllymaknuga opened #1082 "FormBuilderDropdown change location items"
## Environment

**Package name:**
Everyone Hi
I want the item select sheet to always be strictly FormBuilderDropdown
How to do it?

[2022-07-12 14:00] lllymaknuga commented on #1082
FormBuilderDropdown(
              elevation: 1,
              name: 'city_dropdown',
              initialValue: 'Нур-Султан',
              items: const [
                DropdownMenuItem(
                  value: 'Алматы',
                  child: Text('Алматы'),
                ),
                DropdownMenuItem(
                  value: 'Москва',
                  child: Text('Москва'),

[2022-07-13 09:11] grundid commented on #1049
How do we proceed here?
If you look at the latest PR #1062 people are trying to solve the strange behavior of requestFocus/ensureVisible and adding new flags (autoScrollToInvalidField) to compensate for it. Instead of adding this flag one could achieve this by adding the above ensureValidationErrorVisible parameter to the validate method.

I was thinking about a large demo form that we could creat

[2022-07-13 16:31] deandreamatias commented on #1082
I don't know what means _this_
A round component, a custom icon, a line between options...

Need more details that expect behaviour and actual behaviour

[2022-07-13 18:12] lllymaknuga commented on #1082
If you look at the picture, you can see that the list for selecting cities is located under the FormBuilderDropdown.
How to do also?

[2022-07-13 18:31] lllymaknuga opened #1085 "How i can show owner custom date picker if tap on FormBuilderDateTimePicker"
How i can show owner date picker
![image](https://user-images.githubusercontent.com/74775396/178805026-d23f79e7-52a8-4a6a-a896-c57161e5eaa1.png)
FormBuilderDateTimePicker if i tap date picker looks like this(from box)
I want if i tap on FormBuilderDateTimePicker show my date picker
![image](https://user-images.githubusercontent.com/74775396/178805364-e7a3113f-1830-4316-9e6d-6554306583eb.png)

How

[2022-07-13 19:50] deandreamatias commented on #1085
No, actually this package don't has support to this.
form builder only use native cupertino and material components

[2022-07-13 19:50] #1085 closed

[2022-07-13 19:51] deandreamatias commented on #1082
I can see the list, but this code don't is enough for that?

[2022-07-13 20:21] lllymaknuga commented on #1085
Okay
Thank you for your answer answer

[2022-07-13 20:26] lllymaknuga commented on #1082
No)
If i tap on FormBuilderDropdown his list went down from below him.
From this it looks like this
![image](https://user-images.githubusercontent.com/74775396/178828080-58b8e60a-1615-4a94-b7da-1ac90c2a668c.png)
![image](https://user-images.githubusercontent.com/74775396/178828129-3aed7977-741c-434a-8176-d59ff3fa9e0c.png)

[2022-07-14 12:16] deandreamatias commented on #1082
Do you want that dropdown options appers below of FormBuilderDropdownField?

![178828080-58b8e60a-1615-4a94-b7da-1ac90c2a668c](https://user-images.githubusercontent.com/21011641/178980106-bd2a9b99-2bf2-4071-8423-eef6fcc724fc.png)

[2022-07-14 15:44] deandreamatias commented on #935
Hi @socialviolation
The solution of @coccyx-cyst works for you?

[2022-07-14 15:46] #826 closed

[2022-07-14 15:46] #861 closed

[2022-07-15 23:41] Isaachm11 opened #1087 "A value of type 'FormBuilderFieldOption<String>' can't be assigned to a variable of type 'FormBuilderChipOption<String>'."
## The following is the error
Error: A value of type 'FormBuilderFieldOption<String>' can't be assigned to a variable of type 'FormBuilderChipOption<String>'.
     - 'FormBuilderFieldOption' is from 'package:flutter_form_builder/src/form_builder_field_option.dart' ('../programs/flutter_3_0_4/.pub-cache/hosted/pub.dartlang.org/flutter_form_builder-7.4.0/lib/src/form_builder_field_option.dart').

[2022-07-15 23:42] Isaachm11 commented on #1087
This happens when building for ios

[2022-07-16 11:08] deandreamatias commented on #1087
Please complete the issue template to can help you

## Environment

**Package version:**

<details>
  <summary>Flutter doctor</summary>

[code]

</details>

<details>
  <summary>Code sample</summary>

[code]

</details>

## Description

**Expected behavior:**

**Current behavior:**

## Steps to reproduce

1. This
2. Than that
3. Then

## Images

## Stacktrace/Logcat

[2022-07-16 11:22] deandreamatias commented on #284
This package is created is separate repository in this organization

[2022-07-16 11:22] #284 closed

[2022-07-17 16:50] deandreamatias commented on #475
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-17 16:50] #475 closed

[2022-07-17 18:08] Isaachm11 commented on #1087
That issue was solved, I have another issue:

    ../programs/flutter_3_0_4/.pub-cache/hosted/pub.dartlang.org/flutter_chips_input-1.10.0/lib/src/chips_input.dart:87:7: Error: The non-abstract class 'ChipsInputState' is missing implementations for these members:
     - TextInputClient.insertTextPlaceholder
     - TextInputClient.removeTextPlaceholder
     - TextInputClient.showToolbar
    Try to e

[2022-07-17 19:27] deandreamatias commented on #1087
Please open a new issue with details in template

[2022-07-17 19:27] #1087 closed

[2022-07-20 06:29] grundid commented on #1075
I just noticed that this problem is related to #960. However the solution by calling `widget.onChanged?.call();`in `setInternalFieldValue` is quite ugly because the method name does not say that it will call the `onChanged` method of the FormBuilder. This could introduce other problems in the future.

[2022-07-20 06:29] #1075 closed

[2022-07-20 20:29] deandreamatias opened #1089 "Add widget tests for DateRangePicker"
## Environment

**Package version:** 7.4.0

## Description

**What you'd like to happen:**

When run tests, test a field `FormBuilderDateRangePicker`

**Alternatives you've considered:**  Copy minimal tests from other fields (ex: `FormBuilderFilterChip`).
Test save values and initial values.

[2022-07-20 20:30] deandreamatias opened #1090 "Add widget tests for FormBuilderRangeSlider"
## Environment

**Package version:** 7.4.0

## Description

**What you'd like to happen:**

When run tests, test a field `FormBuilderRangeSlider`

**Alternatives you've considered:**  Copy minimal tests from other fields (ex: `FormBuilderFilterChip`).
Test save values and initial values.

[2022-07-21 06:14] deandreamatias commented on #22
This package in this momento don't support Cupertino fields.
In future, if make sense, we add some cupertino style fields.

The only widget that exist with Cupertino style, is `FormBuilderCupertinoDateTimePicker` in https://github.com/flutter-form-builder-ecosystem/form_builder_extra_fields

[2022-07-21 06:14] #22 closed

[2022-07-21 06:49] deandreamatias commented on #384
You can use [TextInputFormatter](https://stackoverflow.com/questions/50123742/how-to-use-inputformatter-on-flutter-textfield) to do this.
The regex pattern I don't know how to do it, but should be exist a solution in internet

[2022-07-21 06:49] #384 closed

[2022-07-21 06:56] deandreamatias commented on #409
Hi @Prn-Ice
This is a nice feature but I don't know if a feature with a lot use. How _awhitford_ says, you can create easily a CheckboxGroup or RadioGroup with options and your own style.
Create this field means idealize a design and now don't exist a pattern (Material or Cupertino) for a week day selector

[2022-07-21 06:56] #409 closed

[2022-07-21 06:56] #454 closed

[2022-07-21 07:01] deandreamatias commented on #462
Hi @VOIDCRUSHER
Thanks for your extended comment.
This still a problem? Considering the new versions of this package, maybe can control this scenarios better
If not, please add some code or app example to understand better the scenarios and posible solutions

[2022-07-21 07:07] deandreamatias commented on #617
I create this solution to get new changes
[code]

[2022-07-21 07:11] deandreamatias commented on #651
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-21 07:11] #651 closed

[2022-07-21 07:16] deandreamatias commented on #667
The package [flutter_form_builder](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder) is compatible with web.
Have a desktop support too, but hasn't examples to this. Will be track this in #350

Now we need supported [other packages of ecosystem](https://pub.dev/publishers/flutterformbuilderecosystem.com/packages), but this issue need to be created is each other repositories

[2022-07-21 07:16] #667 closed

[2022-07-21 07:19] deandreamatias commented on #350
We need implement the next things

- [ ] Add desktop platform examples
- [ ] Add build desktop platform to base pipeline
- [ ] Optional. Add to readme specific setup or use of package to desktop platforms

[2022-07-21 08:35] deandreamatias commented on #690
Hi @JaviCore
A minimal example code of this will be nice.

Whats validators fails to this logic?
I has some fields in one project that I configured with validators different that  FormBuilderValidator.required and this behavior works

Maybe is a bug or feature lack of `FormBuilderValidator.minLength`

[2022-07-21 08:40] deandreamatias commented on #718
You can create your own fields with `FormBuilderField`

Is a hard thing create new components only for cupertino style. One option would be add this styles for existent components, but is a feature that don't will be add in the current roadmap

[2022-07-21 08:42] deandreamatias commented on #723
This still a issue with the lasted version?

[2022-07-21 08:43] deandreamatias commented on #753
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-21 08:43] #753 closed

[2022-07-21 08:54] #870 closed

[2022-07-21 08:54] deandreamatias commented on #870
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-25 02:02] flutterfromscratch opened #1091 "License change to GPLv3?"
First seen in this commit: https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/commit/d3fe0c5db00c52713605d1b68e52855833b46c9b#diff-c693279643b8cd5d248172d9c22cb7cf4ed163a3c98c8a3f69c2717edd3eacb7

The license of flutter_form_builder has changed from BSD 2-Clause to GPL v3. To my understanding, this means that if I use flutter_form_builder in any application, I must release the

[2022-07-25 02:18] flutterfromscratch commented on #1091
I can see that @deandreamatias changed the license to GPLv3 in related packages (in this commit https://github.com/flutter-form-builder-ecosystem/form_builder_file_picker/commit/7aa31c7702f5ff6a787489af4a8601f8e16f5651).

[2022-07-27 06:27] deandreamatias commented on #1091
Hi @flutterfromscratch!
Thanks for your question.

I try to explain all about license.
Context: My idea with this new license was improve the open source package to free source package.

Questions:
1. Yes
2. A modified version of flutter_form_builder, no.
3. Yes

Revert changes: To avoid problems of compatibility, I back to BSD license. Now I add a [BSD-3-clause](https://opensource.org/licenses/BS

[2022-07-27 06:27] #1091 closed

[2022-07-29 11:24] ian-ng commented on #1077
Can set null to `FormBuilderDateTimePicker.resetIcon`, and set a `IconButton` to `FormBuilderDateTimePicker.decoration.suffix` as a hot-fix.
The `IconButton.onPressed` can refer to #859.

[2022-07-30 00:25] deandreamatias commented on #859
The initial issue reported by @VickyBOSS, currently works successful.
In this video can see the behavior

https://user-images.githubusercontent.com/21011641/181862851-3b7b64c8-7812-43a8-b97b-4ccf6b197b01.mp4

I close this issue

[2022-07-30 00:26] #859 closed

[2022-07-30 00:37] deandreamatias commented on #966
@Uvais-Mohammad This still an issue?
Seems that this is related to combination with ancestor widget.
Has the complete example to test?

[2022-07-30 00:39] deandreamatias commented on #1078
Hi @tonypottera24
With reset button do you refer to `resetIcon`?

[2022-07-30 00:42] deandreamatias commented on #1077
This icon never was functionality. Only was a decorative icon.
I will remove in #1094.
If need implement a reset button, please use a decoration.suffix to do this

[2022-07-30 00:43] #248 closed

[2022-07-30 00:43] #1077 closed

[2022-07-30 00:54] deandreamatias commented on #1030
This package currently is archived by reasons that I explain in the readme

[2022-07-30 00:55] #1030 closed

[2022-07-30 03:30] tonypottera24 commented on #1078
Hi @deandreamatias
yes... but I just noticed that it is called `cleanIcon` here...
and I cannot set it to null and provide my own icon by `suffixIcon`.

[2022-07-30 08:11] deandreamatias commented on #1078
Yeah yeah, I misstype my sentence

[2022-07-30 08:14] tonypottera24 commented on #1078
@deandreamatias sorry that I'm not blaming you.
I'm just expect that `FormBuilder` ecosystem should use the same terms.

[2022-07-30 11:54] deandreamatias commented on #798
The answer of @avdept is correct

Currently we avoid created more parameters related with `InputDecoration`.
Instead, we will remove existent parameters on other fields like can see in this PR: #1078

[2022-07-30 11:54] #798 closed

[2022-07-30 15:35] #1078 closed

[2022-07-30 15:37] deandreamatias commented on #703
This can be solved with #881

[2022-07-30 15:37] #703 closed

[2022-07-30 15:38] deandreamatias commented on #793
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-07-30 15:38] #793 closed

[2022-07-30 15:50] deandreamatias commented on #936
This is a error on Slider widget. Can see more in this issue https://github.com/flutter/flutter/issues/39510.
When Flutter solve this error and release this fix, we update to this Flutter version

A workaround, can be use a round value when read

[2022-07-30 15:50] #936 closed

[2022-07-30 16:06] deandreamatias commented on #977
Demo of error

https://user-images.githubusercontent.com/21011641/181925491-164a0aac-f470-414b-a24d-d29f3d3b7871.mp4

[2022-07-30 16:42] #977 closed

[2022-07-31 02:12] carlleeswanson opened #1098 "FormBuilderCupertinoDateTimePicker() not defined"
The Change log for v7.3.0 indicates:
- Added new attribute timePickerTheme to FormBuilderCupertinoDateTimePicker

However, FormBuilderCupertinoDateTimePicker does not appear to be part of the current version (v7.5.0). Was it removed? Was it never included (in which case, why does the Change log refer to it)? This is very confusing to me.

Or is there something "special" that I need to include/impo

[2022-07-31 13:54] halloway opened #1099 "FormBuilderRadioGroup initialValue not working"
## Environment

**Package version:** 7.5.0

## Describe your question
I was wondering how to define the initialValue when using a FormBuilderRadioGroup as it does not seem to work for me.

[code]

I would expect that Dart is already preselected but it is not.

<img width="283" alt="image" src="https://user-images.githubusercontent.com/24854934/182029575-f9879547-388d-4bd8-bf99-7846160b258c.png">

[2022-07-31 14:47] deandreamatias commented on #1099
Hi @halloway! Thanks for your question
This is more like a bug instead question, but ok.

Do you try set a initial value by FormBuilder?

[2022-07-31 15:07] deandreamatias commented on #1098
Hi @carlleeswanson !
About widget:
- This widget that you need, can found in package [form_builder_extra_fields](https://github.com/flutter-form-builder-ecosystem/form_builder_extra_fields/blob/main/lib/src/fields/form_builder_cupertino_date_time_picker.dart).
- This widget is there because need an external dependency ([flutter_datetime_picker_bdaya](https://pub.dev/packages/flutter_datetime_picke

[2022-07-31 17:55] carlleeswanson commented on #1098
@deandreamatias  Thank you for clarifying!

[2022-07-31 17:55] #1098 closed

[2022-07-31 18:15] carlleeswanson opened #1100 "7.4.0 has breaking change"
### Describe the change you would like to see
The "Changelog" on pub.dev for version 7.4.0 should indicate that there is a breaking change: it now requires Flutter SDK v3.0 or greater.
I think that the "Versions" info on pub.dev for version 7.4.0 should also indicate minimum Dart SDK v2.17

### How would the suggested change make the documentation more useful?
It is hard to know which versions of

[2022-07-31 19:30] halloway commented on #1099
Weird.
Simply adding a name value to the FormBuilderRadioGroup fixed the issue and the initialValue works.
Good to know.
Thanks

[2022-07-31 19:30] #1099 closed

[2022-08-01 06:13] deandreamatias commented on #1100
Hi @carlleeswanson
Yeah, I know that. Unfortunately, the changelog don't show the breaking change that should.
In [this thread](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/1028#issuecomment-1135848844), can see that in 7.3.0 has introduced a breaking change: If not use Flutter 3.0.0, the app crash.
In version 7.4.0 I specify the minimal versions to avoid this erro

[2022-08-03 15:09] nrallakis opened #1101 "FormBuilderTypeAhead get typed value if it's not one of the suggestions"
## Environment
Windows

**Package version: 7.5.0**

## Describe your question
Hi, how can I get the typed value of a FormBuilderTypeAhead if the value is not one of the selections?
I want to use the typeahead only to suggest options, not to force an option.
If I type something not available in the suggestions and save the form, the map returns a null instead of the typed value.
Is there any workar

[2022-08-03 17:18] deandreamatias commented on #1101
I never work with `FormBuilderTypeAhead`, but maybe can create a suggestion option from input. Like a textController that generate a suggestion option

[2022-08-03 17:26] deandreamatias commented on #1071
Due to lack of response, I will close this issue.
If the question still exists, feel free to reopen or open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-08-03 17:26] #1071 closed

[2022-08-05 16:02] deandreamatias commented on #1100
Can close this issue or you need some change?

[2022-08-05 16:21] carlleeswanson commented on #1100
Thank you for clarifying/confirming!

[2022-08-05 16:21] #1100 closed

[2022-08-06 17:48] jmpavan opened #1102 "FormBuilderDateRangePickerState deprecated"
## Environment

**Package version:**
7.5.0

## Describe your question
I have a working form in Flutter with version 7.2.1 and FormBuilderDateRangePickerState but in 7.5.0 it doesn't exist anymore.  How should I do the replacement?  Thanks.

[2022-08-06 19:48] deandreamatias commented on #1102
Hi!
This code still in package but is private because is a state for `FormBuilderDateRangePicker`. Do you need for something specific? You can access to some methods by `formKey.currentState.fields['field_name']`

[2022-08-07 16:47] jmpavan commented on #1102
Matias: I replace a declaración

*GlobalKey<FormBuilderDateRangePickerState>()*

by

*GlobalKey<FormBuilderFieldState>()*

and it work.

Thanks!

Jorge Mario Paván
+54 9 11 5327 9247
***@***.***

El sáb, 6 ago. 2022 14:48, Matias de Andrea ***@***.***>
escribió:

[2022-08-07 19:07] #1102 closed

[2022-08-10 16:03] deandreamatias commented on #1072
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-08-10 16:03] #1072 closed

[2022-08-10 16:04] deandreamatias commented on #1082
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-08-10 16:04] #1082 closed

[2022-08-11 09:04] ExpertKiD opened #1104 "FormBuilderRadioGroup - Separator needs to be added to below the row instead of at the end of row in case of Vertical orientation"
## Environment

**Package version:**

<details>
  <summary>Flutter doctor</summary>

[code]

</details>

<details>
  <summary>Code sample</summary>

[code]

</details>

## Description

**Expected behavior:**

The separator needs to come below the radio option seprate from the radio option in vertical orientaiton.

**Current behavior:**

The seperator comes to the right of the radio option as part

[2022-08-11 09:13] deandreamatias commented on #1104
Hi!
You can edit the initial comment with this structure? Thanks

[code]

[2022-08-11 15:53] ExpertKiD commented on #1104
Updated! Please recheck. @deandreamatias

[2022-08-11 21:02] deandreamatias commented on #1104
I try reproduce and fix this behaviour this weekend. Thanks for details

[2022-08-12 11:15] Uvais-Mohammad commented on #966
The problem was related to ancestor widget. It is fixed

[2022-08-12 11:15] #966 closed

[2022-08-12 13:39] PongsiriTK commented on #687
This issue still happen when I use state management to update item list. DropDownMenuItem still remember the previous values and throw an error

There should be exactly one item with [DropdownButton]'s value: 3.
Either zero or 2 or more [DropdownMenuItem]s were detected with the same value

[2022-08-12 14:38] deandreamatias commented on #687
If someone can share some minimal example code and steps to reproduce the issue, I really will appreciate

[2022-08-12 15:06] Raviteja11122 opened #1105 "[FormBuilder] show errors after form saved"
I have added local validations and using validate(), and save() methods after the API call I'm getting server validation errors and I need to show them in the form.

[2022-08-12 17:21] deandreamatias commented on #1105
Do you try use method invalidate()?

[2022-08-12 20:10] deandreamatias commented on #1105
Take a look to [this methods](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder#programmatically-inducing-an-error) in readme @Raviteja11122

[2022-08-13 04:11] Raviteja11122 commented on #1105
@deandreamatias I'm already using those once i use validate() and save() methods the invalidate() and invalidateField() is not showing errors

[2022-08-13 08:23] deandreamatias commented on #1105
Share a sample code please

[2022-08-13 09:07] #1104 closed

[2022-08-14 18:30] henry-ht commented on #859
I'm a little late, but I discovered that the documentation is somewhat outdated. with the following change suffixIcon will work.

![image](https://user-images.githubusercontent.com/15837863/184550137-89c11d1f-679c-4aca-9241-8bff17fa2937.png)

[2022-08-15 03:05] ExpertKiD commented on #1104
Hi, is the bugfix released on the pub.dev? I only see the version 7.5.0 released 18 days prior to today only.

[2022-08-15 08:18] YouSour commented on #1029
@r2am9d how can u fix this problem ?

[2022-08-15 08:36] deandreamatias commented on #1104
Will be release in next version

[2022-08-15 17:59] kingcollision commented on #816
Love this question. The ability to save and restore form answers would be immensely useful for my users.

I tried doing something similar with initialValue but you'd have to restart the entire app. I would like something that refreshes the state of the form or initializes with values from data stored on disk.

Anyone else have any thoughts or suggestions?

[2022-08-15 18:38] deandreamatias commented on #816
Your state management can be restore the data and set by patch value, maybe? I don't know, a suggestion

[2022-08-17 01:50] ExpertKiD commented on #1104
Is there a specific timing on that or do I have to wait for some time?

[2022-08-17 05:28] deandreamatias commented on #1104
I will check the PR comment and publish new version this weekend if all works that expected

[2022-08-19 08:40] deandreamatias commented on #964
@BLaZeKiLL I don't understand your question. What do you need? Show a form field value in another widget?

[2022-08-19 08:44] deandreamatias commented on #963
@Marcosmaliki  You can disable your hidden fields and set `skipDisabled` on `FormBuilder`.
If this is enough for you, please close this issue

[2022-08-19 08:56] deandreamatias commented on #920
@tas-unn please test the latest version of package and report if this issue still happend

@globalwebforce read our [Code of Conduct](https://github.com/flutter-form-builder-ecosystem/.github/blob/main/CODE_OF_CONDUCT.md). Your replay isn't accept in this organization because don't being respectful with one of our maintainers. If you continues, we will can restrict or ban access to this organizati

[2022-08-19 08:58] deandreamatias commented on #863
This will be solve with #1106

[2022-08-19 08:58] #863 closed

[2022-08-19 09:56] BLaZeKiLL commented on #964
This is similar too 2 way binding in angular,

Suppose I have a text input field and a plain old text widget. I would like to have the value from the text field be reflected in the text widget without needing to submit the form

So if we have a builder widget that returns the forms current value we can have a text widget in side the builder reading the form value and displaying it.

Anytime the te

[2022-08-19 10:00] deandreamatias commented on #964
Ok, maybe with `formKey.currentState.instantValues['fieldName'].value` can be access to instant value of field and used in widget that you want

[2022-08-28 02:18] #462 closed

[2022-08-29 01:41] rmControls commented on #951
Hello I am getting the same error... the above link doesn't work... can you please share the link again...?

[2022-09-02 18:09] lucianokapluk opened #1108 "How can I know if the form is dirty?"
## Environment
**Flutter version: 3.3.0**
**Package version: 7.6.0**

## Describe your question
 How can I know if the form is dirty to use that validation in the onWillPop method?

[2022-09-05 08:29] deandreamatias commented on #935
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-09-05 08:29] #935 closed

[2022-09-06 06:23] deandreamatias commented on #1108
Hi!
Inside package don't have a property or method to this.
But, maybe you can implement some like this:

[code]

[2022-09-06 14:39] TOMER628 opened #1110 "update product work in fine,but in edit product the initial values not update correctly | Flutter Form Builder"
when i update values in existing Product thats work fine and that show up also in Shop navigator.

But when i edit same product again the Initial Values is remember old values.

**Screenshot :**

**Original Product**
[https://img-c.udemycdn.com/redactor/raw/q_and_a/2022-09-06_14-22-10-463c86e33869350cf12d6b64461561c2.PNG](url)

**Title edited and show the changed**
[https://img-c.udemycdn.com/reda

[2022-09-06 16:29] lucianokapluk commented on #1108
@deandreamatias  Thank you !! It works perfectly.

[2022-09-06 16:29] #1108 closed

[2022-09-07 06:21] #1110 closed

[2022-09-07 12:30] Marigi-tech commented on #671
Was this ever solved?

[2022-09-07 13:25] deandreamatias commented on #671
No. Need create this widget and integrate a FormBuilderField

[2022-09-10 08:25] #1105 closed

[2022-09-10 08:25] Raviteja11122 commented on #1105
Something wrong with my code package is working as expected.

[2022-09-12 06:21] deandreamatias commented on #671
Maybe can get [this implementation](https://github.com/TaimoorHassan/multiselect) and adapt to this package

[2022-09-14 16:58] xetra11 commented on #719
Looking for that as well - need the cursor to fit the input height!

[2022-09-14 20:57] #719 closed

[2022-09-15 02:20] MarnoDev commented on #666
Make sure your name is unique

`name: UniqueKey().toString()`

[2022-09-15 21:10] SergeBerwert opened #1113 "How can I handle the default selected item in FormBuilderDropdown?"
## Environment

"7.6.0"

## Describe your question
How can I handle the default selected item in FormBuilderDropdown? When the date contains a value that is not in the items list or the value is null is there a way to set a default value instead of getting an error?

[2022-09-16 16:49] danvick commented on #1113
That's how Flutter's DropdownField works.

Also, remember that the 'error' is a failed assertion and happens only in debug mode. In release mode, the default value becomes null if the value set is not in the list.

[2022-09-17 15:59] deandreamatias commented on #1025
Hi @ducdac
This package use the default inputs from material to build the form inputs.
I found some issues related in flutter repository:

- https://github.com/flutter/flutter/issues/71670
- https://github.com/flutter/flutter/issues/62401
- https://github.com/flutter/flutter/issues/59685

I think that this problem is originated by flutter dependency

[2022-09-17 16:05] deandreamatias commented on #887
Hi @bannarisoftwares this still a issue?

[2022-09-17 16:08] deandreamatias commented on #857
This is solved by this commit

https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/commit/648c277178fade39960f94534e452cf21b3d3549

[2022-09-17 16:12] deandreamatias commented on #723
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/new/choose)

[2022-09-17 16:12] #723 closed

[2022-09-18 04:44] arguswaikhom opened #1114 "Is there a way to set textAlignVertical on fields like date picker or date range picker?"
## Environment

**Package version:**
7.6.0

## Describe your question

On fields like **FormBuilderTextField**, we have **textAlignVertical** to set the vertical alignment of the text but I'm unable to do it for the **FormBuilderDateTimePicker** field.

The way I do it now is by creating a fork and adding **textAlignVertical** in the **FormBuilderDateTimePicker**.  [Fork commit](https://github.com

[2022-09-18 12:23] EricRootLee opened #1115 "Initial data to"
## Environment

**Package version:**

## Describe your question

How do I set initial data to the form builder just before it has been rendered or eve after, .

I have a map of data emulating the fields and keys that I want to populate in the form builder

[2022-09-18 13:11] #1115 closed

[2022-09-18 16:04] deandreamatias commented on #1114
Hi!
I think that this is the better and correct way. You can open a pull request with your changes

[2022-09-20 04:54] arguswaikhom commented on #1114
@deandreamatias - Added, please take a look.

[2022-09-20 13:23] Patrick386 commented on #1009
My case:
Occurs when a widget is deleted from the text field widget array.

 **Error: assert(_fields.containsKey(name));**
======== Exception caught by widgets library =======================================================
The following assertion was thrown while finalizing the widget tree:
Assertion failed: file:///Users/patrick386/.pub-cache/hosted/pub.dartlang.org/flutter_form_builder-7.6.0/li

[2022-09-20 14:29] #1114 closed

[2022-09-22 05:37] MatthiasM86 opened #1117 "Create a nested Form"
Hi,
I tried to find an answer or example to my question, how can I build a nested Form? For example I have a contact form and want to add multiple phone numbers and addresses. I didn't found something like a FormArray where I can add multiple FormFields with the same names. Would be nice if you could give me a direction or an example.

BR Matthias

[2022-09-27 02:18] #964 closed

[2022-09-27 02:18] #963 closed

[2022-09-27 02:18] #920 closed

[2022-09-29 04:02] ojolmotovlog commented on #1053
hallo, can i make a function using await? because my function return Future

[2022-10-02 13:48] Shahmirzali-Huseynov commented on #1110
how solve the problem?

[2022-10-02 21:51] Shahmirzali-Huseynov commented on #1115
how solve the problem ? @EricRootLee

[2022-10-02 21:54] Shahmirzali-Huseynov commented on #1099
@halloway  can you explain with the code? because you set the name value before. how solved the problem?

[2022-10-02 21:59] EricRootLee commented on #1115
@Shahmirzali-Huseynov , i used the initial value attribute and a method to transform the json data to initial value.

[code]

[2022-10-03 12:10] halloway commented on #1099
In my original code I missed it out.

[2022-10-03 14:58] OmarHassan25 opened #1120 "FormBuilderTextField ErrorText Multiple lines"

[2022-10-03 16:50] deandreamatias commented on #1120
Can provide more details please?

[2022-10-04 06:51] #1120 closed

[2022-10-05 11:10] Ngarrouche opened #1121 "How to make start the calendar with monday as the first day of the week in the FormBuilderDateRangePicker ?"
## Environment
flutter

**Package version:**
flutter_form_builder: ^7.3.1

## Describe your question
How to make start the calendar with monday as the first day of the week in the FormBuilderDateRangePicker ?

[2022-10-05 15:49] deandreamatias commented on #1121
This is set by your localization I guess

[2022-10-06 16:56] Ngarrouche commented on #1121
ok will try to set it .. Thanks

[2022-10-09 08:00] DoomTaper commented on #521
@SachinTanpure Can you share how did you achieve it ?

[2022-10-09 10:58] Shahmirzali-Huseynov commented on #666
@uitlaber how did you solve this problem? When I use setState FormField refresh and name too. how can I fix it?

[2022-10-09 13:17] dfdgsdfg opened #1123 "What is the bast practice for horizontal scroll?"
## Environment
**Package version: 7.7.0**

## Describe your question

`FormBuilderFilterChip` has `Wrap` widget. If I try to make it horizontally scroll it may be like the below.

[code]

Or I can make `FormBuilderFilterChipList` like the one below.
[code]

Any other good practice?

[2022-10-09 14:52] Shahmirzali-Huseynov opened #1124 "Replacing duplicate Field"
## Environment

**Package version:**

[code]

I'm using setState on my page, and when the page refreshes these warnings shown

[code]

[2022-10-09 14:54] pieroashady opened #1125 "Format Selected Slider Text Value"
Hi, can we override the selected text value? Thanks

[2022-10-09 15:24] deandreamatias commented on #1124
Duplicated of #666

[2022-10-09 15:24] #1124 closed

[2022-10-09 15:49] Shahmirzali-Huseynov commented on #1124
but there isn't a solution.

[2022-10-09 15:50] Shahmirzali-Huseynov commented on #1124
@deandreamatias I don't use   ` key: UniqueKey(),`

[2022-10-11 09:14] joeyyy688 commented on #634
Nope, built my own package to solve the issue I was facing. Secondly, that
package was too buggy.

On Thu, Jun 9, 2022 at 7:58 PM Matias de Andrea ***@***.***>
wrote:

[2022-10-13 08:14] fehernyul commented on #1053
It's a good idea, but this issue was closed. I think you have to create a new one with this question.

[2022-10-14 15:26] danvick commented on #562
@Alkabann You know you could just disable input border application-wide from your theme, right?

[2022-10-15 11:03] Siqlain-Hanif commented on #249
@danvick i am looking to add the checkboxShape property of CheckBoxListTile in FormBuilderCheckbox that take OutlinedBorde. Do you have any other requirement for this to work on ?

[2022-10-15 20:14] tylerdurden-87 opened #1126 "initial value in FormBuilderFilterChip<Map<String,dynamic>>"
## Environment

**Package version:**
7.7.0
<details>
  <summary>Flutter doctor</summary>

[code]

</details>

<details>
  <summary>Code sample</summary>

[code]

</details>

## Description

**Expected behavior:**
When supplying initial value, its expected that the values are shown to have been selected by the visual "checkmark" left of the chip text.
**Current behavior:**
the supplied initial valu

[2022-10-15 21:00] tylerdurden-87 opened #1127 "FormBuilderDropdown<Map<String, dynamic>> initial value error"
## Environment

**Package version:**
7.7.0
Flutter 3.3.4 • channel stable • https://github.com/flutter/flutter.git
Framework • revision eb6d86ee27 (11 days ago) • 2022-10-04 22:31:45 -0700
Engine • revision c08d7d5efc
Tools • Dart 2.18.2 • DevTools 2.15.0
<details>
  <summary>Flutter doctor</summary>

[code]

</details>

<details>
  <summary>Code sample</summary>

[code]

</details>

## Descriptio

[2022-10-17 00:52] #1127 closed

[2022-10-17 04:08] #1126 closed

[2022-10-17 05:22] Siqlain-Hanif commented on #249
Oh yeah i think the custom active and inactive icons makes more sense as the border of checkbox can be changed through theming.

[2022-10-18 09:17] PRQAE opened #1128 "Segmented Control"
Hi, I'm facing an issue with segmented control, it was ok but 2 months later it shows me this error after updating the package and flutter:

file:///C:/src/flutter/packages/flutter/lib/src/cupertino/segmented_control.dart:106:10
..\…\cupertino\segmented_control.dart:106
groupValue == null || children.keys.any((T child) => child == groupValue)
"The groupValue must be either null or one of the keys

[2022-10-18 10:46] danvick commented on #1128
@PRQAE Could you kindly include your code if possible?

From what I can deduce from the message, it seems like an assertion warning. It seems the value you've set as your initial value is not part of the list of items available for selection.

[2022-10-22 16:24] deandreamatias commented on #1117
I think that this issue is duplicated from this https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/239. I will close

[2022-10-22 16:24] #1117 closed

[2022-10-23 16:07] kirpit opened #1129 "Improve re-building when change single field (that don't be affect to entire form)"
### Environment
[code]
Tested on Flutter Web, but can confirm the behaviour via code.

Hi! Firstly, this is a great package and really simplifies form handling, much appreciated.

I've created a fully functional form, using some of the provided fields and some custom field implementation. Everything is working including validation as well as form submit. The problem I'm having is when I attempt to

[2022-10-23 16:52] deandreamatias commented on #1129
Hi !
Thanks for your contribution.
I was test this package on web and don't have this behaviour.
I saw the video and maybe this is happend by setState.
Can test with app example code? I think that this don't happens with example code

[2022-10-23 17:24] kirpit commented on #1129
Hi @deandreamatias.

Yes it does the exact same in the application example as well. I just went and added `debugPrint('FormBuilderCheckbox rebuilt: $name');` to the beginning of first a few fields' build function and I can see all of them is being rebuilt every single time another value is changed in the form. You just don't see it with naked eyes. If you follow the codes I've given, you will see

[2022-10-23 20:37] deandreamatias commented on #1129
Perfect. Is better than first video, but I got it the behaviour.
We can investigate more in code to.improve this

[2022-10-23 22:59] kirpit commented on #1129
No worries. I think some of the other reported issues can be related to same problem, such as this one: flutter-form-builder-ecosystem/flutter_form_builder#1058.

This probably has very bad effect on performance since the entire form is redrawn on every type, every slide..

[2022-10-25 02:17] #1113 closed

[2022-10-25 02:18] #887 closed

[2022-10-26 15:05] kirpit commented on #1129
Hey @deandreamatias, wondering how difficult is to fix this without moving too much of code? I would love to help if I'm given clear direction on what to fix exactly because this is a huge issue and causing terrible experience as the form grows. I'm afraid I will have to remove this package otherwise.

[2022-10-26 16:26] deandreamatias commented on #1129
I don't have time now to find a solution for this. If you want make a PR, feel free

[2022-10-26 17:56] javarava commented on #834
I have the same issue. Hi @deandreamatias how do we solve it in a stateful widget?

[2022-10-26 18:15] javarava commented on #834
I was able to solve it with the code below:

[code]

[2022-10-26 23:50] globalwebforce opened #1130 "FormBuilderDropdown suffix icon is not aligned on value"
![Capture](https://user-images.githubusercontent.com/100259991/198158173-851a772a-7432-4432-adec-bcff5e65e09e.PNG)

Package Version:
flutter_form_builder: ^7.7.0

![image](https://user-images.githubusercontent.com/100259991/198159563-f730c4b2-e0d8-46a3-9533-91166efc3084.png)

[2022-10-27 16:25] WasimMemon commented on #687
This issue still happens.  (flutter_form_builder: ^7.7.0)
I have created gist from my code - https://gist.github.com/WasimMemon/3fa67ad821db2be90582bea3521c8afe
Please check and let us know solution for it.

[2022-10-28 19:12] Siqlain-Hanif commented on #249
@danvick my attempt to custom icons for the checkbox

[2022-10-28 19:12] Siqlain-Hanif commented on #249
https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/pull/1131

[2022-10-28 19:15] Siqlain-Hanif commented on #249
https://user-images.githubusercontent.com/53166182/198714669-43225071-6539-4ac7-8d16-bd7749fad019.mp4

[2022-10-28 22:31] mernen opened #1132 "Feature request: expose `FormBuilderTextFieldState` and `effectiveController`"
## Environment

**Package version:** 7.7.0

## Description

**What you'd like to happen:** it would be occasionally handy to have access to the `FormBuilderTextFieldState` class, and `effectiveController`.

For example, I'd like to create a `ClearFieldButton` widget that shows a button for clearing the text field only when it's not empty. The ideal API (for ergonomics and practicality) would be:

[2022-10-29 15:55] deandreamatias commented on #1132
Hi @mernen !
Thanks for your contribution.
This controller in FormBuilderTextField don't is enought to that you want?
https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/blob/722cda4b8180e822d3ef0a6c7ecf7408ceb78f8e/lib/src/fields/form_builder_text_field.dart#L13

[2022-10-29 16:20] mernen commented on #1132
Providing a custom text editing controller is *workable*, but then requires either several lines of handling and disposing the controller, or using hooks. This is fine for screens with a text field or two (I've actually implemented it this way in key parts), but if you're using `flutter_form_builder` you probably have many fields, and you picked the library precisely because it cuts so much boiler

[2022-10-29 16:32] erayerdin opened #1133 "Wrap Error Text"

[2022-10-29 16:46] deandreamatias commented on #1132
Ok perfect, make sense.
Currrently this States isn't public because a old change to fix lint analysis. I think that no has problem to change, but i don't if is a _good practice_ make this State public. Why:

1. Maybe some people will confuse to import widget. `FormBuilderTextField` and `FormBuilderTextFieldState`
2. When create a StatefulWidget, Flutter make the State private by default
3. You can

[2022-10-29 16:49] #1133 closed

[2022-10-29 17:00] deandreamatias commented on #249
As of [this](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/pull/1131#issuecomment-1295889701) and following comments, we decide no implement this feature. Sorry for that

[2022-10-29 17:00] #249 closed

[2022-10-29 17:10] deandreamatias commented on #1130
Hi!
I change the example code to test this and works fine with `suffixIcon`.

[code]

![Screenshot 2022-10-29 19:09:42](https://user-images.githubusercontent.com/21011641/198844321-b84d7c1f-08d5-4e77-baa5-8584da7ed4a5.png)

If you use `suffix`, try align inside your widget

[2022-11-01 02:04] Brunobnahorny commented on #1049
I'm open to help if needed.
I just had to fork the project to solve this unexpected field view change caused by Scrollable.ensureVisible.
Even using the duration parameter to smooth a bit would be acceptable.

In my case, selecting a checkbox option would scroll the checkbox group to top of the page. I understand that focus should be applied but i don't think Scrollable.ensureVisible should be the

[2022-11-01 02:31] anovis opened #1134 "calling setState in the widget resets the form."
I would like to toggle visibility of fields depending on the value of a checkbox (#316).

I am trying to set the state of a seperate variable, but everytime I call setState the state of the form resets to its initial state.

I defaulted a variable and toggle it via setState. everytime setState is called the form resets
[code]
the following  attempt using `FormBuilderCheckbox` didn't reset the form

[2022-11-03 08:21] deandreamatias commented on #1134
Hi @anovis!
Try use  `_formKey.currentState?.instantValue["same_hours"]`
The difference between instantValue and value is that value is only update when save the form (`save()` method)

[2022-11-03 15:17] anovis commented on #1134
Ah!!! thats it. Appreciate the help.

[2022-11-03 15:17] #1134 closed

[2022-11-03 20:50] deandreamatias commented on #1049
Hi @Brunobnahorny
I'm will glad if you can contribute with this.
I don't have much time to implement this complex things, but can review and discuss if necesary.
Thanks!

[2022-11-03 22:28] myThorsten opened #1138 "Is it possible to have different formats for display and for editing?"
Hello :),
I have a question. I want to use a FormBuilderTextField to display a currency. Is it possible to display a formatted value to the user when the field is not being edited and only the number-value when it is edited? I believe that the group separators and currency symbol are helpful for the display, but they are in the way when editing.

I prepared some screenshots (I am from germany). Wh

[2022-11-04 07:45] deandreamatias commented on #1138
Hi @myThorsten
Maybe can set a currency inside text on left side of texfield by decoration property

[2022-11-04 19:39] myThorsten commented on #1138
So, here is how I did it:

![image](https://user-images.githubusercontent.com/9773490/200061081-ca331ae4-d4a4-41c6-957e-fe6823a83855.png)

1. the initial value has to be formatted because inputFormatters are only applied when the user inputs something.
2. valueTransformer has to remove added symbols by the inputFormatter
3. inputFormatter adds group-symbols and suffixes
4. for validators to still

[2022-11-04 19:39] #1138 closed

[2022-11-05 17:09] deandreamatias commented on #1129
Hi @kirpit,
can add a complete example to reproduce this behaviour?
I test some things here but don't found to much info. Maybe the autovalidateMode is related with this behaviour:

Triggers the [Form.onChanged] callback and, if [Form.autovalidateMode] is [AutovalidateMode.always] or [AutovalidateMode.onUserInteraction], **revalidates all the fields of the form.**

[2022-11-05 22:34] #1090 closed

[2022-11-06 00:17] #1089 closed

[2022-11-06 02:46] kirpit commented on #1129
you can reproduce this issue, literally in the example app within this repo. please re-read my previous messages especially the first one that I've reported this issue. I've given you exact steps as to why this is happening:

![image](https://user-images.githubusercontent.com/1009931/200150963-9ba539bc-128a-4422-abf3-bb1477aa0b08.png)

you can simply re-produce this by adding a debug line to your

[2022-11-07 02:00] anovis opened #1143 "Issue with FormBuilderTextField resetting state and closing keyboard (Android)"
*** last update ***
Sorry for opening up the issue... Turned out to be all user error on my end. The error was releated to using MediaQuery.of(context) to render items in one of the fields

https://stackoverflow.com/questions/51320692/flutter-keyboard-disappears-immediately-when-editing-my-text-fields

running version `7.7.0`. works in web. Doesn't work in android

*** Update ****

I believe this

[2022-11-07 02:20] YouSour opened #1144 "FormBuilderSearchableDropdown doesn't clear error text after select or set value"
## Environment

**Package version: ^7.7.0**

## Describe your question
hi , i got problem with FormBuilderSearchableDropdown it doesn't clear error text after i selected or set value, any idea about this problem, thank in advance.
 ## Simple code
[code]
 ## More Detail

https://user-images.githubusercontent.com/9318106/200212864-49e92d6a-3c0c-4c77-a9af-0295f2c75110.mp4

[2022-11-07 02:41] #1143 closed

[2022-11-09 17:35] renittobb commented on #794
I think you can use _formKey.currentState?.isValid  instead of validate() method

[2022-11-10 19:37] rifaljhonatan1 commented on #957
Environment
Package version:
flutter_form_builder: ^7.7.0

yes, I also get same problem.
how to fix this..? thanks

[2022-11-15 02:14] Hu-Wentao commented on #239
Consider nested `FormBuilder`, like this
[code]
value example:
[code]

[2022-11-15 05:24] rizwanansari630 opened #1146 "Keyboard is not opening, When using FormBuilder inside showModalBottomSheet."
this is my code snippet.

1 ) This is my form widget used to show in bottomModelSheet.

class AddCategoryWidget extends StatelessWidget {
  AddCategoryWidget({Key? key}) : super(key: key);
  final GlobalKey<FormBuilderState> _formKey = GlobalKey<FormBuilderState>();
  final categoryNameLabel = "categoryName";
  final categoryTypeLabel = "categoryType";

  @override
  Widget build(BuildContext cont

[2022-11-15 05:26] #1146 closed

[2022-11-15 05:50] rizwanansari630 opened #1147 "Keyboard is not getting opened, when using formbuilder inside showModalBottomSheet."
## Environment

**Package version:**

<details>
  <summary>Flutter doctor</summary>

[code]

</details>

<details>
  <summary>Code sample</summary>

[code]

[code]

</details>

## Description

**Expected behavior:**
 the keyboard is getting closed when clicking on FormBuilderTextField in the widget.

**Current behavior:**
The keyboard should be opened and available to type in the FormBuilderTextFi

[2022-11-17 09:07] mohammedX6 opened #1149 "Change FormBuilderTextField decoration programmatically"
## Ios and android

** 7.7.0:**

I want  to change FormBuilderTextField decoration field programmatically from another field

[2022-11-17 10:33] Hu-Wentao commented on #239
it work for me, I will PR soon  @deandreamatias

[2022-11-19 08:08] hellohejinyu commented on #957
<img width="784" alt="image" src="https://user-images.githubusercontent.com/8766034/202841391-8c05c86c-a201-41a2-9e8c-fd4c4a905b0e.png">

I also encountered this bug, I achieved it indirectly using a dynamic validator

[2022-11-20 15:14] waperp opened #1150 "FormBuilderSwitchCupertino exist?"
I would like to know if there is any way to Switch for IOS available

[2022-11-20 19:25] deandreamatias commented on #1150
Hi!
Sadly, this package don't support most of Cupertino widgets. Take a look on this issue for more context https://github.com/flutter-form-builder-ecosystem/flutter_form_builder/issues/718
Sorry for that

[2022-11-20 19:25] #1150 closed

[2022-11-20 19:38] deandreamatias commented on #1149
Hi!
One solution that I think is create a InputDecoration var and update with app state, like setState or other state management.
With FlutterFormBuilder you can access to decoration (get) but can't update this value directly

[2022-11-20 20:24] deandreamatias commented on #1147
Hi @rizwanansari630!
Are sure that this issue is because FlutterFormBuilder package?
May be you can try use flutter form widgets (TextField) and retry to see if the behaviour is the same
Thanks!

[2022-11-21 05:05] rizwanansari630 commented on #1147
If I am using normal TextField then it is working fine, I am able to open the keyboard and type in it. but in the case of FormBuilder, it's not working.

[2022-11-21 11:35] danvick commented on #1150
To be a bit more precise, [the package supports *any input widget*](https://medium.com/@danvickmiller/building-a-custom-flutter-form-builder-field-c67e2b2a27f4) by using the `FormBuilderField` class.

You can easily create a FormBuilder field with a `CupertinoSwitch` by wrapping it inside a `FormBuilderField` widget like so:

[code]

We'll consider adding common Cupertino fields in the next major

[2022-11-23 12:39] MarcVanDaele90 opened #1151 "Is it possible to put label in front of FormField"
## Environment

**Package version:**

## Describe your question
Our designer made something like this, where the labelText is in front of the inputfield
![image](https://user-images.githubusercontent.com/90178346/203548519-1f96d008-5f70-4600-a76b-a722e8cca5ee.png)

Is this currently supported?
If not, I can wrap every FormField in a Row with a Text() widget in front of it
but this would result in

[2022-11-23 21:11] jmpavan opened #1153 "Search method for a long list"
## Environment

 7.7.0

## Description
Have a search method for a long list.
For example a text box where to write some of the letters of the searched item.

[2022-11-23 21:25] jmpavan commented on #1153
Obviously I mean about a FormBuilderDropdown,

[2022-11-23 21:30] deandreamatias commented on #1153
Hi!
Maybe [this](https://github.com/flutter-form-builder-ecosystem/form_builder_extra_fields/blob/main/lib/src/fields/form_builder_searchable_dropdown.dart)?
Try [this package](https://pub.dev/packages/form_builder_extra_fields)

[2022-11-24 12:33] jmpavan commented on #1153
Thank you, I will try it.

Jorge Mario Paván
+54 9 11 5327 9247
***@***.***

[pavan.jpg]

Sobre 23/11/2022 18:30:53, Matias de Andrea ***@***.***> escribió:
Hi!
Maybe this [https://github.com/flutter-form-builder-ecosystem/form_builder_extra_fields/blob/main/lib/src/fields/form_builder_searchable_dropdown.dart]?
Try this package [https://pub.dev/packages/form_builder_extra_fields]
—
Reply to this

[2022-11-24 13:22] TomTom101 commented on #1022
@huongtran84 Can you tell what needs to be done to show the search box? Thank you!

[2022-11-25 11:46] erayerdin opened #1155 "Provide Value and Error Streams for FormBuilderState"
## Environment

**Package version:** 7.7.0

## Description

**What you'd like to happen:**

For example, the package [connectivity_plus](https://pub.dev/packages/connectivity_plus) has a `onConnectivityChange` stream. When you subscribe to it, you get the changes in real time.

[code]

This is especially useful in state managers, specifically Bloc. [Here](https://www.youtube.com/watch?v=ricBLKHeub

[2022-11-27 09:52] deandreamatias commented on #1155
This will be a nice feature. Things to consider:

- This onChange should be apply only entire form, for single fields or for both?
- The strem should send the instantValue or savedValues? I think that should be instantValues
- Idea to implement: can be create a streamController on FormBuilder or FormBuilderField and send event each time that call onChange (on setInternalFieldValue or didChange). I

[2022-11-27 10:05] deandreamatias commented on #1151
Hi @MarcVanDaele90!
Try use prefix property inside decoration property, like this [example](https://github.com/flutter-form-builder-ecosystem/flutter_form_builder#implement-reset-clear-or-other-button-into-formbuilderfield)

[2022-11-27 10:14] deandreamatias commented on #1147
@rizwanansari630 Can be add more details to first issue description?
- steps to reproduce
- result of command flutter doctor
- package version

Thanks

[2022-11-27 11:09] MarcVanDaele90 commented on #1151
@deandreamatias Thanks!  That should work indeed!

[2022-11-27 21:08] erayerdin commented on #1155
I think the entire form would be better. Implementing each field a stream would be a-okay, but also an overkill. Streaming the change of entire form would also cover the individual fields. So, anyone interested in subscribing the event change on one field might as well subscribe to the entire form stream and get its value.

I'm not quite much familiar with the underlying concept of this project. S

[2022-11-28 12:42] erayerdin opened #1157 "`FormBuilderState.isValid` is `false` even though the form is valid"
## Environment

**Package version:** 7.7.0

<details>
  <summary>Flutter doctor</summary>

[code]

</details>

<details>
  <summary>Code sample</summary>

[code]

</details>

## Description

**Expected behavior:** `_formKey.currentState.isValid` should return true when all the fields in the form are valid.

**Current behavior:** It does not return true.

## Steps to reproduce

1. Launch the app.
2

[2022-11-28 15:02] deandreamatias commented on #1157
In this cases the better way to avoid external errors, is build minimal example to reproduce the issue.
With this example, I can't reproduce the error because doesn't has the Bloc dependencies, like `FormCubit`

[2022-11-28 22:17] erayerdin commented on #1157
[Here's the simplest app that fails.](https://we.tl/t-QVYGEOG0B4)

[2022-11-29 10:08] erayerdin commented on #1157
[Here's the simplest app that fails.](https://we.tl/t-QVYGEOG0B4)

It's a web app.

https://user-images.githubusercontent.com/2399084/204495594-03346b09-4884-4701-85f8-c3e8e4e28fca.mp4

As you can see, even though I put `foo@bar.b` and it is valid since there are no error texts, the validity text does not change.

The validity text, however, changes when I put `foo@bar.ba`. It seems like `FormBuil

[2022-11-29 10:33] erayerdin commented on #1157
The strange thing is, a plain function validator works as I expected, see this:

[code]

So, this might be a bug in `form_builder_validators`?

[2022-11-29 10:38] erayerdin commented on #1157
Not only `FormBuilderValidators.email`, but `FormBuilderValidators.minLength` fails to this as well.

[2022-11-29 10:51] erayerdin commented on #1157
I confirmed [this email regex pattern] has [no problem](https://regex101.com/r/TmX1LS/1). Also considering `FormBuilderValidators.minLength` fails, I think this is not a problem originating from `form_builder_validators`.

Also, `FormBuilder.onChanged` has no problem because it works with plain function validators. So, it also has no probs with it.

This rabbit hole goes deeper baby.

For now, I w

[2022-11-29 17:05] deandreamatias commented on #1157
Should try run minLength validators tests with your password.
I'm not sure where is your problem, but try apply your validator on example app, only with minimal widgets, no bloc or other things

[2022-11-29 22:21] erayerdin commented on #1157
Sure thing, I can even provide the code directly. This uses `StatefulWidget` instead of Bloc.

[code]

If you input `foo@bar.b` as input, the value for `_FormPageState.isValid` will be false even though there's clearly no error or error text in the field.

However, the second you put a new character, let's say `foo@bar.ba`, `_FormPageState.isValid` will be true.

The value of `_FormPageState.isVal