[2021-05-05 02:30] YouSour opened #791 "get error text from form builder validation"
hi , i'm using form builder , everything is ok , but i don't know how can i get error text from form builder validation and show it somewhere else i want , i don't want to show it under the textfield , example i want to show it on **SnackBar** , or **Alert** , how can i do it ? thank in advance 😅

example image :

![1dQdc](https://user-images.githubusercontent.com/9318106/117093673-d7f2b900-ad8b-1

[2021-05-05 06:56] hareendranmg commented on #788
Same

Unhandled Exception: type '(String) => void' is not a subtype of type '((String?) => void)?'

[2021-05-05 18:15] insanebaba commented on #788
Same error for `FormBuilderValidators.minLength`

[2021-05-05 19:19] MattiaEffendi opened #792 "Disable error message showing"
Hello!

I would like to completely remove the error message showing when a field is invalid. This is because i am using some custom logic and so when it is invalid i just want to color the container wrapping the textfield.

Right now, i am using `validator: FormBuilderValidators.email(context, errorText: '')` as my validator, but the result is this one, because the error text doesn't get completel

[2021-05-05 20:22] rajd90 commented on #790
i just ran into the same problem. also noticed that FormBuilderChipsInput doesn't seem to be available anymore.

[2021-05-06 14:46] jeanmatthieud commented on #716
It's now the case with v6.0.0

[2021-05-06 14:49] edwin0401 commented on #782
Same here, after upgraded to null safety.

════════ Exception caught by gesture ═══════════════════════════════════════════
Expected a value of type '(String?) => void', but got one of type '(String) => void'

[2021-05-06 19:09] babakoto commented on #788
same error
(String) => void' is not a subtype of type '((String?) => void)

[2021-05-06 21:36] alexmarkley opened #793 "iOS Hardware Keyboard Support"
I'm using `flutter_form_builder` version 6.0.0 (thanks again for updating it!).

When editing a multiline text field using a hardware keyboard on iOS, I've noticed that the up and down arrow keys are not behaving as expected.

Expected behavior: Up and Down arrows should navigate the cursor to the line above or below.

Observed behavior: Up and Down arrows cause the cursor to move to the left and

[2021-05-07 01:44] hienhodeveloper opened #794 "Listen for all fields are valid without show errors"
I want to disable/enable submit button when all fields are validated correctly. How can I archive it? I try using "onChanged" like this. It works, but I don't want all my fields to show errors for every changed

[code]

[2021-05-10 17:32] zozeei opened #795 "FormbuilderDatepicker Unhandled Exception: A FocusNode was used after being disposed.Once you have called dispose() on a FocusNode, it can no longer be used"

[2021-05-10 22:23] Ted-chiptech commented on #790
I think it removed in the latest build, not sure when will add it back, but I've built my own widget which does similar stuff.
Will need to add the flutter rating bar package. https://pub.dev/packages/flutter_rating_bar
[code]

[2021-05-11 01:17] YouSour commented on #792
i got the same problem 😞

[2021-05-11 01:18] YouSour commented on #791
solved

[2021-05-11 01:18] #791 closed

[2021-05-11 01:20] YouSour commented on #794
i want to know too , how ?

[2021-05-11 08:30] vietstone-ng opened #796 "Cannot run the example app"
Hi, I tried to build the example app for iOS simulator, but it report error.
Below is the log.

Please help. Thank you.

[2021-05-11 09:39] lchaglla commented on #782
Try with this:

`FormBuilderRadioGroup<String?>(
...
)`

[2021-05-11 13:29] piyachetk commented on #723
I was trying to patch values when initializing the page and ran into the same problem. I solved this by conditionally setting the initial value and now the UI is displaying correctly. Maybe you could try my solution and call setState to rebuild the UI.

[2021-05-11 17:12] kilroy05 commented on #778
Yes, the one field I really need :D

[2021-05-11 19:21] oxyii commented on #782
@lchaglla Thank you, it's works. But I will not close this issue. i'm sure this should be the default in null-safety env

[2021-05-13 03:20] YouSour commented on #792
@MattiaEffendi  here my solution :
[code]

[2021-05-13 22:41] nstrelow commented on #353
Probably can be closed since FormBuilderColorPicker has been removed

[2021-05-14 08:21] fehernyul opened #797 "Is there FormBuilderDropdown lazy loading items?"
Hi,

I need that function which allow me to get the FormBuilderDropdown items when I tap/push on down-arrow in the side.
When it's dropping-down/opening, this should be call an HTTP request for the real/big FormBuilderDropdown-items.
BUT before **it this need to show the initialValue!**

Because of this error message I got all the time:
"There should be exactly one item with [DropdownButton]'s val

[2021-05-14 11:32] fehernyul opened #798 "[FormBuilderTextField] Add allowClear"
Exactly the same like in FormBuilderDropdown.
I tried to make this, but the looking what it displays so wierd.

![image](https://user-images.githubusercontent.com/25593792/118264892-b21a9200-b4b8-11eb-859a-a194c762f47b.png)

        child: Row(
          children: [
            Flexible(
              child: FormBuilderTextField(
                name: controlId,

                decoration: InputD

[2021-05-15 17:45] barbalex commented on #788
I am getting this when i add an `onChanged` property to a `FormBuilderTextField`.

I have no idea how to get a FormBuilderTextField to work. My `FormBuilderDropdown` and `FormBuilderDateTimePicker` work fine though 🤔

[2021-05-16 01:50] jayjah commented on #795
[addressed here](https://github.com/danvick/flutter_form_builder/pull/799)

[2021-05-16 16:17] danvick commented on #789
Hi @caseyryan,
With the coming of null-safety, most of the users of this package demanded that we support null-safety. However, most packages - including the one offering Cupertino date picker - were not null-safe and were not being updated fast enough.

As a trade-off, we decided to have the package decided to remove the fields that depended on external packages from the package and have only tho

[2021-05-16 16:18] danvick commented on #789
In the meantime, feel free to copy the code of said field from the old version. It should work - as there isn't much incompatibility in code.

[2021-05-16 16:38] caseyryan commented on #789
What do you mean by saying that cupertino date picker is supported by external package? It's definitely supported by flutter itself and I have made my own form field with cupertino picker already. It's 100% null-safe. That's really sad that such a great package loses really needed functionality

[2021-05-16 20:46] babakoto commented on #788
Like this
**((bool? data) => { /*****************************/ }),**
not
**(bool data)=> { /***** /} or (String data) => { }**

[2021-05-16 20:47] babakoto commented on #788
![image](https://user-images.githubusercontent.com/44688702/118412139-a1287700-b698-11eb-9f37-21d9026347d7.png)

[2021-05-17 05:11] Jens-EstateMate opened #800 "setState() called after dispose(): _FormBuilderTextFieldState#c3a8c(lifecycle state: defunct, not mounted)"
Please can anyone assist. We are using FFB for the login and signup areas, and Firebase with GetX statement management. The error below seems to occur adhoc in the application, when typing in the FFB input field. Sometimes it happens, sometimes it doesn't.

I have done some digging around the subject, and the problem is that I am not calling 'setState()' anywhere while input is changing, and there

[2021-05-17 14:46] danvick commented on #789
What I mean is that we had initially used an external package to achieve the functionality.

[2021-05-17 14:51] danvick commented on #789
If you've been able to build your own without using an external package kindly feel free to submit a PR for review.

[2021-05-17 17:31] #775 closed

[2021-05-18 10:15] barbalex opened #801 "onChange in FormBuilderTextField errors, thus makes field unusable"
This is my widget:
[code]

Typing into the field results in:
[code]

If I uncomment the onChanged property it does not happen.

Seems similar to the following issues:
- https://github.com/danvick/flutter_form_builder/issues/788
- https://github.com/danvick/flutter_form_builder/issues/782
- https://github.com/danvick/flutter_form_builder/issues/703
- https://github.com/danvick/flutter_form_builder/

[2021-05-18 14:14] imhafeez commented on #801
replace `onChanged(value){}` with ` onChanged: (String? value) {},`

[2021-05-18 14:28] barbalex commented on #801
@imhafeez Thanks a lot, that solved it.

I am a newbie dart dev, experienced JavaScript dev, not having worked with typed languages before. So maybe it would help to add this to the docs/examples. Or maybe I am just too new to types/null safety and have to learn some more.

Thanks a lot for this great tool!

[2021-05-18 14:28] #801 closed

[2021-05-19 07:16] TENX-S opened #802 "[Question] How to change the height of FormBuilderTextField ?"
![InkedScreenshot_20210519_151235_com example easy_rent_LI](https://user-images.githubusercontent.com/40336192/118771434-1f616500-b8b5-11eb-86cc-1edece0a9022.jpg)

[2021-05-19 11:07] jayjah commented on #795
@zozeei this issue can be closed, till PR got merged and update is available, even on pub.dev

[2021-05-19 12:10] TENX-S opened #803 "setInternalFieldValue does not work"
Maybe I just didn't use it right.

[code]

[2021-05-19 13:13] guenth39 opened #804 "ValueTransformer is called with null"
`ValueTransformer` is defined as

https://github.com/danvick/flutter_form_builder/blob/56c8c27860b668ccf4289efa1e2e4c4fed67e79b/lib/src/form_builder.dart#L4

but the Function is called with `null` sometimes. Please change the definition to

`typedef ValueTransformer<T> = dynamic Function(T? value);`

or ensure that it's not called with `null`.

[2021-05-19 17:17] barbalex opened #805 "validator not running in FormBuilderTextField since update 6.0.0 to 6.0.1?"
My validators worked before but do not seem to run any more now.

[2021-05-19 20:55] danvick commented on #805
Hi @barbalex,
 Could you kindly share your code if possible to reproduce the issue

[2021-05-19 21:19] mario202k opened #806 "Unhandled Exception: type '(DateTime) => void' is not a subtype of type '((DateTime?) => void)?'"
[code]
onChanged not triggered.
Am I the only one on that?

[2021-05-19 22:14] #804 closed

[2021-05-19 22:23] danvick commented on #806
I believe this issue has been fixed in 6.0.1 or is yet to be published. In the meantime, consider refactoring your code - if doesn't work in 6.0.1 -  like so:

[code]

[2021-05-19 22:26] danvick commented on #803
Which version are you on?

[2021-05-19 23:02] S-ecki opened #807 "Question: Standard TextFormField with FormBuilder"
I am trying to emulate the typeahead field (which was deleted on the null-safe version) with Flutter´s Autocomplete + a standard TextFormField
I am wondering whether I can use integrate this field into my ForumBuilder and eg save it. If not, what would be the best practise for doing this? Wrapping the Autocomplete field with an own Form and always handling both forms on a save etc?

Another questi

[2021-05-20 00:08] TENX-S commented on #803
^6.0.1

[2021-05-20 08:00] webtransplatform opened #808 "FormBuilderDateTimePicker show picker on enter control (web)"
First of all, thank you very much for this amazing package. This helps us so much.

I develop a web-project with this package (flutter_form_builder, with the newest version 7.xx)
When the user steps within controls with pressing Tab keys, the focus is looping through the controls very nicely. But when the focus is dropping to an FormBuilderDateTimePicker, the "onShowPicker" method is executing imm

[2021-05-20 08:20] barbalex commented on #805
This is a text field that is used for dynamic data and saves automatically when it looses focus:
[code]

[2021-05-20 12:18] S-ecki opened #809 "Text Field not able to expand"
Before null-safety, you could make the FormBuilderTextField expand vertically based on the input when setting `maxLines: null`.

Because `maxLines` is now (version 6.0.1) of type `int` and not `int?`, null cannot be assigned anymore. However, I did not find a reason why maxLines could not be nullable.

This also breaks the `expands` property, because for it not to throw an error, both `minLines` a

[2021-05-20 14:22] guenth39 commented on #804
Thanks a lot for the prompt fix 🎉

[2021-05-21 11:33] quanglefed commented on #617
Hi, any update for this?

[2021-05-21 11:45] nipunasudha commented on #617
I only requested this feature because `onChange` was broken at the time. The question "Does the form have any changes" feels like a little bit subjective, since not everybody want to detect ALL the changes to the form. So I suggest you to implement your own `isDirty` flag using the `onChange` callback.

[2021-05-22 11:23] marko-mlinarevic commented on #768
Were you able to look at signature safety?

[2021-05-23 15:56] barbalex opened #812 "FocusNode used after being disposed"
I am saving automatically when focus leaves the TextField:
[code]

Unfortunately I keep getting this error:
[code]

I am using flutter_form_builder in version 6.0.1.

Seems related to https://github.com/danvick/flutter_form_builder/pull/799. But that should be merged into version 6.0.1, I think.

[2021-05-23 15:59] barbalex commented on #805
Another example is this one here: https://github.com/danvick/flutter_form_builder/issues/812#issue-899050952

[2021-05-23 16:02] barbalex commented on #805
By the way @danvick: Thanks a lot for this great tool. Sorry, that sound null safety seems to be creating a lot of work for you.

[2021-05-23 19:12] marko-mlinarevic opened #813 "FormBuilderRadioGroup bug"
It has bug
[code]

[code]

[2021-05-23 20:02] marko-mlinarevic commented on #813
Solution was to add

[code]

[2021-05-23 20:02] #813 closed

[2021-05-24 20:24] MattiaEffendi commented on #792
@YouSour just managed to fix mine by changing height to 0 instead of your solution, since it was giving me an error!

Thanks! 🎉

[2021-05-27 11:26] rainerlonau commented on #785
I get this error here:
[code]

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.0.6, on Microsoft Windows [Version 10.0.19042.985], locale de-DE)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.1)
[√] Chrome - develop for the web
[√] Android Studio (version 4.1.0)
[√] Connected device (3 available)

• No issues found!

[2021-05-27 11:36] Faaatman commented on #785
@rainerlonau  Oh yeah, that problem happened when he upgraded flutter_form_builder to 6.0.1. I used flutter_form_builder 6.0.0 for this to work.
Use the following in your pubspec for the phone field to work.
`
flutter_form_builder: 6.0.0
`

[2021-05-27 11:55] rainerlonau commented on #785
@Faaatman wow, thanks for this fast reply! It works with your pubspec entry.

[2021-05-27 18:38] codeorelse commented on #713
@SM2DevLLC did you find a way around this, by any chance?

[2021-05-28 05:16] huylethanh opened #815 "FormBuilderDateTimePicker throws exception when having valueTransformer callback"
I got the exception -> Unhandled Exception: type '(DateTime) => String?' is not a subtype of type '((DateTime?) => dynamic)?'
it happen when i have the valueTransform call back. the root cause might be the DateTimePicker return the DateTime? but the FormBuilderDateTimePicker's initValue is DateTime (without ?). Can you take a look at this issue?

[2021-05-29 07:26] tahesse commented on #809
This patch is badly needed on my side. Please let me know if I can assist with this.

[2021-05-29 13:07] anshgwash opened #816 "Restore form state?"
If I turn on "don't keep activities" on Android Dev Options, the data input by user in my form gets deleted when you switch out of the app and come back (as expected).
- Is there any way to keep or save this data and then restore the user's input?
- This way data isn't lost if the OS decides to get rid of the app in the background.

I tried putting the form key in RestorableValue and use Restorati

[2021-05-30 21:52] wyxcoder opened #817 "requestFocus doesn't work on FormBuilderTextField if reset is called"
I use text field with focusnode like

           new FormBuilderTextField(
            focusNode: myFocusNode,
            keyboardType: 'number',
           ...
On a button press, I call below code

              if (_formKey.currentState.saveAndValidate()) {
                   _formKey.currentState.fields[field_name].reset();
                    myFocusNode.requestFocus();
             }
The res

[2021-06-01 14:04] Aerofluxx opened #818 "FormBuilderDateTimePicker - resetIcon"
Maybe someone can help me with the `resetIcon` parameter in FormBuilderDateTimePicker.

I'm not able to get a `resetIcon` with my code below:

[code]

Any hints what I'm doing wrong?
Thanks a ton!

[2021-06-05 21:07] SpeedyVV commented on #729
Could you kindly show how you did that?

[2021-06-06 06:22] yarmel commented on #729
Please follow these links to get some ideas on your own widget

Stateful Widget - https://gist.github.com/yarmel/6bbafbf06e6c075340d9600d14d3cf32
Upload Service - https://gist.github.com/yarmel/a5c4bfcbc45542310fc623088bdbbf98

And finally in code just place:
FormBuilderMediaUploader(
      name: 'cover',
      image: _data['cover'] ?? '',
)

Check how it works in my app ;)

/// AppStore & PlaySto

[2021-06-09 02:29] alnah005 opened #824 "email validator passes when email in a different language"
![image](https://user-images.githubusercontent.com/29386674/121283365-93819e00-c8a0-11eb-94a6-be4ead84478a.png)

![image](https://user-images.githubusercontent.com/29386674/121283249-6d5bfe00-c8a0-11eb-9ab9-f6b647bf1ecc.png)

[2021-06-09 06:25] sultanmyrza opened #825 "TypeSafe forms (feature request?)"
currently `FormBuilder.initialValue(formSchema)`
formSchema is `Map<String, dynamic>`
any plans for making **"form schema"** type safe?

[code]

[2021-06-10 08:09] igiazlas commented on #713
Is there any update on this issue?

[2021-06-10 15:03] Draxent opened #826 "FormBuilderDateTimePicker do not use alwaysUse24HourFormat property in version 6"
The property alwaysUse24HourFormat in FormBuilderDateTimePicker is not working anymore
Looking at the code I can see the property is not used at all.
In version 5 it was working, in version 6 is not.

[2021-06-10 15:19] Draxent commented on #812
I have the same and I am using version 6.0.1

[2021-06-12 23:54] hysuki opened #827 "Remove errors created with FormBuilderValidators"
I want to remove the error message caused by validation() using FormBuilderValidators when changing the user value.

Is there a way to manually remove the existing error message when the user changes the value of the text field using onChanged?

For example

`formKey.currentState.fields["email"].removeError()`

Although it is possible to use errorText without simply using FormBuilderValidators, I

[2021-06-14 19:58] ayaanpathan commented on #389
How do i make the radio button list like this? can you please share the snippet? Also how do I keep the title on the left and the radio button to the right, like spacebetween?

[2021-06-14 20:03] ayaanpathan opened #828 "Customize radio button shape and color"
Hello,
First of all, thank you so much for creating this amazing package. I just wanted to ask if there is any way to customize the radio button, set it's color and shape

[2021-06-14 20:08] ayaanpathan commented on #389
Hi, How do i customize the shape and size of the radio button

[2021-06-15 15:13] alpertungir commented on #313
many thanks. it's solved by wrapping with Focus.

![image](https://user-images.githubusercontent.com/4275327/122078588-5fa8fa00-ce05-11eb-8911-21e4b0ac340f.png)

[2021-06-15 17:11] kvbogdanov opened #829 "FormBuilderCheckboxGroup and didChange issue"
**FormBuilderCheckboxGroup** does not reacting on setting values with **didChange**

                                        FormBuilderCheckboxGroup(
                                          key: UniqueKey(),
                                          name: "condition",
                                          initialValue: [],
                                          options: [

[2021-06-15 18:48] eliezerp3 opened #830 "Change part of a text field style"
Hi. Absolutely love this framework and thank you to all who contributed. I have a text field that i want if someone types in '@username' then that part should turn blue but the rest should stay black. Is there any way to change the style of part of an input programmatically?

[2021-06-16 11:18] Shiba-Kar opened #831 "[ flutter_chips_input ] is not resent in versions above 5.0.0"

[2021-06-16 22:28] rmControls opened #832 "What is the right way of Implementing FormBuilderChoiceChip??"
on select of particular chip I want to use the value for some calculation and display....
I tried to achieve it with onChanged method and it is not working, I am getting following error when I tried to implement it....

_Couldn't infer type parameter 'T'. Tried to infer 'int?' for 'T' which doesn't work: Parameter 'onChanged' declared as 'void Function(T?)?' but argument is 'void Function(Object?)

[2021-06-17 00:19] rmControls opened #833 "How to set initial value in FormBuilderChoiceChip?? (One chip pre selected)"
On screen load I want to make one specific chip pre-selected how to achieve it??

I tried with` initialValue = 2` and it is not working....

[2021-06-17 09:44] Mohdx opened #834 "initialValue from arguments & TextEditingController"
Hi.
Need the initialValue to view old value text from previous page (I'm passing that by arguments)
Then after editing the textformfield, get the edited value text from TextEditingController

is this possible?
I found it confusing to do in flutter_form_builder
Because if there's a TextEditingController , The initialValue won't show in the textformfield

[2021-06-17 13:26] evanholt1 opened #835 "get clicked checkbox"
Hello!
In my app, i will have an item additions screen, with multiple _FormBuilderCheckboxGroups_, each indicating a specific category of additions.
In that screen there will be a total item price as well, reflecting the changes in the item's price as additions are selected and
un-selected.

Due to this, I want that on the click on any checkbox to immediately add it's price (in an ItemExtra model

[2021-06-17 18:38] ShadyZekry commented on #834
Hi @Mohdx ,
You can pass the initial _string-value_ to your `TextEditingController` Constructor. You shouldn't be using the `initialValue` named-parameter of the `FormBuilderTextField` with a text controller, this assertion will be false:
[code]

<br>

**An example of what you are trying to do:**
[code]

[2021-06-17 19:22] ShadyZekry commented on #815
Hi @huylethanh,

Can you provide a **_Code snippet_** to reproduce the error, please ?

[2021-06-18 03:20] ShadyZekry commented on #835
Hi @evanholt1,

I suggest that you use this trick:

- You can initialize a Map object in your screen with the types `String`, `List<dynamic>` as the group `name`, and selected values list respectively.
[code]

- Then you can use `onChanged` parameter in every `FormBuilderCheckboxGroup` widget that you use. And in it, you assign the result of the selected `List` with the group widget `name`.
[code]

[2021-06-18 03:28] rmControls commented on #812
I do have same error with my FormBuilderChoiceChip

[2021-06-18 03:44] ShadyZekry commented on #833
hi @rmControls,

I just tried this case, and It's working fine,
I guess that it's not working for you because you are addressing the chip value, and `initValue` is actually addressing the `int` value of the chip.
[code]

![image](https://user-images.githubusercontent.com/42680354/122502883-bfff8d80-cff7-11eb-985e-5de7f6fdea5f.png)

If that wasn't the right solution, please provide a code-snippet t

[2021-06-18 03:59] rmControls commented on #833
Thank you for the example... it was my fault... I assumed that initialvalue is an index of options... its actually a value of one of the option....

can you also help me to resolve my other question... [https://github.com/danvick/flutter_form_builder/issues/832](https://github.com/danvick/flutter_form_builder/issues/832)??

[2021-06-18 03:59] #833 closed

[2021-06-18 04:19] ShadyZekry commented on #832
Hi @rmControls ,

I just tried your code-snippet, and everything is working fine on package version`6.0.1`.
Please, provide which version of the package that you are using,
and provide the code you want to implement and is failing.

[2021-06-18 04:41] ShadyZekry commented on #830
Hi, @eliezerp3,
Unfortunately, Flutter's  `Textfield` doesn't have this feature, but you can:
* Follow this gist https://gist.github.com/pulyaevskiy/d7af7217c2e71f31dfb78699f91dfbb5, and implement it yourself in your app.
OR
*  Just use this Package https://pub.dev/packages/rich_text_controller.

<br>

And if you need to request this feature in the package, you can mention **_Danvic_** to discuss

[2021-06-18 05:22] rmControls commented on #832
I am also using version 6.0.1...
flutter version 2.2.2
android studio 4.1.0

[2021-06-18 08:32] Sathish9222 opened #836 "How can i change the label color of FormBuilderSearchableDropdown?"
How can i change the label color of FormBuilderSearchableDropdown?

Any Sample please

[2021-06-18 18:41] zsyphon commented on #812
Same issue here using FormBuilderTextField. @barbalex have you found a work around?

[2021-06-18 18:52] barbalex commented on #812
@zsyphon I am not using form_builder any more.

[2021-06-20 07:40] evanholt1 commented on #835
Hello again!
thanks for your reply.

  I am sorry, i must have clarified more in the question:
  I have an _**ItemExtra**_ model which has a property _**Map<ItemExtra, Null> extras**_ (it should be a Set, but wrote it a Map because of Hive-Flutter's constraints),
and an **_Item_** model whose **_price_** property  changes based on the _**ItemExtras**_ chosen.
  _**Map<ItemExtra, Null> extras**_ is

[2021-06-20 09:09] evanholt1 commented on #835
### UPDATE:
I found out the most performant way to do this was to add 2 properties to _**FormBuilderCheckboxGroup**_,
one is of type _**Function**_(I called _**onCheckboxChanged**_), and is the custom function which will be executed on clicking any checkbox in that group,
and the other is of type _**T**_ (I called _**identifiers**_), and is the argument to the custom function above which will help

[2021-06-20 09:20] evanholt1 opened #837 "min-max list length validation"
Currently, there is no _**FormFieldValidator**_ to validate if a list's length has a minimum amount of elements, or a max amount of elements.

  An example of this usage would be to make a _min-max_ selection of elements in a **_FormBuilderCheckboxGroup_** for example, where a user must select between min and max elements checkboxes.

  There is a '**_minLength_**' validator and a '**_maxLength_**

[2021-06-21 07:50] avp90 commented on #780
You can use `maxChips` property on `FormBuilderFilterChip`.

[2021-06-23 12:32] farukaziz opened #838 "Asynchronous validator"
How do I validate asynchronously? The `validator` require `String` return so I can not add `Future`

How can I do like as below with Flutter form builder?
[code]
[code]

[2021-06-23 18:24] Falamarcao commented on #765
@danvick, could you help us understand why you commented the "shape" attribute on commit: [Drop deprecated attributes](https://github.com/danvick/flutter_form_builder/commit/b2bd5ec4f689b7b1da4a0d86bbe0c909a0d736a4)? At first view looks like fine on Flutter Package. Are you standardizing the widget's appearance or just a mistyping?

flutter_form_builder: ^6.0.1
Flutter (Channel stable, 2.2.2)

[2021-06-24 13:53] nstrelow opened #839 "DateTimePicker: initialTime does not show initialTime"
Using initialTime does not do anything.

I had to set initialValue to a date including the time.

[2021-06-25 08:47] YouSour opened #840 "can't reset phone field (form_builder_phone_field package)"
hi , i'm using flutter_form_builder & form_builder_phone_field this version :
[code]
i'm trying to use `_formBuilderKey.currentState.reset();` to reset form but form_builder_phone_field it doesn't reset , how can i reset it ? 🤔

[2021-06-27 08:02] pasblin opened #841 "Form error on hot reload"
`The following assertion was thrown building Form-[LabeledGlobalKey<FormState>#2efbc](state: FormState#83b93):
'package:flutter/src/widgets/will_pop_scope.dart': Failed assertion: line 135 pos 12: '_route == ModalRoute.of(context)': is not true.`

[2021-06-27 20:03] cakaltepe opened #842 "maxLine not nullable"
In the previous version, maxLines:null was enough to stretch the FormBuilderTextField object downwards. But right now the maxLine property is not nullable.

[2021-06-28 03:44] YouSour opened #843 "disable pop up dialog country code on [form_builder_phone_field package]"
hi , how can i disable  pop up dialog country code if i don't want user search an other country from **defaultSelectedCountryIsoCode** ? thank in advance

[2021-06-28 08:23] Asadu43 opened #844 "How can i open bottomSheet onTap of Button FormBuilderImagePicker?"

[2021-06-29 12:04] juanektbb opened #845 "[FormBuilderDropdown] Focus on element when after opening options list"
There is no element selected when opening a dropdown.
How can I focus the first element of the list when opening the dropdown instead of nothing focus?

Why is it relevant?
This is important when making the app accessible with VoiceOver in iOS as the focus is in "Dismiss" which is outside of the options and users need to swipe left instead of right. (Illogical order)

[2021-07-01 19:35] bawantha opened #846 "InputType.number doesnot work in web"
When I have set `InputType.number` I can enter texts without bigger problem

[2021-07-01 20:17] agallo97 commented on #842
Yeah this is breaking for existing app that use this feature. Please give it at look

[2021-07-02 08:07] cakaltepe commented on #842
I guess you wanted to give a link? Because you said "Please give it at look".

[2021-07-03 05:15] YouSour commented on #785
can you guy run your project ios emulator when use this package ? i got an error on xcode like this , any one got this problem too ?
`
Could not find module 'PhoneNumberKit' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator
`

[2021-07-03 12:16] YouSour commented on #785
i solved it by using Rosetta , lol
and in pubspec
[code]
<img width="275" alt="BtLNu" src="https://user-images.githubusercontent.com/9318106/124353795-e1d15500-dc32-11eb-80d5-1f73ddaba555.png">

[2021-07-04 09:56] agallo97 commented on #842
Sorry, there was a typo. I was referring to the devs, I meant "give it a look"

[2021-07-04 12:39] RomainGoncalves opened #847 "How to have inputs with array value"
Hi,

I'm not sure if I'm clear so let me show an example. In HTML I can do this:

[code]

Once submitted that form will send data as an array.

How can I reproduce that with Form Builder?
I have a form right now that creates a new input group when a button is clicked. But I don't know what `name` to give these inputs. Is there a trick already available?

Thanks for any help.

[2021-07-05 08:32] #809 closed

[2021-07-05 17:31] nlfiedler commented on #818
I suspect that `resetIcon` is not actually hooked in anywhere. Searching the code base reveals the property in `form_builder_date_time_picker.dart` and nothing else. Probably something got removed at some point and now the property does nothing. It's a shame, because I would love for a "reset" on just the date picker (not the entire form).

[2021-07-05 21:06] nlfiedler commented on #444
I also cannot find the date picker reset button. There is a property named `resetIcon` but it is unused. Also, cannot manage to clear the value from the field when invoking reset on the form builder state.

[2021-07-06 18:11] codeorelse commented on #713
For now I made a workaround for a manual validation:

[code]

Not the best solution, but for now this is a working workaround.

[2021-07-07 06:28] Shiba-Kar opened #848 "Form Reset Not Working [ver 6.0.1]"
I have a form most of them is textFields i have passed a initialvalue. when i reset the from  using foemkey nothing happens.

[2021-07-08 15:12] ashim-kr-saha opened #849 "After using valueTransformer inside FormBuilderTextField , got error type '(String) => Object' is not a subtype of type '((String?) => dynamic)?'"
[code]

[2021-07-09 07:33] santoshnaagula commented on #754
me too same error, please help.

[2021-07-09 14:33] SalahAdDin opened #850 "Validator weird behaviour with multiple form fields"
Hi,

Thanks for this package, a easy way to handle forms.

However, we are having the next error  when using multiple fields: It validates every fields even if it is not required.
![image](https://user-images.githubusercontent.com/5034215/125091675-4c720d00-e0d9-11eb-92de-2b2cab8b950b.png)
All four form fields are not required actually, if you interact with them and you leave then blank, the valid

[2021-07-13 08:30] thglz commented on #826
I ran into same issue.
Here's a temporary workaround that worked for my app :

[code]
flutter_form_builder : 6.0.1
Flutter : 2.2.2

[2021-07-14 12:50] simonsymhoven opened #851 "Localization with Flutter Intl IntelliJ Plugin not working"
I've added the Flutter Intl IntelliJ Plugin and added three new languages (de_DE, en_US and fr_FR).

![Bildschirmfoto 2021-07-14 um 14 46 43](https://user-images.githubusercontent.com/26878018/125625567-a1fc9073-ef64-499f-b54d-b8955cfba399.png)

I also installed the flutter_form_builder plugin and added the delegate to the MaterialApp:

[code]

 S.delegate.supportedLocales:
[code]

but the localiz

[2021-07-14 16:00] simonsymhoven commented on #851
If I swap the two delegates

[code]

the correct language is set for the form_builder but my own delegate does not work anymore.

[2021-07-14 16:50] dannycortesv commented on #754
Same error here....

[2021-07-15 03:14] YouSour commented on #754
got the same error , anyone got a solution ?

[2021-07-15 09:10] SalahAdDin opened #852 "Checking whether form statatus changes or not"
Hello,

We are using this package to build a simple form with four inputs.

We need to check whether the inputs was changed or not to send an **API** only when the form was changed.

For doing this we decided to compare the current state values with the initial value:
`if (isValid && formKey.currentState!.initialValue != formKey.currentState!.value)`
But it is always true; debbuging this we get `i

[2021-07-15 17:38] santoshnaagula commented on #754
Thank you so much...

[2021-07-15 22:18] ranjansigdel opened #853 "Flutter dropdownbutton error"
DropdownButton<String>(value: selectColor,
                       onChanged: (String? selected) =>
                       setState((){
                        selectColor = selected!;
                       }),
                      items: colorList.map((String item) =>
                       DropdownMenuItem<String>(
                       value: item, child: Text(item),
                       ))

[2021-07-16 05:07] YouSour commented on #754
@santoshnaagula never mind , happy coding 😄

[2021-07-18 08:14] LinusMuema commented on #815
[code]
I believe this produces the same error.

[2021-07-18 19:42] #851 closed

[2021-07-18 22:16] nolandg commented on #838
This would be a great feature. Use cases include things checking if an email addresses already exists in db, using a cloud function to check an image for adult content, hit a cloud spam-checking service to validate text, etc. Allowing this to happen async would really make a smooth flow and not have to break the pattern.

[2021-07-21 04:42] YouSour commented on #687
anyone can solve this problem ?

[2021-07-21 13:09] dean-pearce opened #855 "Removed ImagePicker and PhoneField"
You removed FormBuilderImagePicker and FormBuilderPhoneField for no reason, and this ruined all of my applications that used them after upgrading the dependencies.

Even your "external" pubs for them are out of date so there is no way to use them again.
(https://pub.dev/packages/form_builder_image_picker, https://pub.dev/packages/form_builder_phone_field)

I might just drop this whole Form builder

[2021-07-22 01:02] dtchau commented on #849
I just ran into this issue. If you are still having the issue, you could give the workaround I used a try.
[code]

[2021-07-22 10:46] alihesari commented on #313
@ojm-it @alpertungir But this way does not work for me! I got this error
[code]

[2021-07-22 20:30] dtchau commented on #849
Duplicate of #804.

[2021-07-23 12:28] vivian-ng commented on #778
I really hope a version of this gets implemented in version 6.0.x because I cannot compile a snap right now due to the breaking change... sigh...

[2021-07-23 14:20] cakaltepe commented on #815
[code]
This is my code and same error :(

Unhandled Exception: type '(String) => Null' is not a subtype of type '((String?) => dynamic)?'

This error did not exist before switching to null safety.

If I delete the valueTransformer property it works.

[2021-07-23 21:31] LinusMuema commented on #815
Found a solution a few days ago.
Just infer the parameter type in the value Transformer function and the error will disappear.
Something like:

valueTransformer: (String? value) => value.trim(),

Hope this helps 😁✌

[2021-07-24 15:26] kentomiya89 opened #857 "【FormBuilderDropdown】please support menuMaxHeight"
**menuMaxHeight** has been added in DropDownButton Widget since Flutter 2.2.0 and above.

**menuMaxHeight** allows you to specify the height of the menu window. ↓

https://api.flutter.dev/flutter/material/DropdownButton/menuMaxHeight.html
https://github.com/flutter/flutter/pull/76493

FormBuilderDropdown also wants to specify the height of the menu.
This is what it looks like when the height is sp

[2021-07-27 09:19] Carlo-TMC opened #858 "getting the original filename and filetype from a value return type Uint8list"
Hi, I use this to upload an image using flutter web, i have trouble in getting the correct filename and the type of image, after I upload the file to fire storage, with a just supplied filename, the type is application/octet-stream. What's the proper way of uploading an image to firestorage with the filename and image type like ('image/jpeg') ?

code
` FormBuilderImagePicker(
name: 'myimage',
maxI

[2021-07-28 07:41] supermnemonic commented on #818
i have experienced the same. eventually i downgraded to ^5.0.0-alpha.1.

[2021-07-31 12:24] VickyBOSS opened #859 "[FormBuilderDateTimePicker] Not reset value when form reset is called"
[code]

This behaviour can be achieved via setting the value null of DateTime field manually

`formKey.currentState!.fields["organizedOn"]?.didChange(null);`

[2021-08-02 18:24] laloriru opened #860 "Error in FormBuilderTextField VALIDATOR"
Using the following code from the main page of the package throws an error:
`FormBuilderTextField(
    name: 'phone',
    keyboardType: TextInputType.phone,
    validator: FormBuilderValidators.compose([
      FormBuilderValidators.required(context),
      FormBuilderValidators.numeric(context),
      FormBuilderValidators.max(context, 70),
    ]),
),`

The validator throws error:
`The argument ty

[2021-08-02 18:33] #860 closed

[2021-08-07 07:20] ravgeetdhillon commented on #812
@barbalex What package you are using then?

[2021-08-07 22:29] marko-mlinarevic opened #861 "FormBuilderDateTimePicker issue with 24hour format and keyboard input"
When using time picker, first jumps out wheel selector but if i go to keyboard input and enter number 10 and click done it turns it into 22 h.  Did anyone had this problem

Edit: Exact problem is this if i have always 24hours and initial entry TimePickerEntryMode.input if i enter 14 it throws an error not valid time I found a workaround in this issue https://github.com/flutter/flutter/issues/74018

[2021-08-17 07:08] evanholt1 opened #863 "[FormBuilderRadioGroup] Add possibility to use vertical separator"
In FormBuilderRadioGroup, there is a '_separator_' arguement.
However this separator is always on the same line as the item, even if the orientation is '_orientation: OptionsOrientation.vertical_'.
In the source code it is always part of a '_Row_', no matter the orientation.

How Can i have a **separator** between the radio buttons in the **vertical** direction? i.e: between two radio buttons belo

[2021-08-17 16:58] seunghwanly commented on #313
`FormBuilderChoiceChip` was also occurring issue in my code and I solved this issue by using `effectiveFocusNode`.

Here is my sample code.
[code]

and all FormBuilder Widgets are wrapped up with `FormBuilder` as well.

from adding `focusNode` with `: _formKey.currentState?.fields['{nameField}']!.effectiveFocusNode` it worked for me 👍

[2021-08-18 08:26] alpertungir commented on #313
Define global variable for focusNode and  initialize it on ctor

class _AppTypeEditFormState extends State<AppTypeEditForm> {
  AppType _appType;
  final _formKey = GlobalKey<FormBuilderState>();
  AutovalidateMode _autovalidateMode = AutovalidateMode.disabled;
  FocusNode _focusNode;

  @override
  void initState() {
    super.initState();
    _appType = AppType();
    _focusNode = FocusNode();

[2021-08-22 10:30] LefebvreIlyas commented on #523
Sorry for the late reply @nirbar89 .

I use flutter_form_builder to dispatch the data in the different fields BUT I use a cubit to collect the new values of the different fields. And so at each change I rebuild the view.

You can replace the cubit by something else of course, the principle remains the same.

The solution is quite reactive whether on mobile or web.

If my message is not very clear,

[2021-08-23 11:00] nirbar89 commented on #523
Hey, thank you very much.

I will be more then happy to see an example

[2021-08-23 14:02] YouSour commented on #795
i face this problem too , anyone fixed it yet ?

[2021-08-23 17:07] amoslai5128 commented on #523
I've seen a example by using States_rebuilders, every textfeild has a state to rebuild independently and hooks up outside the widget tree.

Example: https://github.com/GIfatahTH/states_rebuilder/tree/master/examples/ex_002_2_form_validation_with_reactive_model_with_functional_injection

[code]

[2021-08-26 15:22] florianmuetzel opened #865 "Checkbox onTap Handler not working correctly"
If a checkbox within a checkbox within a FormBuilderCheckboxGroup is checked you are not able to uncheck the box.

EventHandler:

Recognizer: TapGestureRecognizer#d4f5e
  debugOwner: GestureDetector
  state: ready
  won arena
  finalPosition: Offset(39.0, 512.0)
  finalLocalPosition: Offset(19.0, 23.0)
  button: 1
  sent tap down

[2021-08-28 01:30] blackchineykh commented on #842
Any update on this one?

[2021-08-28 07:06] savandev17 commented on #817
Facing same issue

[2021-08-28 07:34] cakaltepe commented on #842
Unfortunately :(

[2021-08-29 23:22] szymonmazanik commented on #313
Any update on this, please? @danvick
I'm on the `7.0.0.alpha2` and still get the
[code]
even on simple `FormBuilderTextField`. I get this after changing the state back and forth with flutter_bloc state manager.
I tried declaring `FocusNode` above the `FormBuilder`, tried global `GlobalKey` and local one, created in Statefull widget. Nothing seems to work for me.

If the issue is unsolvable I will

[2021-08-30 06:56] jamilgha commented on #399
for solve this errors  you must add import 'package:flutter/rendering.dart'; in your dart files.

[2021-08-30 06:58] jamilgha commented on #399
add this package in dart file in  form_builder_checkbox.dart
import 'package:flutter/rendering.dart';

[2021-08-31 07:39] hashirshoaeb opened #869 "maxLines should be null able"
FormBuilderTextField.maxLines should be nullable,

Because,

TextField(maxLines: null)

[2021-09-01 11:05] #725 closed

[2021-09-02 16:11] danvick commented on #850
Setting `autovalidateMode` on the Form sets the mode on the whole form. Therefore, if the user has interacted with any field then the whole form has been interacted with and validation will run for the whole form.

Prefer having the `autovalidateMode` set on the specific fields of interest. This may cause repetition but it's the default behavior for Flutter forms.

[2021-09-02 16:11] #850 closed

[2021-09-02 16:14] danvick commented on #839
This is the expected behavior.

`initialTime` sets the default time of the TimePicker widget if there's no value in the field.

[2021-09-02 16:14] #839 closed

[2021-09-04 15:05] pulstar opened #870 "Problems after upgrading to 7.0.0-beta.0"
The DateTimePicker is showing the following error message:

Form fields are having multiple selection after being tapped:

![image](https://user-images.githubusercontent.com/1308392/132098913-4b02c74a-9123-4a1f-a1e2-fbeede410ca9.png)

[2021-09-05 01:32] chiennv97 commented on #870
same issue, please help!

[2021-09-05 07:05] evanholt1 opened #871 "add "toggleable" option for radio group"
as of now, _**FormBuilderRadioGroup**_ does **not** have the option available in flutter for "Radio" widget called "_**toggleable**_".
there are some use cases when selection from a radio group is "_**optional**_", i.e: you can select none, or a max of 1.
yet with this package this cannot be done and workarounds have to be followed for something already available in flutter itself.
  I hope for th

[2021-09-05 09:05] edwin0401 commented on #848
I got the same. Do you have idea to fix it?

[2021-09-07 05:06] huylethanh commented on #812
On version 6.1.0+1 the validation method cause the "Once you have called dispose() on a FocusNode". because if force to get the first invalid field.

[2021-09-07 07:29] evanholt1 opened #872 "disable auto-scroll to first error"
How can we disable auto-scrolling to the first error?
in my current design, it looks jarring when it auto-scrolls, and i would in a certain FormBuilder that it would not autoscroll to the first error.
Can such an option be added to FormBuilder?

[2021-09-07 08:31] vytautas-pranskunas- opened #873 "Example using forms builder with mobx"
Hello,

This package is quite impressive. But it would be super cool if you can add example how to use this package with mobx (https://pub.dev/packages/flutter_mobx). I wonder if this packages suffers from same issues as flutter forms (initialValue vs controller when using with mobx).

Thanks

[2021-09-08 03:04] huylethanh commented on #812
Somehow, the app build with newest version. should force it to previous version. :(

[2021-09-08 09:07] huylethanh commented on #872
That thing make my application ruined and I get the "Once you have called dispose() on a FocusNode, it can no longer be used" all of the time.

[2021-09-08 22:06] patuoynageek opened #874 "didChange function unable to handle null value"
Error
[code]

Code:
[form_builder_text_field.dart#L468)](https://github.com/danvick/flutter_form_builder/blame/master/lib/src/fields/form_builder_text_field.dart#L468)

[code]

`didChange` allows nullable `value` but it then has a bang operator on it

[2021-09-11 03:02] YouSour opened #875 "'package:flutter_form_builder/src/form_builder.dart': Failed assertion: line 135 pos 12: '_fields.containsKey(name)': is not true."
hi, can you show me what is problem here ? i keep get this error , thank in advance
`'package:flutter_form_builder/src/form_builder.dart': Failed assertion: line 135 pos 12: '_fields.containsKey(name)': is not true.`

[2021-09-13 07:54] udhavumullangal2021 commented on #444
The resetIcon is not displaying on the field. I used the suffixIcon inside the decoration, but on clicking the reset icon, it would still show up the DatePicker box.

Will this be fixed any sooner.

[2021-09-13 07:57] santhavathi commented on #818
Will this be fixed anytime soon?

[2021-09-15 07:46] dunika commented on #665
I am also seeing this issue. Has anyone had a chance to look into it?

[2021-09-17 11:35] hazzo opened #880 "Feat: Make radio group focus request optional"
Hi, thanks for the great library!

Could be possible to turn off `requestFocus` with a parameter? The reason is to avoid scrolling to selected radio on change as this might be a desired behaviour. Maybe something like that?

[code]

Thanks again!

[2021-09-20 18:44] WilliamCunhaCardoso commented on #880
Not only for radio group but also to chips form. This mandatory request focus embarrass with forms which are able to scroll. I've implemented an optional attribute, so we can decide whether an option should request focus.

[2021-09-22 15:49] andrewjallenuoft opened #882 "Disable scroll down on changing form builder fields"
As of 6.1.0, when some FormBuilder fields are changed, it forces the page to scroll down to the point where the changed field is at the top of the page. This is quite a jarring experience for the user as it jumps the page down unnaturally. I have not found a way to disable this behaviour, but downgrading to 6.0.1 solves this problem.

This occurs with FormBuilderSwitch and FormBuilderFilterChip on

[2021-09-24 09:23] faisalmushtaq007 commented on #803
facing the same issue, any solution???

[2021-09-25 03:44] lyuscott commented on #706
encountered  the same problem, can anybody help?

[2021-09-25 12:08] pulstar opened #883 "Custom field validation feedback and Flutter 2.5"
I created a custom field extending the FormBuilderField class and it was working fine, but after upgrading to Flutter 2.5 the validation doesn't mark the field as invalid anymore. The form doesn't submit since the field is invalid, and the field should be red, but there is no visual feedback. Do anybody here have any idea of what is wrong?

[2021-09-27 14:51] pulstar commented on #883
I found the solution! Just pass your field decoration to the super constructor:

[code]

And then in the field builder use the state to get the decoration:

[code]

[2021-09-27 14:51] #883 closed

[2021-09-28 07:10] yasirraku commented on #222
Thankful if someone could please share the solution.

[2021-09-28 12:23] WilliamCunhaCardoso commented on #222
Maybe wrapping PageView with a FormBuilder. It is complicated to understand without any code to test

[2021-09-28 14:41] bannarisoftwares commented on #706
Any updates?

[2021-09-29 02:18] bannarisoftwares opened #885 "Getting Assertion failed error: _fields.containsKey(name) is not true, While removing items from dynamic list."
**Context:**
  I am using ReorderableListView.builder(). Inside i have items, which is dynamically we can add and delete. I added validation for those items. Every thing work as expected while adding. But while deleting i am getting following errors on terminal. But items are deleted successfully. So how to fix the following error?.

**Errors:**

[code]
**Source Code:**

_Parent widget code:_

[co

[2021-09-29 10:56] zzzaJ commented on #882
Also having this issue, but with FormBuilderDropdowns.

[2021-09-29 11:56] lehnen commented on #882
Downgrading to 6.0.1 leads to the same problem in my case. But only with FormBuilderSwitch. FormBuilderDropdowns seemed to be ok in 6.0.1.

[2021-09-29 16:55] shkatulo commented on #447
Addidg ValueKey to `FormBuilderTextField` worked for me:

[code]

[2021-09-30 10:48] zzzaJ commented on #880
This should also be implemented for Dropdowns, as I am having a similar issue. Dropdown, when changed, requests focus and moves to the top of the screen and moving the scroll view. This is annoying for users, and not good practice if you aren't completing a form in the same order (top form component to bottom form component) each time.

[2021-10-01 12:17] WilliamCunhaCardoso commented on #880
On free time I will check it and maybe implement on https://github.com/danvick/flutter_form_builder/pull/881 if on moment it is not merged yet

[2021-10-01 14:41] bannarisoftwares opened #887 "How handle list of FormBuilderField ?"
My dto

[code]

This is parent widget, Which contains list of Connection

[code]

This is child widget, called AddConnection contains

[code]

So while  changes i am getting output as connections: `[Instance of 'Connection', Instance of 'Connection']`. So how to get real object

[2021-10-03 23:55] rexyness commented on #706
Add a key to the FormBuilderTextField as follows
`FormBuilderTextField(
                                key: UniqueKey(),
// rest of the attributes
)`

as well as a key for Scaffold

`
final GlobalKey<ScaffoldState> _scaffoldKey = GlobalKey<ScaffoldState>();
Scaffold(
          key: _scaffoldKey,)
`

so in total you should have 3 different keys declared , one for Scaffold , one for the FormBuilder

[2021-10-05 13:07] 2shrestha22 commented on #220
Hi @danvick  How to set the value to null, there is not value field like in default dropdownbutton?

[2021-10-09 12:34] acorn371 commented on #706
Great, this seems to works fine!
There is only an annoying warning saying:

_I/flutter ( 4034): Warning! Replacing duplicate Field for 1 -- this is OK to ignore as long as the field was intentionally replaced_

Thanks!

[2021-10-09 12:34] #706 closed

[2021-10-09 12:37] acorn371 commented on #706
`FormBuilderTextField( key: UniqueKey(), // rest of the attributes )` is, maybe, the right way to use FormBuilderTextField or just a workaround.
Anyway, it works

[2021-10-12 17:46] devkirch commented on #861
@marko-mlinarevic Have you found a solution? This issue still active. I have tried your Solution but it does not seem to work.

[2021-10-14 06:37] cedricDevWP opened #888 "Best way for set dynamic value from API with Null Safety and Structure MVC"
HI,

What do you think is the best way to initialize field values ​​in the form from an API with form builder null safety ?

I do that in my view :

[code]

With null safety, i need to add :

[code]

Because in my controller :

[code]

_formKey.currentState equal null...

[2021-10-14 10:42] cedricDevWP commented on #882
Same with FormBuilderChoiceChip

[2021-10-14 15:29] deandreamatias commented on #861
Property `alwaysUse24HourFormat` in `FormBuilderDateTimePicker` is useless, because `FormBuilderDateTimePicker` dont use in any part of widget implementation.

[2021-10-15 01:11] jasonlaw opened #890 "Numeric input with 2 fixed decimal"
Hi,

May I know how to make the input filter so that it will only accept digit input but the display always has fixed 2 decimal place?
Eg.
The text input will have default value of => 0.00
When user enter 1, it become => 0.01
User enter 2, it become => 0.12
User enter 3, it become => 1.23

Is this possible?
Many thanks in advance.

[2021-10-15 04:18] jasonlaw commented on #890
Here is my solution, hope it helps.
[code]

[2021-10-15 04:18] #890 closed

[2021-10-15 07:38] deandreamatias commented on #880
With @hazzo we found a temporary solution for this problem (that also happens with `FormBuilderDateTimePicker`).
We use `FocusScope.of(context).requestFocus(FocusNode())` after focus action

[2021-10-15 08:03] grundid opened #891 "didChange on _FormBuilderCheckboxGroupState has no visible effect"
When calling didChange on _FormBuilderCheckboxGroupState the GroupedCheckbox is not updated.

~~I noticed that this Widget is missing the didUpdateWidget method. After adding the following code it is working for me:~~

[code]

[2021-10-16 05:32] #802 closed

[2021-10-16 15:14] denuradhan opened #892 "FormBuilderRadioGroup value reseted but not at the UI of the checkbox"
when I use `FormBuilderState.currentState.reset();` , the checkbox value is `null` but the UI or in my screen still check the last value that I was checked before

check my image please
<img width="960" alt="1" src="https://user-images.githubusercontent.com/43084057/137592639-393f7fda-28ae-4e52-94d7-668b684d596a.png">
<img width="209" alt="2" src="https://user-images.githubusercontent.com/43084057

[2021-10-18 00:17] ebelevics commented on #648
Yeah, this would have been great if valueTranformer would return FutureOr

[2021-10-18 09:11] Prudential-Kenya opened #893 "FormBuilderSignaturePad"
FormBuilderSignaturePad is no longer part of the package. Using version `flutter_form_builder: ^6.1.0+1`

[2021-10-19 02:14] rsree1210 opened #894 "Form builder 7.0.0"
Hi,

I have been using Signature Pad, Type ahead and couple of more fields of form builder which were removed in Form builder version 6. But I have seen an update that a separate package form_builder_extra_feilds is being introduced to have all these missing fields (which are dependent on 3rd party plugins).

Any idea on when will the stable version of Form builder 7.0.0 and form_builder_extra_fei

[2021-10-20 12:59] socramm9 opened #895 "How to watch value change"
I need to update my UI Based changes on a FormBuilderField. I can't use the onChange of this widget because the field is rendered dynamically.

So I was thinking to read the value I need from the GlobalKey. Maybe I am missing something but the only way to read from the GlobalKey is to first call the `save()` and `validate()` functions.

But it is to soon to run the validation in my case.

[code]

[2021-10-21 16:28] #872 closed

[2021-10-23 01:01] denes16 opened #896 "Can i use this package with stateless widgets and provider?"
I have alredy made a few screens with forms, with stateless widgets and provider, each screen has its own provider with submit methods etc.
Everithing was working okay until i test my theme, changing to dark mode on ios from control center, rebuilds the entire app and the form loses its data, but the provider does not lose its data. This does not happen with stateful widgets.
My question is, there

[2021-10-23 15:02] #896 closed, assigned to nobody

[2021-10-24 10:24] mstfkhazaal opened #898 "FormBuilderCheckbox change color Not work"
I have an app in **dark mode**, when I add **FormBuilderCheckbox** I can't find the option to **change the color of the box** only
  **checkColor,activeColor**

[2021-10-29 06:29] nishitdixit opened #901 "FormBuilderTextField throws "Null check operator used on a null value" while passing FocusNode"
I'm using FormBuilderTextField to take the phone number input with a predefined focus node because I want to shift the focus to the custom OTP field on submit.
everything is working fine but when I click on FormBuilderTextField it throws the following exception.
![image](https://user-images.githubusercontent.com/69981929/139386262-387e3d64-5171-4376-a1a1-71f8cdcecd73.png)

I think it's because the

[2021-11-01 07:53] lionnel8 commented on #882
I'm also facing this issue with multiple input types. I've found it's caused by calling Scrollable.ensureVisible(context) in requestFocus method, which was added in this commit: https://github.com/danvick/flutter_form_builder/commit/96ac54f2f4573f9f497df56a3fd8187c9022ff63
Not sure what's the exact purpose of calling this method. When user interacts with some field, I would expect it's also in the

[2021-11-02 07:52] p02diada commented on #851
Hi @simonsymhoven , did you solved it?

[2021-11-02 08:00] simonsymhoven commented on #851
Hi, no not yet

[2021-11-05 07:52] ahmednfwela commented on #901
also solved by https://github.com/danvick/flutter_form_builder/pull/876

[2021-11-07 13:36] yfakariya opened #904 "FormBuilderTextField calls extra validation when its initialValue and controller are not set"
`FormBuilderTextField` calls its validator twice if it mets following conditions:

* Its `initialValue` is not set (or set to `null`).
* Its `controller` is not set.
* Its `autovalidateMode` is set other than `AutovalidateMode.disabled`.

In this situation, validation with an empty string (`''`) is called before "actual" validation for the input value. It causes some confusion in widget testing wh

[2021-11-08 10:23] mrniamster commented on #313
Still getting this issue, not yet resolved...

`E/flutter ( 4320): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: A FocusNode was used after being disposed.
E/flutter ( 4320): Once you have called dispose() on a FocusNode, it can no longer be used.
E/flutter ( 4320): #0      ChangeNotifier._debugAssertNotDisposed.<anonymous closure> (package:flutter/src/foundation/change_notifie

[2021-11-09 16:59] Orlyga01 opened #905 "FormBuilderDateTimePicker throws Unhandled Exception: A FocusNode was used after being disposed."
Hi,
I have a widget that holds a form.
In this form I have a FormBuilderDateTimePicker
This form is part of an "OnBoarding" page
on each step, another form is being displayed, and each click on "Next" button is triggering seState, that replaces the current form to display.
When clicking (focusing) on FormBuilderDateTimePicker, this error is displayed:
[code]
This is my class

[code]

[2021-11-10 08:40] #674 closed

[2021-11-10 08:41] #485 closed

[2021-11-10 08:57] #680 closed

[2021-11-10 21:43] mfizz1 opened #907 "Question: How to map the fields when returning values"
First of all, thank you for this wonderful package, really removes all of the boilerplate. My question is about using the values that the user enters.

For example, I can get this:

[code]

Nest it under another object name.

Thank You

[2021-11-11 07:01] Marcosmaliki commented on #21
Is it possible to use TypeAhead as an autocomplete textfield? It works great  when an item from the list is selected.
I need a way to use the list only as suggestions but also accept new text from the user

[2021-11-11 11:30] Orlyga01 commented on #905
I found out that this is happening when the widget, in which the datepicker is in, is created as part of a setState change, hence widget babyForm, is shown after user clicks next. How should I fix the focus problem, given this situation?

[2021-11-12 07:42] zzzaJ commented on #882
Is there any update on this, or any timeline for the fix to be made to the relevant FormBuilder components?

[2021-11-12 09:40] grundid opened #908 "Unhandled Exception: A FocusNode was used after being disposed."
I was facing the above error with several FormBuilder widgets especially those that manage its own FocusNode like FormBuilderCheckbox.

Our standard usage of the FormBuilder is to show a form, let the user enter data, once the use presses the save button we show a progress full screen (removing the FormBuilder from the widget tree) and then popping the route.
Once we call Navigator.pop() we see th

[2021-11-14 04:41] ashim-k-saha commented on #908
This issue occurs because of #902. Sorry!!! My Bad.

Here in this PR I just disposed of the `focusNode` without checking from where it came from.

To solve this we need to check if the `focusNode` is handled by the parent or not, if it is passed from parent widget then we should not be disposed of it, else vice versa.

[2021-11-14 08:47] grundid commented on #908
@ashim-k-saha Thanks for looking into it. Disposing of the focusNode from the widget is one problem, but this is not the issue here.
The focusNode that is created in the FormBuilderFieldState is not attached to the context. When the FormBuilder is removed from the widget tree the last focused focusNode is still in the FocusManagers' focusedChilderen list. I'm not sure if this is a problem with the

[2021-11-15 09:54] nishitdixit commented on #901
waiting for the release

[2021-11-15 13:48] davebound opened #910 "FormBuilderTypeAhead.dispose() should not unconditionally dispose _typeAheadController"
_FormBuilderTypeAheadState.initState() assigns _typeAheadController  to widget.controller if one was passed in:

[code]

But dispose() disposes it unconditionally (despite what the comment says!)

[code]

[2021-11-16 07:44] AscentionOne opened #911 "FormBuilderChipsInput can not input through keyboard in web application"
Hi, I run the example project on the web application in `form_builder_extra_fields 7.0.0`. However when I try to type in `FormBuilderChipsInput ` field. It seems not getting the input from keyborad. Thanks!

[2021-11-16 23:42] thawahsaw opened #912 "FormBuilderValidators is not working for FormBuilderTextField"
<img width="712" alt="Screen Shot 2021-11-17 at 6 13 26 AM" src="https://user-images.githubusercontent.com/90704051/142083823-799fdf78-64a5-4972-97de-a606f4b00938.png">
Hello thank you for the great package. Although I am new to flutter, its easy to use.
I am currently using flutter_form_builder 7.0.0.

I am having an issue with FormBuilderValidators not working for FormBuilderTextField. VS Code s

[2021-11-17 00:37] #912 closed

[2021-11-17 10:39] NengSyle007 commented on #335
Hi,

First, thanks for that great plugin! Yes, I want to this plugin have input mask for FormTextField and hope see it on next version.

[2021-11-17 16:28] SalahAdDin commented on #850
There is no any `autovalidateMode` on the whole form.

[2021-11-17 22:16] SalahAdDin opened #913 "Form State Validation validates even non required fields"
Hi,

I'm using these packages to build my forms and it works very well, but i have a problem with validation: when i validade the form state, it validates even non required fields when they are emty, why?

It should not validate empty fields if they are not required, but it does.

is there anything i'm ignoring here?

Thank you

[2021-11-18 19:49] SalahAdDin commented on #852
It is not exactly what I need but you gave me an idea.

[2021-11-18 21:35] SalahAdDin commented on #852
Thanks @evanholt1, you gave me an idea about it.

And my terrible solution is:
[code]

It would be awesome if the  package itself incorporates a variable to know if the form changed or not(`isDirty` is common in **Javascript** libraries) @danvick. 

Thank you!

[2021-11-18 21:35] #852 closed

[2021-11-18 23:06] #913 closed

[2021-11-18 23:13] SalahAdDin opened #914 "[FEATURE] Validate fields only if they are required or fulfilled"
Hi,

I'm using these packages to build my forms and it works very well, but i have a problem with validation: when i validade the form state, it validates even non required fields when they are emty, why?

It should not validate empty fields if they are not required, but it does.

It would be great if the form ignores all validations on not required fields if they are null or empty, or also it cou

[2021-11-22 08:54] Dalio opened #915 "AssertionError"
_AssertionError ('package:form_builder_extra_fields/src/fields/form_builder_typeahead.dart': Failed assertion: line 305 pos 16: 'T == String || selectionToTextTransformer != null': is not true.)

[2021-11-23 10:15] jenskuipers opened #916 "Extended item list FormBuilderDropdown closes unexpectedly"
Whenever I swipe through the extended list of items the Dropdown closes the list.

[2021-11-23 12:35] jenskuipers commented on #916
This was an issue with Simulator 13.1 on macOS Big Sur 11.6 , the issue was resolved after restarting it.

[2021-11-23 12:36] #916 closed

[2021-11-25 03:32] YouSour commented on #870
i think it just warning , did you add this on your pubspec.yaml :
[code]

[2021-11-26 03:22] YouSour opened #917 "right way check validation between 2 fields"
hi , i got some problem , i don't know how can i check validation between 2 fields , example i have field **amount** and field **minimizeAmount** then i need to check  field **minimizeAmount** must be less than or equal field **amount** , can you show me how can i check it ? thank in advance 😄

[2021-11-26 09:35] leidig54 commented on #901
Can this be expedited? Getting large numbers of crashlytics issues coming through in production. Non-fatal but still not pretty.

[2021-11-28 12:43] wkrasnicki opened #918 "RGB only color picker"
Hi, is it possible to use the default color picker field, but without the alpha channel? If not, would it be possible to add it?

[2021-11-30 06:54] awaisabbasaa11 opened #919 "Spell check for on Android device"
Is there any way to add a spell check in the TextInputField, So that whenever a user enters a misspelled word it gets underlined?

[2021-11-30 12:25] tas-unn opened #920 "dynamically add/remove widget with form_builder fields"
How to add and remove widgets dynamically on a form? with unique names and correct deletion.
I do not normally delete elements. In addition, after deleting, you need to double-click on the plus to add the item.

i tried
1) in _PersonalState i create list widget
static List<Widget> ws=List.empty(growable: true);
int _numparents=0;

2) i create class

class Parents extends StatefulWidget {
  const P

[2021-12-02 09:49] thedonatic opened #921 "form builder widget updates scroll state on tab"
Hello,

im using the flutter_form_builder widgets in a flutter app. Whenever i click on a form builder widget, my singlechildscrollview change its scroll state and tries to put the tapped form widget on top of the screen.

This happends with widgets in forms, that are splitted in multiple stateful/ stateless widgets.

For example

- Stateful Widget -> FormBuilder
   -  Stateless Widget (contains f

[2021-12-02 13:59] bdthombre commented on #313
Had same problem with FormBuilderDropDown().

Use FormBuilderDropDown(
autofocus: false,
)

//Solved for me
return FormBuilderDropdown(
                  key: UniqueKey(),
                  autofocus: false,
                  decoration: buildInputDecoration("Sub Diagnosis"),
                  name: 'subDiagnosis',............}

[2021-12-04 15:47] WilliamCunhaCardoso commented on #882
Please check if this pr solves https://github.com/danvick/flutter_form_builder/pull/881

[2021-12-04 15:48] WilliamCunhaCardoso commented on #921
What fields does this behavior occur?

[2021-12-05 03:17] stoneLee81 opened #922 "currentState.didChange removed from current version?"
_fbKey.currentState.fields['gatewaydata'].currentState.didChange
When I upgraded the latest version 7.2.0, I found that the current status seems to be removed, how can handle this case to correct it?

[2021-12-05 12:11] #922 closed

[2021-12-06 19:31] thedonatic commented on #921
@WilliamCunhaCardoso I described this problem in detail on this stackoverflow thread: https://stackoverflow.com/questions/70250898/flutter-input-widgets-unintentional-movements-and-refocus-after-input

[2021-12-06 19:34] WilliamCunhaCardoso commented on #921
Yeah I faced this error. you can try my pr. I solved it by adding a shouldRequest on onChanged

[2021-12-06 19:51] thedonatic commented on #921
Much thanks. Hope it will get merged anytime soon.

[2021-12-06 19:51] #921 closed

[2021-12-07 07:02] resfandiari commented on #911
Sometimes I have the same problem, but it resolves after refreshing the page a few times.

[2021-12-08 12:19] Dkrinker opened #923 "Assertion when specifying both initialValue and controller in FormBuilderTextField"
I would like to be able to add a clear icon button suffix to a FormBuilderTextField that also has an initial value, but this results in an assertion when both the initialValue and the controller are not null.

I need to provide a controller to be able to call the clear method on the textfield when the clear icon button suffix is pressed.

Not sure I understand why this combination is not supported

[2021-12-15 14:55] nitojose opened #925 "FormBuilder currentstate disabled not effecting the color for some input components"
When a FormBuilder's currentstate is disabled, the color for FormBuilderTextField and FormBuilderDateTimePicker text values are not changed according to settings at ThemeData.disabledColor. At the same time, the color for some other components like FormBuilderRadioGroup and FormBuilderDropdown worked. Seems like this is a bug.

[2021-12-17 07:34] phucgotecq opened #926 "Cannot modify dialog height"
![image](https://user-images.githubusercontent.com/88519540/146506894-7cd421ca-e310-4389-b3c5-1d17ad77d86b.png)
There was a property for dialog height but why it was hardcoded here (form_builder_searchable_dropdown.dart) ( maxHeight : 300 )

[2021-12-20 06:25] #926 closed

[2021-12-21 08:48] ShadyZekry commented on #910
Hi, @davebound,

The private object `_typeAheadController` is a late non-nullable object. If the `widget.controller` has null value then `_typeAheadController` will be assigned a new instance:
[code]
Don't worry about unconditinal disposing of `_typeAheadController`, it's not nullable, Whether you have passed a controller or not, an instance will be assigned to the object.

[2021-12-23 09:46] phucgotecq opened #927 "Focus when change value in dropdown field"
![image](https://user-images.githubusercontent.com/88519540/147221802-6cb18041-fd46-4363-b2b4-e54990fbdf9e.png)
can you allow to disable/enable the focus action when change value ? now it force field to focus after change value => state.requestFocus()

[2021-12-23 23:44] DanMossa opened #928 "FormBuilderRangeSlider example"
I was wondering if there were examples of how to better modify the `FormBuilderRangeSlider`? Specifically the labels that are on the bottom.

[2021-12-27 10:59] koby9779 opened #932 "FormBuilderValidators no exist"
hey, in the new version 7.0.0 FormBuilderValidators is no exist

[2021-12-27 11:27] Najib90 commented on #932
they exist, can you please show what your code looks like ?

[2021-12-27 11:35] AZKZero commented on #927
@phucgotecq can you check #931 ? The checkbox had the same issue, check if you need something like that.

[2021-12-27 12:20] koby9779 commented on #932
![image](https://user-images.githubusercontent.com/78863592/147471316-e97bc90d-dd2d-4b54-99b1-643c95b3a55a.png)
thanks

[2021-12-27 12:44] Najib90 commented on #932
Thanks. You probably haven't installed the validators yet I guess, so just do:

1. flutter pub add flutter form_builder_validators
2. import 'package:form_builder_validators/form_builder_validators.dart';

Let me know if that works

[2021-12-27 15:25] ShadyZekry commented on #932
Hey, @koby9779,

Did you try to import it manually ?
Try importing it at the start of your file.
[code]

I guess it is a linting issue in your vscode, so let's try and make sure first.

[2021-12-27 21:30] koby9779 commented on #932
Thanks its help, I just think the flutter_form_builder include that

[2021-12-27 21:30] #932 closed

[2021-12-28 00:22] AirborneEagle commented on #932
@Najib90 's solution was what I needed. Thank you Sir!

Is there any place in the readme or documentation that states the validators are a seperate package? if so, My bad for missing it. If not, It may be a good idea to put it in some place.

[2021-12-28 00:52] koby9779 commented on #932
In old version (3.14.1) its was.
Thank anyway you help me a lot

[2021-12-28 10:21] Najib90 commented on #932
Not sure in documentation per se, but in the 'Example' on pub.dev you can see that they import it separately (last import):
[code]

Source: https://pub.dev/packages/flutter_form_builder/example

[2021-12-28 15:31] moshe5745 opened #934 "Is there any way to style the date picker range picker?"
I styled my app bar with bright color, and I can't change the picker save button text to black so it can be seen.

Any help will be aprishiated.

[2021-12-29 18:30] moshe5745 commented on #934
I managed to edit the color of the picker by defining the pickerBuilder like this:
[code]
Just think it's not a very good workaround:
[code]
Any idea how to make it pretier?

[2022-01-05 20:44] Najib90 commented on #934
Although it's good, this is not really an issue with flutter_form_builder. Better to ask it on stackoverflow.

[2022-01-05 20:46] Najib90 commented on #928
Please have a look in the documentation and see where you have an issue where you get stuck

[2022-01-06 07:49] AscentionOne commented on #911
@danvick Hi I am also facing that when in the web application. The Left and right arrow key on the keyboard is not responding. When I try to tap the left and right arrow it should work like the text field, the cursor should be moving left and right. However, it is not. Thank you! Hope you can take a look and give me some suggestions. 😊

[2022-01-07 04:19] socialviolation opened #935 "[FormBuilderDropdown] selectedItemBuilder property is broken"
Bug in FormBuilderDropdown when using the `selectedItemBuilder` property.

Example Dropdown component:
[code]

Error thrown:
[code]

Error does not appear when property is not present.

[2022-01-09 18:16] Najib90 commented on #513
It's because keyboardtypes and validations are not connected. You need to use separate validators with the FormBuilderValidators as such:

[code]

If this answers your question, then please close the issue.

[2022-01-09 19:35] Najib90 opened #936 "FormBuilderSlider division by 20 gives 55.00000000000001 instead of 55"
As the title says, the `FormBuilderSlider` widget gives a really long float back when using `divisions: 20` whereas I would expect it to be just 55.

[code]

Screenshot:

![Screenshot 2022-01-09 at 20 30 57](https://user-images.githubusercontent.com/56278665/148697723-5e8d03dc-971d-4811-883e-576afc02c85c.png)

[2022-01-10 11:45] iamrohitsuthar opened #937 "FormBuilderSearchableDropdown height is not adjusting as per suggestions content"
**FormBuilderSearchableDropdown** - Suggestions dropdown height is fixed and height is not shrinking even if I get only one or two suggestion items as a result after the search.
But in **FormBuilderTypeAhead** list height is shrinking automatically based on the results.

 FormBuilderSearchableDropdown    | FormBuilderTypeAhead
:-------------------------:|:-------------------------:
 <img src="http

[2022-01-11 02:06] moazelsawaf commented on #937
Any updates?

[2022-01-11 08:35] zzzaJ commented on #927
Also having the same issue. The fix used in #931 for checkboxes is exactly what would fix it for me as well.

[2022-01-11 08:40] AZKZero commented on #927
@danvick can you merge and replicate these changes across other clickable elements?

[2022-01-11 12:15] realshovanshah commented on #428
@danvick does this mean it's not possible to add an onTap property to the suffix icon?

[2022-01-11 13:43] #891 closed

[2022-01-11 13:45] Ethras commented on #901
any updates on this?

[2022-01-13 04:33] rsyd29 commented on #858
any update?

[2022-01-13 04:43] YouSour opened #939 "customize search style on FormBuilderSearchableDropdown"
hi , how can i customize search style on FormBuilderSearchableDropdown , i need to add hint text on search , i try to look through the document but i can't find anything about it , how can i do it ? thank in advance 😄
![Simulator Screen Shot - iPhone 12 - 2022-01-13 at 11 37 49](https://user-images.githubusercontent.com/9318106/149267145-c99dbda5-9c39-45a4-ab50-7fe50f446c2c.png)

[2022-01-14 14:33] uaumateus opened #940 "FormBuilderDropdown shows options in wrong place when keyboard is active"
Hi guys, I'm having a layout problem with FormBuilderDropdown. When the keyboard is enabled and I click on the FormBuilderDropdown, it dismisses the keyboard but shows the dropdown options in the place where it was when the keyboard was enabled. It is worth mentioning that the following example is inside a bottom sheet.

https://user-images.githubusercontent.com/33528161/149532343-4bd6ea2e-2b63-4b

[2022-01-15 06:19] renitto commented on #939
use **popupTitle**

FormBuilderSearchableDropdown(
          mode: dropdown_search.Mode.DIALOG,
          popupTitle: Padding(
            padding: const EdgeInsets.all(8.0),
            child: Text('Search Nationality', style: titleTextStyle,),
          ),

<img width="472" alt="Screenshot 2022-01-15 at 11 48 09 AM" src="https://user-images.githubusercontent.com/10204430/149611527-1857c2bc-ced1-

[2022-01-15 18:20] tapizquent opened #941 "Group validation error messages"
Is there any way to group all the validation error messages together? So that they don't appear below the field, but appear at the end of the form instead?

[2022-01-17 14:14] w1th0utnam3 opened #943 "Publish new release containing recent bug fixes?"
First off, thanks for working on these packages, they are super helpful! I don't want to sound rude and know that as an Open Source maintainer you probably have a lot of other issues. Still, would it be possible for you to soon publish a minor releases of `flutter_form_builder` and `form_builder_extra_fields`? I was experimenting with the two packages and while using them stumbled over the recentl

[2022-01-20 12:54] WilliamCunhaCardoso commented on #927
Check if https://github.com/danvick/flutter_form_builder/pull/881 solves it

[2022-01-20 12:56] WilliamCunhaCardoso commented on #880
Check if https://github.com/danvick/flutter_form_builder/pull/881 solvs

[2022-01-20 13:00] alarmatwork opened #945 "FormBuilderCheckbox required != "not equal to false" example"
Please consider adding FormBuilderCheckbox validation example to documentation for case like "Accept T&C" checkbox, where we require user to check the checkbox. Probably many others will try to solve it with this:

[code]

And spend a lot of time wondering why error message is not popping up on validate.
And a bit later hopefully will understand that they ment

[code]
as checkbox was available all

[2022-01-20 13:11] WilliamCunhaCardoso commented on #940
So far I managed to solve it by this workaround https://github.com/flutter/flutter/issues/22075#issuecomment-567836464

[2022-01-21 08:42] YouSour commented on #939
@renitto that isn't what i want , i need to add a hint text on search box

[2022-01-26 14:10] mapokapo commented on #313
Still having this problem with custom `FormBuilderField` widgets. The error occurs every time that the current route/page is changed i.e. a new page is pushed onto the stack or a modal dialog is shown (thus unmounting the widget).

Important to note is if the custom widget is not interacted with, then the error does not occur, but this could be due to an error in my own code. Also adding your own

[2022-01-27 10:55] renitto commented on #711
Yes you can use a custom validator

[code]
Or if you just want to use to limit the input use **inputFormatters** instead

[code]

[2022-01-28 10:27] alarmatwork opened #950 "Buyme Coffe link in README is not working"
I'm really grateful for this massive helper! Keep on doing good work and fix the link please, so you can enjoy some coffee too!

[2022-01-28 17:25] yokiran commented on #950
@danvick , the URL you currently have "https://www.buymeacoffee.com/wb5M9y2Sz" shows a page not found.
You may want to update it, here is the help page to do that https://help.buymeacoffee.com/en/articles/5885219-how-to-change-your-username-page-url

Great work on Flutter Form Builder, thanks

[2022-01-28 18:26] alexaung opened #951 "No instance of FormBuilderLocalizations present in the widget tree. Did you add FormBuilderLocalizations.delegate in localizationsDelegates?"
I got this error message when I click submit button.

`Exception has occurred.
_AssertionError ('package:form_builder_validators/localization/l10n.dart': Failed assertion: line 44 pos 12: 'instance != null': No instance of FormBuilderLocalizations present in the widget tree. Did you add FormBuilderLocalizations.delegate in localizationsDelegates?)`

Here is my form

`Widget _favouriteForm(SocialMo

[2022-01-29 09:24] LukasDoesDev commented on #951
https://github.com/danvick/flutter_form_builder/blob/master/packages/form_builder_validators/README.md#l10n

[2022-01-29 17:41] T1960CT commented on #882
Any updates? It's been a while.. I'm having the issue with an android UI of scrollbars, every one of them scrolls the page down

[2022-01-29 18:35] WilliamCunhaCardoso commented on #882
I am waiting for some owner of this repo to cheeck my pr :/

[2022-01-29 22:27] alcemirsantos commented on #313
@bdthombre's solution seems to work as a workaround for me.

[2022-01-30 02:06] T1960CT commented on #882
I've been following your PR comments as well. Thanks for trying, haha, hopefully it gets fixed soon.

[2022-01-30 21:47] danvick commented on #945
I believe this is already in the example app.

[2022-01-30 21:47] #945 closed

[2022-01-30 21:50] danvick commented on #950
Thanks for letting me know. I haven't visited the site in a while and it seems things. Some new requirements were added and needed updating - that's why my link was down.

I'll be updating the link as I merge the latest PRs and release a new version of the package(s)

[2022-01-30 21:51] #950 closed

[2022-01-30 21:52] danvick commented on #941
I'm afraid this isn't possible at the moment as we are limited to how Forms work in Flutter.

[2022-01-30 21:52] #941 closed

[2022-01-30 22:09] danvick commented on #918
Hi @wkrasnicki,
Kindly note that [form_builder_extra_fields](https://pub.dev/packages/form_builder_extra_fields) makes use of [flutter_colorpicker](https://pub.dev/packages/flutter_colorpicker) which has different modes to choose from.

Since flutter_form_builder [allows you to convert any widget into a FormBuilderField](https://github.com/danvick/flutter_form_builder/blob/master/packages/flutter_

[2022-01-30 22:09] #918 closed

[2022-01-31 03:46] gslender opened #952 "Alternative to FormBuilderLocalizations or just don't use FormBuilderValidators"
Assuming I'm not wanting to use the error text wording, or use my own way of dealing with i18n in Flutter, what support is there for using FormBuilderValidators, but my own delegate for all the error messages etc? What's the best/easiest way to plug in my own delegate into the FormBuilderValidators?

Is this possible, or would it be easier to use my own set of Validators with error txt etc... ??

[2022-01-31 08:17] #714 closed

[2022-01-31 08:53] alarmatwork commented on #945
Unfortunately it is not in the sample code where everybody will probably get their first code
[](https://pub.dev/packages/flutter_form_builder)

[2022-01-31 09:49] danvick commented on #952
I'm afraid that's gonna cost you a bit in terms of lines of code. `form_builder_validators` will allow you to write your own error message instead of the default.

You'll however have to do this for every validator you use:

[code]

[2022-01-31 09:51] danvick commented on #943
Done.

Thanks for your patience

[2022-01-31 09:51] #943 closed

[2022-01-31 09:54] danvick commented on #914
Can you share the sample code? This shouldn't be the case.

[2022-01-31 09:55] #894 closed

[2022-01-31 13:12] WilliamCunhaCardoso opened #954 "Why there is a file script for tests?"
I was looking in the package and saw a file named `run_tests.sh`. I believe it may is not necessary since melos can already perform those tests.

[2022-01-31 18:21] danvick commented on #954
I think someone added it as part of their PR and I was too lazy to remove and advise them.

Hey @WilliamCunhaCardoso, would you like for me to add you as an admin of this repo. I could use some help reviewing PRs and thinking about some ideas.

[2022-01-31 18:26] WilliamCunhaCardoso commented on #954
I would love it. Really happy for your suggest.

Also, about test file, I already am making a pr for it, removing the additional file and updating the one in melos file

[2022-01-31 21:06] gslender commented on #952
No that's actually perfect and exactly what I'm looking for. I don't use the code-generator way of i18n support in my apps, and having a way to just inject my i18n strings is perfect :-)

PS - your readme examples on the websites are all wrong and don't compile without several code updates (e.g. not null safe etc, field names have changed etc)

[2022-02-01 09:56] mstfkhazaal commented on #851
please solve this problem

[2022-02-01 10:34] mstfkhazaal commented on #851
multiple_localization: ^0.2.2
i found this package and it work with me @simonsymhoven

[2022-02-01 11:00] jorik opened #955 "Disable RequestFocus when calling invalidateField"
In my code I'm calling invalidateField on each field because the validation logic happens in the backend. I would like to hide the keyboard when doing this, but the invalidateField method always requests focus when called:

https://github.com/danvick/flutter_form_builder/blob/a582442f1e6bffc2fc8c4503585d03ea551c7973/packages/flutter_form_builder/lib/src/form_builder_field.dart#L228:L237

[code]

I

[2022-02-01 13:55] WilliamCunhaCardoso commented on #927
Can you please confirm if `flutter_form_builder: ^7.1.0` solves it?

[2022-02-01 13:55] WilliamCunhaCardoso commented on #880
Can you please confirm if `flutter_form_builder: ^7.1.0` solves it?

[2022-02-01 14:31] rae-yoder opened #956 "FormFieldTouchSpin still has mandatory focusNodes"
First off I really appreciate the quick turnaround to address the issues with the focus nodes. However there is still an ongoing issue where they have yet to be made optional or removed from `FormFieldTouchSpin` in `form_builder_extra_fields` I would appreciate a fix for this or at the very least a work-around for the time being. Appreciate all the work you have done building out this package.

[2022-02-03 07:51] dedonnodev opened #957 "skipDisabled doesn't really skip"
Hi there,
I am using the package for my own project, and is gorgeous and super easy and fast, but I have a problem.

When I set "skipDisabled" in the form, I expect it to skip the disabled fields from validation, but it doesn't really do that.
So much so that if a field is disabled but it is "required", the validation fails.

Did I misunderstand the meaning of "skipDisabled" or is there another wa

[2022-02-04 01:58] gslender opened #959 "bug with validators or form-fields when adding/removing from Build tree"
Hard to describe but easy to see with the included example source showing the problem.

Essentially, when you switch between the fields as part of the form during a rebuild (via setState) the error validations get mixed up and stay sticky to the incorrect fields. I don't understand the underlying method of attaching fields to validators and error text etc, but it would seem there is a list with no

[2022-02-04 01:59] #952 closed

[2022-02-05 20:27] SalahAdDin commented on #914
Actually, It was not clear for me, but i could reach this by allowing them to be true on `minLength`:
[code]

[2022-02-05 20:27] #914 closed

[2022-02-09 04:40] gslender commented on #959
Any chance someone can confirm (or otherwise) the bug? As if its not supposed to be used that way (ie form widgets being removed/added to the build tree) then I'd like to know now so that I can re-engineer my app to avoid using it this way

[2022-02-09 04:47] gslender commented on #959
Maybe I'm seeing an issue that is fixed by https://github.com/danvick/flutter_form_builder/pull/811

[2022-02-09 19:17] glappsi opened #960 "Form Builder Extra Typeahead updates forms values only after second selection (since 7.1.0)"
I recently updated the flutter_form_builder package to 7.1.0. Since then the `FormBuilderTypeAhead` components acts weird. form_builder_extra_fields is already at 7.1.0 (and was so before). Everything worked fine. But with the flutter_form_builder upgrade to 7.1.0 the typeahead field doesn't seem to update the forms state on first selection.

Given the following scenario:
[code]

[2022-02-09 22:52] gslender commented on #959
Also tried with v6.1.0 of flutter_form_builder and the problem still exists.

[2022-02-11 04:13] bawantha opened #961 "How to put `helperText` on top of TextField ?"

[2022-02-11 13:26] Sandai64 opened #962 "Auto-filling through a password manager ?"
Hello, I am new to Flutter and as such, I have difficulties getting auto-filling through a password manager to work on a simple login page.

My page currently looks like this :

[code]
Is there some property I missed that is causing auto-fill not to work or is the feature missing from the package ? Should I implement this using a Flutter form from scratch ?

For my tests I used Bitwarden, it was o

[2022-02-12 05:16] gslender commented on #959
I believe the issue is due to the way custom error text is managed... I haven't got the time to invest further troubleshooting, especially it seems I'm talking to myself 🤣🤣

[2022-02-14 07:09] Marcosmaliki opened #963 "Field replacement logic"
In the changelog for version 7.1.0, we have this bullet _**Improved field replacement logic**_
How has this been improved?

**Case**
If I have a form with a radio button which displays/hides other fields depending on selection

**Expected result**
I expect to only get a Map of what was drawn on the screen when I run` formkey.currentState?.save()`

**Actual result**
What I get is a Map with all the

[2022-02-14 08:14] Marcosmaliki commented on #963
I might have found a workaround by using  `c.formKey.currentState?.removeInternalFieldValue('fieldName',isSetState: false);`

[2022-02-14 17:23] BLaZeKiLL opened #964 "Form Value Builder Widget To Update UI"
A workaround is to have the form builder inside a stateful widget but a builder widget would be more convenient

[code]

Current use case that I have is -
- I have a profile picture selector as part of the form
- I want to display the currently selected picture next to the username

For now I am using a stateful widget to handle this.

I'd be happy to work on a pull request for this if it seems fr

[2022-02-15 11:45] gslender commented on #959
Tried it with Flutter's Form and TextFormField and found that the issue exists too. BUT, I can call _formKey.currentState.reset() when changing between dropdown options and it works fine. So the issue, is now that I cannot call the same .reset() with FormBuilderState as it crashes. There is some behaviours that differ between Flutter and FormBuilder that make it not compatible or possible to do wi

[2022-02-15 14:17] Uvais-Mohammad opened #966 "An Exception caught by widgets library occurs while typing in FormBuilderTextField"
An Exception caught by widgets library is occurring while typing something in FormBuilderTextField. Please let me know if there is any solution

Code is given below:
[code]

![image](https://user-images.githubusercontent.com/63300484/154078348-8dbff23d-b286-4443-b41a-591524149c5d.png)

[2022-02-15 15:54] vdkar opened #967 "add support ukrainian language"
{
  "@@ Last_modified": "2022-02-15T13: 30: 00.706877",
  "@@ Locale": "ru",
  "RrequiredErrorText": "Поле не може бути порожнім.",
  "@ RequiredErrorText": {
    "Description": "Error Text for required field" ,
    "Type": "text" ,
    "Placeholders": {}
  },
  "MinErrorText": "Значення має бути більш або дорівнює {min}.",
  "@MinErrorText": {
    "Description": "Error Text for required field" ,

[2022-02-17 12:49] WilliamCunhaCardoso commented on #956
Can you check please if there are fields with mandatory focus on latest version?

[2022-02-17 13:03] WilliamCunhaCardoso commented on #959
Thanks for your information. I will try to check it on free time. Please keep us updated with new infos if you mind.

[2022-02-17 13:08] #954 closed

[2022-02-17 13:11] WilliamCunhaCardoso commented on #927
Closing this issue because it seems to be resolved. In case not, feel free to open again/create a new one.

Thanks for contributing.

[2022-02-17 13:11] #927 closed

[2022-02-17 13:12] WilliamCunhaCardoso commented on #882
Closing this issue because it seems to be resolved. In case not, feel free to open again/create a new one.

Thanks for contributing.

[2022-02-17 13:12] #882 closed

[2022-02-17 13:12] WilliamCunhaCardoso commented on #880
Closing this issue because it seems to be resolved. In case not, feel free to open again/create a new one.

Thanks for contributing.

[2022-02-17 13:12] #880 closed

[2022-02-17 13:29] WilliamCunhaCardoso commented on #828
May you change it through material design on top of app. Does it work? please let us know

[2022-02-17 13:34] WilliamCunhaCardoso commented on #835
I am not sure about it, but using a `Typed` `FormBuilderFieldOption` does not satisfy you? Also, if you want the exactly item clicked, you may use its return (as I mentioned, it can be typed, so you can pass any value), and compares it with any other data. Considering that, you can use or Equatable, or override Equality, so you can compare two objects

[2022-02-17 13:36] WilliamCunhaCardoso commented on #797
Maybe you are receiving two instances of something that has the same value. i.e: `['Some Value', 'Some Value']`

[2022-02-17 13:37] WilliamCunhaCardoso commented on #783
Setting a FocusNode to it and calling it does not solve?

[2022-02-17 15:51] rae-yoder commented on #956
I updated to the latest version of `flutter_form_builder` (7.1.1), and `form_builder_extra_fields` is still at the current version (7.1.0), and it seems the issue still persists. I think the problems are located in `form_builder_extra_fields` and not the base package, as extra fields contains the widget in question

[2022-02-17 21:09] gslender commented on #959
I've removed FormBuilder from my project because I can't continue using it with zero information back ... sorry but I don't mind helping if there's interest to help too.

[2022-02-18 12:13] WilliamCunhaCardoso commented on #959
Sorry I could not help you before :( even though thanks for reporting it :)

[2022-02-18 18:05] MasterHiei opened #969 "Compile error(v7.6.0): duplicate declaration in messages_en.dart"
String m0 ~ m5 is duplicated in below.
https://github.com/danvick/flutter_form_builder/commit/b9da73472d5a3e0dfece266da1156ab7718d1a5e#diff-ddf44741a31a8c3c59bcc3f472df812dd93c0b5f30dbbd0248c618be365fe3eaR25

Error message:
[code]

[2022-02-18 18:10] MasterHiei commented on #969
@alexaung Downgrade `form_builder_validators` to `7.5.0` can resolve it.

[2022-02-18 18:38] wltiii commented on #969
Not really a long-term resolution for you have to pin it rather than being relative.

[2022-02-18 18:39] alexaung commented on #969
@MasterHiei Thanks. Downgrade solved this issue as for now.

[2022-02-19 11:07] digitalillusions commented on #765
I encountered this as well. I was wondering why the shape was no changing and realized that the shape argument for the choice chips was removed entirely. This is very irritating and I would propose to either pass it along as expected, or to remove the `shape` option entirely.

[2022-02-19 11:38] effortsteven commented on #383
Is there any solution on this? am struggling to use only one source camera or gallery

[2022-02-19 15:01] batchema commented on #969
For some reason, the generated file in `.../intl/messages_en.dart` repeats the declaration of the `m*` variables. If you want to keep `v7.6.0`, you can manually uncomment the duplicates. Hopefully, this is fixed soon
[code]

[2022-02-19 17:20] #969 closed

[2022-02-19 17:41] danvick commented on #917
Hi @YouSour,

Kindly check out [conditional validation](https://pub.dev/packages/flutter_form_builder#conditional-validation) on the package documentation

[2022-02-19 17:41] #917 closed

[2022-02-19 19:23] gustavobrian opened #970 "please!!"
A query! There are more than 100 developers in this library. But every time I want to update it, it becomes the most expensive part of the project because of the changes that break the code and the changes in the criteria of the interfaces... what is the update strategy? I really want to understand it.... thank you

[2022-02-20 09:25] nicks258 commented on #777
Still facing the same issue. Any fix?

[2022-02-20 10:09] nicks258 opened #971 "FormBuilderSearchableDropdown error when inputing text"
Facing issue when I started typing in **FormBuilderSearchableDropdown**. Throwing error -
`======== Exception caught by widgets library =======================================================
The following assertion was thrown building Builder(dirty):
Looking up a deactivated widget's ancestor is unsafe.

At this point the state of the widget's element tree is no longer stable.

To safely refer to

[2022-02-20 11:48] mnorhamizan commented on #665
This is still happening. Any update?

[2022-02-21 09:55] Polgabarro commented on #960
Same bug, currentState shows de UI value, not the real state value.
For example if I type "a" on the keyboard onChange is triggered and current state only shows "". If I click "save" button now currentState shows the current value.

[2022-02-21 12:28] WilliamCunhaCardoso commented on #960
Does it help you?

[2022-02-21 12:33] WilliamCunhaCardoso commented on #960
Also, if you get value by name, you do not need to set `onChange`.

In case you want to use `onChange`, you do not need to set up a `FormBuilder`.

[2022-02-21 19:19] Shahmirzali-Huseynov opened #972 "Custom Model is not working in FormBuilderSearchableDropdown"
[code]

my list :
[code]

[code]

[2022-02-21 19:19] Shahmirzali-Huseynov commented on #972
<img width="337" alt="Screen Shot 2022-02-21 at 22 19 33" src="https://user-images.githubusercontent.com/49102327/155015179-87f53633-ffea-40cc-89c3-057f04286f07.png">

[2022-02-21 19:20] Shahmirzali-Huseynov commented on #972
<img width="345" alt="Screen Shot 2022-02-21 at 22 20 30" src="https://user-images.githubusercontent.com/49102327/155015268-1fd1da26-f32c-436b-b242-ea4dfd25fafa.png">

[2022-02-21 19:36] Shahmirzali-Huseynov commented on #972
@danvick  can you help?

[2022-02-21 20:17] Shahmirzali-Huseynov opened #973 "sliding to the left"
https://user-images.githubusercontent.com/49102327/155021222-c24a25e8-5eb1-4284-90e4-4e96a09e35df.mov

[2022-02-21 20:17] #972 closed

[2022-02-22 10:08] nicks258 commented on #971
Any update???

[2022-02-22 13:16] glappsi commented on #960
@WilliamCunhaCardoso  no this doesn't really help. I need to work with the whole forms value at this point, so using `formKey.currentState!.value`.

[2022-02-23 13:04] Jjagg commented on #861
For a workaround that respects the locale use the following:

[code]

See flutter/flutter#83707 for details.

[2022-02-23 15:42] WilliamCunhaCardoso commented on #970
Sorry for this :/

The package seems to follow `major`, `minor` and `patch` update. Since the last one was a minor, you may expect some breaking changes.

Also, I suggest you to abstract components in your own project, Like

`class OwnTextField extends FormBuilderTextField {}`

[2022-02-23 15:45] WilliamCunhaCardoso commented on #962
Good question. Actually, I would have to search which `Flutter` component support such feature.

[2022-02-23 15:50] WilliamCunhaCardoso commented on #964
Sorry, but I could not understand. Are you trying to show/hide fields dynamically?
In such case, `registerField` and `removeInternalFieldValue` from `formKey` `currentState` does not satisfy your situation?

[2022-02-23 15:50] WilliamCunhaCardoso commented on #959
`registerField` and `removeInternalFieldValue` from `formKey` `currentState` does not satisfy your situation?

[2022-02-23 15:51] #959 closed

[2022-02-23 15:52] WilliamCunhaCardoso commented on #959
As the author is no longer using the package, the issue can't be helped. Also, other issues related to this behavior are already on track. Thanks for the report.

[2022-02-23 15:53] WilliamCunhaCardoso commented on #920
`registerField` and `removeInternalFieldValue` from `formKey` `currentState` does not satisfy your situation?

[2022-02-23 15:53] #951 closed

[2022-02-23 15:56] #934 closed

[2022-02-23 23:16] gslender commented on #959
Maybe take the example code I've provided, and add that to your test case and show how you'd use your FormBuilder package and accomodate building a form that can change upon dropdown or button (whatever). The point is that you'd think that building the form dynamically would have the validations and everything work as expected. It doesn't and there is something fundamentally wrong with either the

[2022-02-28 11:04] gcbishal opened #974 "InputConnection Error | Unmounted widget"
Error on Rendering  the  FormBuilderChipsInput
Help me.

# Code

[code]
---

# Log
`W/IInputConnectionWrapper( 2837): getSelectedText on inactive InputConnection
W/IInputConnectionWrapper( 2837): requestCursorAnchorInfo on inactive InputConnection
2
W/IInputConnectionWrapper( 2837): getTextBeforeCursor on inactive InputConnection
D/InputConnectionAdaptor( 2837): The input method toggled cursor mon

[2022-03-02 21:11] EslamRabia commented on #960
same problem here

[2022-03-04 05:05] jinjilynn opened #976 "Can You Think About Downward Compatibility When You Upgrade Version ?"

[2022-03-04 05:07] jinjilynn commented on #976
Now I have to remove tons of widgets based on new version

[2022-03-04 05:19] #976 closed

[2022-03-06 18:22] dimitribocquet opened #977 "clear customErrorText"
When I reset my form, it resets the errors from the validator but the customErrorText still remains.

Is there a way to reset all errors?

[2022-03-09 15:40] FrazeColder opened #978 "🐛 Failed assertion in the scheduler callback (semantics.dart line 3023 pos 16)"
## Steps to Reproduce

I have created a repository in order to check where to problem is coming from. I found out, it is due to using a `RichText` widget with a `TextSpan` and a `TapGestureRecognizer` which opens a URL. However, this problem only occurs when all of the widgets I mentioned are wrapped up in a `FormBuilderCheckbox`. You can download my repo I have provided to reproduce the bug. Beca

[2022-03-09 17:21] brunodmn opened #979 "FormBuilderValidators.email accepts whitespace"
I've just had I problem when sending e-mails to a client who has filled a form.
I am using bellow validator on TextField:
[code]
I checked the code and email validator use `trim()` on the value to check whether its an email or not. But I think it should NOT use trim(), as Form Builder will accept and save the value WITH the whitespace (which would not be a valid email).

I could do a PR if you agr

[2022-03-10 07:48] zzzaJ opened #980 "Bug: '_fields.containsKey(name)': is not true"
I am running into an exception when disposing of some Form Builder Widgets.
Here are the complete error logs:

════════ Exception caught by widgets library ═══════════════════════════════════
The following assertion was thrown while finalizing the widget tree:
'package:flutter_form_builder[/src/form_builder.dart]()': Failed assertion: line 187 pos 12: '_fields.containsKey(name)': is not true.

Any

[2022-03-10 10:55] dimitribocquet commented on #977
The only workaround I found is to use `onChanged` on the field and call `validate()` only when if I have an error:

[code]

[2022-03-12 09:49] FrazeColder commented on #962
Any updates here? I have the same problem and I don't think @erwangse and me are the only two people who need this feature.

[2022-03-14 09:40] FrazeColder commented on #978
I do now know what's the problem here. Take a look at this: https://github.com/flutter/flutter/issues/99832#issuecomment-1066409788

There a flutter core developer describes the issue here. Is there any way we can add the possibility to add semantics in the CheckboxListTile in order to provide links within the text of CheckboxListTile?

Kind regards

[2022-03-15 04:18] yunus-floo commented on #697
use `InputType.date` on params inputType.  full code example:

[code]

[2022-03-16 06:49] moshe5745 opened #983 "How can i center the text inside the FormBuilderDropdown?"
I did manage to center the dropdown options with:

[code]
But I didn't manage to center it in the field... Any suggestions?

[2022-03-17 06:32] pragatisha opened #984 "Disable editing the whole form at once."
Is there any way we can do this. cancel submission/editing of a form in certain state.

[2022-03-18 16:51] kketanssharma opened #986 "stuck with this issue"
[/Users/ksd/.pub-cache/hosted/pub.dartlang.org/flutter_chips_input-1.10.0/lib/src/chips_input.dart:87:7](): Error: The non-abstract class 'ChipsInputState' is missing implementations for these members:
 - TextInputClient.insertTextPlaceholder
 - TextInputClient.removeTextPlaceholder
 - TextInputClient.showToolbar
Try to either
 - provide an implementation,
 - inherit an implementation from a super

[2022-03-22 02:40] Hu-Wentao commented on #972
@Shahmirzali-Huseynov

How did you solve it ? Just override `toString` ?

[2022-03-22 02:53] Hu-Wentao commented on #972
You need apply `itemAsString` function
[code]

[2022-03-23 07:54] mdeandrea-mrmilu commented on #829
Do you use what version? In [6.2.0 fix](https://github.com/danvick/flutter_form_builder/blob/master/packages/flutter_form_builder/CHANGELOG.md#620---21-oct-2021) this behaviour

[2022-03-25 07:00] UMUTARPT opened #989 "Group widgets should have selectall option."
I am using MultiSelectDialogField widget but it lacks select all. It should be implemented.

[2022-03-25 07:01] #989 closed

[2022-03-25 12:26] synaptek-jhm commented on #956
Checking in on this @WilliamCunhaCardoso. I'm having the exact same issue.

[2022-03-25 17:43] logiczsniper commented on #765
I am using v7.1.1 and it looks like the commented lines have been deleted but the constructor still accepts the parameter with no indication that it has been removed. The package has been great so far but this is just criminal...

[2022-03-25 20:16] MartenM opened #990 "FormBuilderRangeSlider: Null check operator used on a null value"
The FormBuilderRangeSlider seems to be broken. When attempting to create a simple form field using this widget the following error is thrown: 'Null check operator used on a null value'.

[code]

[2022-03-27 06:41] otto-dev opened #991 ""Simple" demo crashes when clicking "login" with empty fields"
Wrong repo

[2022-03-27 06:46] #991 closed

[2022-03-27 19:38] thedonatic commented on #852
+1 Is there any update on this feature. I would really like to see that

[2022-03-28 15:48] cedricDevWP opened #993 "FormBuilderSearchableDropdown add multi selector"
is it possible to use the multi selector feature?

[2022-03-31 05:05] dev-thinks commented on #964
@WilliamCunhaCardoso Is there an example or any documentation for what you're referring? It would be helpful for any first timers like me. Appreciate and thanks in advance.

[2022-03-31 10:28] fabidona commented on #974
same here

[2022-03-31 10:48] fuzes commented on #220
Hi @2shrestha22 Did you find a way to change it to null or default value?

[2022-03-31 11:03] gcbishal commented on #974
I'm using flutter_chips_input package instead.

[2022-03-31 11:12] fabidona commented on #974
I'm also using that package, it's a dependency of form_builder_extra_fields package, since I'm using that to implement the chips input as a Form Builder Field.

Seems to be related to https://github.com/danvick/flutter_chips_input/issues/101

[2022-03-31 13:13] WilliamCunhaCardoso commented on #964
Unfortunately, no :(

But I wish to do one. Actually, I am with limited time due to my job, so, till now I could not be able to give such help.

Actually, here in my project I am showing and hiding fields with Visibility()

[2022-04-01 14:44] dev-thinks commented on #220
probably this might work,

formkey.currentState.fields['yourdropdownfieldname'].didChange(null);

[2022-04-05 23:34] NightCrawler33 commented on #676
Try upgrading your flutter SDK. If you're still running into this issue, you should be able to upgrade the relevant packages themselves now, as they now include null-safety.

[2022-04-06 12:09] kader46 opened #996 "FormBuilderCheckboxGroup and FormBuilderRadioGroup multi line in question not working properly"
I've been trying to use FormBuilderCheckboxGroup and FormBuilderRadioGroup on my form, but whenever a long question is set the multi line is not leaving enough space between the question (label) and the options .
I tried to wrap it with a SingleChildScrollView so it's a single line but scrollable but it didn't scroll !
here's the code :
[code]
here's the  preview :
![screen error](https://user-ima

[2022-04-07 14:54] CremerFreddy opened #998 "Can't use spacebar with a hardware-keyboard in a FormBuilderTextField"
The spacebar is working when using a software-keyboard. When i'm using a hardware-keyboard, all keys are working except for the spacebar.

[2022-04-07 15:03] CremerFreddy commented on #998
the spacebar works while pressing shift

[2022-04-08 16:10] WilliamCunhaCardoso commented on #998
Emulator or real device? For me, so far, were never a problem

[2022-04-08 16:12] WilliamCunhaCardoso commented on #984
Could you give more details?

[2022-04-08 16:15] pragatisha commented on #984
Disable editing all fields that is in the form to prevent the user to change it. It can be used when the form is submitted and the user won't be allowed to change the form values after submitting.

[2022-04-11 09:18] CremerFreddy commented on #998
emulator and real device (with a hardware keyboard)

[2022-04-11 09:32] CremerFreddy commented on #998
had the Textfield inside of an Inkwell widget.. solved the problem by removing the Inkwell widget

[2022-04-13 06:11] alexcontra opened #1000 "A FormBuilderLocalizations delegate that supports the ro locale was not found."
I'm working with an app and I want to have 'en' & 'ro' locales supported by my app, when I integrated the FormBuilder in my app I used to see this warning and I've tried to solve this issue, but I guess it will be better to open this issue to add 'ro' locale to this package.
![Screenshot 2022-03-24 at 15 33 08](https://user-images.githubusercontent.com/59314040/163111608-dda6682c-df67-4d9a-b4e8-73

[2022-04-13 08:46] danvick commented on #1000
Hi @alexcontra,

We currently don't have Romanian language support for FormBuilderValidators. Localization of the package depends on community support - where individuals in the community help us translate the package into their local languages.

I would encourage you to help us translate the package into your language [using these instructions](https://github.com/danvick/flutter_form_builder/blob

[2022-04-13 09:56] alexcontra commented on #1000
@danvick I've integrated the translations for Romanian language.

[2022-04-13 11:02] #1000 closed

[2022-04-13 13:08] muezz opened #1002 "Custom Validation"
This is more of a request for guidance than a technical issue.

Is it possible, either with `flutter_form_builder` or `form_builder_validators`, to have two dropdown fields where if one item is chosen in the first field and in the second field, you get validation error that says that both values cannot be same?

This error should obviously go away automatically if another option is chosen or the f

[2022-04-13 14:32] coccyx-cyst commented on #935
@WilliamCunhaCardoso, try to do something like this.

[code]

 Docs got example:
   /// This sample shows a `DropdownButton` with a dropdown button text style
  /// that is different than its menu items.
  ///
[code]

[2022-04-14 10:42] dimitribocquet opened #1003 "type '_File' is not a subtype of type 'Null' of 'value'"
Hello,

I'm trying to create my own Image picker field, using https://pub.dev/packages/image_picker, and when I set my File value, I have this error:

[code]

Here is my code:

[code]

I don't know what's wrong here.

Thank you for your help !

[2022-04-15 08:55] step4u opened #1004 "It looks that the flutter_form_builder is not compatible with fluent-ui."
I've tried to use flutter_form_builder FormBuilderTextField in fluent-ui ScaffoldPage.
But I encountered below errors.
It looks the FormBuilderTextField is not compatible with fluent-ui.
Is there any way to fix this?
Or do you have any plan to make it compatible with fluent-ui?

══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═════════════════════════════
The following assertion was thrown building TextF

[2022-04-19 02:17] whoopsHzh commented on #907
same question、how did you solve it

[2022-04-20 07:20] ekremkenter commented on #239
Any chance this would be implemented or any alternative solution?

[2022-04-20 08:48] ekremkenter commented on #239
I ended up flattening the map before assigning as initial value, and use `innerObject.field` as field name. I am assuming we can do that flattening inside framework.

[2022-04-20 11:07] JustifiedTech opened #1005 "Successive Warning Replacing duplicate Field"
[code]
[code]

[2022-04-20 20:47] lucianokapluk commented on #1005
Instead to pass uniqueKey() in the FromBuilderTextField, you have to pass one GlobalKey.
e.g: "final _referralCode= GlobalKey<FormBuilderFieldState>();"

[2022-04-20 21:37] jozes opened #1007 "FormBuilderTypeAhead crashes in Chrome with Assertion failed: skia_object_cache.dart:248:12 !browserSupportsFinalizationRegistry is not true #102241"
Using FormBuilderTypeAhead widget with Stepper crashes the app every time with error:
Assertion failed: skia_object_cache.dart:248:12 !browserSupportsFinalizationRegistry is not true

## Steps to Reproduce

1. Create a new web project by running for instance "flutter create bugrep"

2. Add the following package dependencies in pubspec.yaml:

[code]

3. Replace main.dart with below code.

4. Then r

[2022-04-22 07:46] jozes commented on #1007
@danvick The flutter team while resolving the crash suggests that the package should be updated to support the latest version of flutter master. This might help the team member to investigate this issue. Is this possible to do? Please see the details in https://github.com/flutter/flutter/issues/102241. Thanks in advance !

[2022-04-22 11:19] YouSour opened #1008 "handle null value from formbuilderTextfield"
hi , i would like to know the right way how to handle null value from formbuilderTextfield , thank in advance .

[2022-04-22 18:39] danvick commented on #1008
What exactly do you mean by 'handle'? If you need only non-null values from FormBuilderTextField, you may consider using
a valueTransformer to transform the null to say an empty string.

[2022-04-22 18:59] danvick commented on #1004
FormBuilder's `FormBuilderTextField` makes use of Flutter's `TextFormField` widget, which is a Material component (makes use of Material Design System).

I'm assuming in Fluent UI, you are using `FluentApp` instead of `MaterialApp` as your root widget, which will not work for any widget that depends on the Material design system.

I'd suggest making a `FormBuilderField` out of Fluent-UI's TextBox

[2022-04-22 19:05] danvick commented on #1002
Hi @muezz,

This should be possible!

Please check out [conditional validation](https://pub.dev/packages/flutter_form_builder#conditional-validation) section of the documentation.

[2022-04-22 19:34] danvick commented on #996
This may be more of a problem with Flutter's InputDecoration in general, than something to do with the package.

[2022-04-22 19:53] muezz commented on #1002
Thanks for the reply @danvick

I did not know this was possible. I assumed that the `validator` only took `FormBuilderValidators` as its argument. I will close this issue/question now.

[2022-04-22 19:53] #1002 closed

[2022-04-22 20:28] danvick commented on #990
I haven't been able to reproduce this error. I'll try to resolve it nonetheless.

[2022-04-22 20:29] danvick commented on #990
Kindly share more of your code if possible

[2022-04-22 20:31] danvick commented on #984
Setting `enabled: false` on the form should work, does it not?

[2022-04-22 20:37] muezz commented on #1002
@danvick I replied without trying this first. Although this works, I am coming across one issue so far. If I try the method you showed, I cannot keep using the existing validators like `FormBuilderValidators.required`. Is there a way to work around this?

[2022-04-22 20:39] danvick commented on #983
It seems to be working for me, I may not have understood the question. The options seem to be centered and when you select one it's centered in the field

<img width="612" alt="image" src="https://user-images.githubusercontent.com/7383575/164790393-67ab5c6c-9e70-40f9-8228-0aefe5292c9d.png">

[2022-04-22 20:49] danvick commented on #979
Thanks @brunodmn for catching this.

It may have been introduced by a contributor by error

[2022-04-23 02:15] YouSour commented on #1008
@danvick what i mean
Example: i have 2 textfields (**name** [required] and **bio** [optional]) if i don't input anything to bio textfield, i want get data from Form builder like this
`{name: 'jhon'} `

[2022-04-23 08:26] kader46 commented on #996
Hello @danvick, So what's the solution to use multi line on this package ?

[2022-04-23 18:21] #979 closed

[2022-04-23 18:21] #990 closed

[2022-04-24 20:24] muezz opened #1009 "Conditional Insertion of FormFields inside a FormBuilder"
#Scenario:

I am trying to create a `Form` where the form fields are conditional. To do this, I have created a `FormBuilderRadioGroup`. This is not inside any `FormBuilder`. If the value chosen in this radio group changes, I use a `useState` hook to keep track of it.

Depending on this value (called `useChosenCategory.value` in the code below), I use the `spread` operator to conditionally insert a

[2022-04-25 07:50] miguel-guedes opened #1010 "Support for `avatar` attribute in options of FormBuilderFilterChip"
Requesting support for the `avatar` attribute as accepted by [`Chip`](https://api.flutter.dev/flutter/material/Chip-class.html) in the `options` passed to `FormBuilderFilterChip` for feature parity with `Chip` and a resulting form that benefits from improved visuals and UX.

[2022-04-25 11:40] danvick commented on #1008
I'd advise massaging the data by yourself otherwise in case you need changes to the returned map.

Or maybe create a PR if possible.

[2022-04-25 15:58] davebound commented on #986
[This](https://github.com/danvick/flutter_chips_input/issues/107) might be of use?

[2022-04-25 17:53] moshe5745 commented on #983
Strange, because in my case it's centered when the dropdown opened, and not when it closed.

<img width="314" alt="image" src="https://user-images.githubusercontent.com/7037149/165145393-b2ccda64-cf51-4c0d-b737-4e56a65a0352.png">
<img width="306" alt="image" src="https://user-images.githubusercontent.com/7037149/165145493-71ca2710-5ff6-483a-82bf-850de464b361.png">

What I am missing?

[code]

[2022-04-26 00:43] YouSour commented on #1008
@danvick thank you, solved

[2022-04-26 00:43] #1008 closed

[2022-04-26 06:20] mdeandrea-mrmilu commented on #593
This still a nice feature to have

[2022-04-26 06:30] mdeandrea-mrmilu commented on #387
[This package](https://pub.dev/packages/the_country_number) can be help with this. Maybe reuse country codes DB and this logic package

[2022-04-26 08:15] prihodulkin opened #1011 "FormBuilderDropdown hasn't borderRadius parameter"
Hi! FormBuilderDropdown uses DropdownButton which has borderRadius parameter. But FormBuilderDropdown hasn't this parameter and I can't create menu with rounded corners. Can you add borderRadius parameter to FormBuilderDropdown's constructor?

[2022-04-26 15:19] danvick commented on #983
Nice!

Kindly close the issue if that resolves it.

[2022-04-26 15:20] #983 closed

[2022-04-26 15:47] #1011 closed

[2022-04-26 21:17] foxmedo commented on #996
Hi @danvick  we are facing to the same issue, get a solution to this issue will really help us and other people
i'm adding my voice to  @kader46

[2022-04-27 18:23] danvick commented on #996
As I had said before this is not an issue for this repo, but a [well-known issue in Flutter](https://github.com/flutter/flutter/issues/30439) so it cannot be solved for this package in isolation.

That being said, what I do in my own projects when I face this issue is not to have the label in the `InputDecoration` but to have a separate Text widget for the label. It may not be as pretty as labels

[2022-04-28 08:27] kader46 commented on #996
Worked fine for me, Thank you @danvick

[2022-04-28 08:27] #996 closed

[2022-04-29 03:00] YouSour opened #1012 "programmatically set value on form builder textfield"
hi , i'm doing auto generated Id to set on form builder textfield every time i press on submit button, it will generated a new id , how can i programmatically set a new id that generated on form builder textfield?
i tried this `_formKey.currentState.fields['autoId'].didChange('$autoId');` it isn't work for me

[2022-04-29 03:22] YouSour commented on #447
it works as expected , thank you

[2022-04-29 07:28] KhaiHOK38 opened #1013 "Multiple widgets used the same GlobalKey"

[2022-04-29 07:55] globalwebforce commented on #920
Author like you should be banned on Flutter, your answer is always the same on different questions, the worst thing is, it's non-sense, not useful and not testable, I hope this will be your last package.

[2022-04-29 08:48] #1013 closed

[2022-04-29 11:19] WilliamCunhaCardoso commented on #1012
Let me see if I understood your scenario

You have a field with a name/id like
FormBuilderField(name: 'first_id');

Then, on pressing a button, you generate a second id, without generating a new field?
So, you are trying to update the aforementioned field using the new id? Expecting something like:
FormBuilderField(name: 'second_id');
?

At this time, it seems the field with new id is not register

[2022-04-29 12:03] WilliamCunhaCardoso commented on #895
Do you want to watch values to validate it while the field is being manipulated? For example, validate a text field while the user is typing on it, right? If so, declaring the field `validators` and setting its validate mode as `AutovalidateMode.onUserInteraction` can solve your problem?

[2022-04-29 12:25] WilliamCunhaCardoso commented on #901
Guys it seems it was solved by https://github.com/danvick/flutter_form_builder/pull/876. If Still happens on latest form builder version please contact us.

[2022-04-29 12:25] #901 closed

[2022-04-29 14:22] socramm9 commented on #895
I had to come up with an other solution. I needed to validate outside of the Textfield.
I am Using the FormBuilder onChange event

[code]

[2022-04-29 14:22] #895 closed

[2022-04-29 14:24] WilliamCunhaCardoso commented on #895
Thanks. Sorry for the delay :(

[2022-04-30 00:11] robertoltrocha opened #1014 "Access to error list strings from each field"
Hi,
How can I get a list of text errors from all fields when submit and the form is not valid? I would like to show theses errors in another widget or format.

[code]

[2022-04-30 11:42] phantomate commented on #920
Hi, could you please provide a small example on how to use registerField? I have no idea which FormBuilderFieldState I have to provide to registerField nor how to get that State from the FormBuilderTextField Widget

[2022-05-03 02:16] YouSour commented on #1012
@WilliamCunhaCardoso it isn't what i want , i didn't want to change name of the field i need to change the value

[2022-05-03 18:42] marcsinner commented on #313
Same here. Any updates how to solve this issue?

[2022-05-03 18:42] marcsinner commented on #313
@mapokapo
Same here. Any updates on how to solve this issue?

[2022-05-03 18:58] joselicht90 opened #1015 "FormBuilderDropdown can't set itemHeight to null"
/// If null, then the menu item heights will vary according to each menu item's
  /// intrinsic height.
  ///
  /// The default value is [kMinInteractiveDimension], which is also the minimum
  /// height for menu items.
  ///
  /// If this value is null and there isn't enough vertical room for the menu,
  /// then the menu's initial scroll offset may not align the selected item with
  /// the drop

[2022-05-05 08:40] hungtrn75 commented on #971
Same issue. Can anyone help me?

[2022-05-09 00:14] rubone opened #1016 "FormBuilderValidators"
In the new version 7.1.1
I don't find FormBuilderValidators for create a list of validators??

How I can add list of validators?

[2022-05-09 18:33] rubone commented on #1016
The last year I used flutter_form_builde 6.0.1 and used FormBuilderValidators without add other package.

So does that mean now in the new version we need to add separated?

[2022-05-09 20:38] rubone commented on #1016
I get It.

I'm going to use the packages in the new way.
Thanks a lot!

[2022-05-09 20:38] #1016 closed

[2022-05-09 20:38] rubone commented on #1016
Thanks a lot!

[2022-05-10 04:22] dev-thinks commented on #959
@WilliamCunhaCardoso is there any documentation on these anywhere?!!

[2022-05-10 07:26] mdeandrea-mrmilu commented on #693
This issue is resolved?

[2022-05-10 07:27] mdeandrea-mrmilu commented on #662
This issue is resolved?

[2022-05-10 07:47] mdeandrea-mrmilu commented on #874
This issue is resolved?

[2022-05-10 08:05] danvick commented on #874
To the best of my knowledge, it should be since we merged @SM2DevLLC's PR

[2022-05-10 08:43] mdeandrea-mrmilu commented on #729
This issue is resolved?

[2022-05-10 08:45] mdeandrea-mrmilu commented on #687
This issue is resolved?
If not, please update generic title to specific

[2022-05-10 08:47] mdeandrea-mrmilu commented on #642
This issue is resolved? If yes, close please

[2022-05-10 08:54] mdeandrea-mrmilu commented on #530
Maybe method `registerField` can be help.
If this issue is resolved, please close it

[2022-05-10 09:33] mdeandrea-mrmilu opened #1017 "[flutter_form_builder] Update link to example file"
Update link in https://pub.dev/packages/flutter_form_builder/example
From: `https://github.com/danvick/flutter_form_builder/blob/master/example/lib/main.dart`
To:     `https://github.com/danvick/flutter_form_builder/blob/master/packages/flutter_form_builder/example/lib/main.dart`

[2022-05-10 11:05] mdeandrea-mrmilu opened #1018 "[flutter_form_builder] When FormBuilder onChanged is called, instantValue is outdated"
This issue maybe will be from Flutter or only an expected behaviour, but I think that is a necessary discussion.

Expected behaviour:
When read instantValue into method FormBuilder.onChanged, instantValue will be updated

Actual behaviour:
When read instantValue into method FormBuilder.onChanged, instantValue is outdated (previous value)

Steps to reproduce:

1. Change value in a FormField (ex: Fo

[2022-05-10 11:25] mdeandrea-mrmilu opened #1019 "[flutter_form_builder] Calls FormBuilder.onChanged when it has no changes"
I test this behaviour in Flutter `Form` widget and works as expected

Expected behaviour:
When focusing into FormBuilderField without changes, don't call FormBuilder.onChanged

Actual behaviour:
When focusing into FormBuilderField without changes, calls FormBuilder.onChanged

Steps to reproduce:

1. Focus in a FormField (ex: FormBuilderTextField)
3. Error: Calls FormBuilder.onChanged

flutter_form

[2022-05-10 21:04] nosmirck opened #1020 "[FormBuilderSearchableDropdown] is not customizable"
`itemAsString` is really not customizable. If we have long options the text wraps. Ideally we would like to have an `itemBuilder` so we can set the item as we like, for instance, disable wrapping and simply add ellipsis or clip or fade the text for the selected item. We have the capability to customize the dialog as we please, but not the selected item in the dropdown itself.

Another option would

[2022-05-12 02:33] huongtran84 opened #1021 "Error due to dependency flutter chips input"
after upgraded to flutter 3.I could not build app due to flutter_chips_input that flutter_form_builder_extras dependent on

`
Error: The non-abstract class 'ChipsInputState' is missing implementations for these members:
../…/src/chips_input.dart:87
 - TextInputClient.insertTextPlaceholder
 - TextInputClient.removeTextPlaceholder
 - TextInputClient.showToolbar
Try to either
 - provide an implementa

[2022-05-12 12:12] nosmirck commented on #1020
I realized we have a `dropdownBuilder` that overrides the `asStream` property. Closing this comment.

[2022-05-12 12:12] #1020 closed

[2022-05-13 13:53] Attiv commented on #1021
same

[2022-05-14 05:58] Shiba-Kar commented on #974
Getting this error on the example app of the ```form_builder_extra_fields``` package !!

[2022-05-15 08:50] goriverna commented on #1021
same

[2022-05-17 14:18] huongtran84 commented on #1021
fixed in version 8.0.0

[2022-05-17 14:28] huongtran84 opened #1022 "search box in FormBuilderSearchableDropdown not exist in version 8.0.0?"
aftar I upgrade to 8.0.0 I have not seen search box in FormBuilderSearchableDropdown.how do I show it again?

[2022-05-17 16:40] danvick commented on #1022
Kindly note that the API for [dropdown_search](https://pub.dev/packages/dropdown_search) has changed in the recent versions that are compatible with Flutter 3.

Please refer to the package on what has changed.

[2022-05-18 02:13] ashim-kr-saha opened #1023 "There is error in build time due to isFilteredOnline"
`/Users/ashim/AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/form_builder_extra_fields-8.0.1/lib/src/fields/form_builder_searchable_dropdown.dart:173:15: Error: No named parameter with the name 'isFilteredOnline'.
              isFilteredOnline: isFilteredOnline,`

[Reason of this error](https://github.com/salim-lachdhaf/searchable_dropdown/commit/4da39123e03024e1362dd0f1a2d3d935524b03ed#diff-8

[2022-05-18 02:45] ducdac commented on #1023
@ashim-kr-saha downgrade dropdown_search 4.0.1 to 4.0.0

[2022-05-18 08:49] Orlyga01 commented on #1023
After flutter upgrade to 3 and form_builder_extra_fields to 8.0.1 I'm experiencing a similar problem, which was not solved after downgrading dropdown_search to 4.0.0
`/C:/ngplayground/flutter/.pub-cache/hosted/pub.dartlang.org/form_builder_extra_fields-8.0.1/lib/src/fields/form_builder_searchable_dropdown.dart:173:15: Error: No named parameter with the name 'isFilteredOnline'.
              isFilt

[2022-05-18 09:10] Orlyga01 opened #1024 "Flutter can't compile after upgrade to flutter 3 and flutter_form_builder to latest version"
After flutter upgrade to 3 and form_builder_extra_fields to 8.0.1 I'm experiencing a similar problem, which was not solved after downgrading dropdown_search to 4.0.0
`/C:/ngplayground/flutter/.pub-cache/hosted/pub.dartlang.org/form_builder_extra_fields-8.0.1/lib/src/fields/form_builder_searchable_dropdown.dart:28:9: Error: Type 'DropdownSearchBuilder' not found.
  final DropdownSearchBuilder<T>? d

[2022-05-18 09:29] danvick commented on #1024
Let me know if this works out

[2022-05-18 09:52] Orlyga01 commented on #1024
Yes it did - Thank you!

[2022-05-18 14:19] WilliamCunhaCardoso commented on #1024
Closing issue since the author answered it has been resolved. Thanks for your report!

[2022-05-18 14:19] #1024 closed

[2022-05-19 03:36] #1022 closed

[2022-05-19 03:36] huongtran84 commented on #1022
I got it

[2022-05-19 04:55] ducdac opened #1025 "[FormBuilderDateTimePicker] with samsung keyboard number display only"
![image](https://user-images.githubusercontent.com/49010784/169210872-38195dc2-20f7-4241-89cf-1dd8eb5a63f4.png)

[2022-05-19 16:45] Mugilan-Codes opened #1027 "[Request] Add Example Screenshots"
# Example Screenshots

## Please add Example screenshots or gifs or videos

[2022-05-19 19:04] danvick commented on #1025
To change the input mode for your FormBuilderDateTimePicker, use the `initialEntryMode` attribute, like so:

[code]

Note: The calendar icon on the top right allows you to switch between the different input modes.

[2022-05-19 19:05] danvick commented on #1025
Kindly let us know if this solves your problem

[2022-05-19 19:28] danvick commented on #1015
I think the API for this attribute has changed in the latest versions of Flutter. We'll fix this ASAP

Note, however, that in this library we have already set the [default value of the attribute to kMinInteractiveDimension](https://github.com/danvick/flutter_form_builder/blob/5bbcc373622408a0ac28ad7e323f0d76e2d2ba6f/packages/flutter_form_builder/lib/src/fields/form_builder_dropdown.dart#L261). So

[2022-05-19 19:46] danvick commented on #1012
I haven't been able to reproduce your error. This works for me:

[code]

[2022-05-19 19:48] danvick commented on #1012
Kindly confirm that the name of the attribute you are referencing in _formKey.currentState.fields[*] matches the `name` attribute of the `FormBuilderTextField`

[2022-05-20 01:37] ducdac commented on #1025
@danvick my code:
`FormBuilderDateTimePicker(
    name: 'date',
    inputType: InputType.date,
    keyboardType: TextInputType.datetime,
    initialValue: control.phieumuahang.ngayPhieu,
    format: f.getDateFormat(),
    locale: const Locale('de', 'DE'),
  ),`
initialEntryMode default is  DatePickerEntryMode.calendar, when i click on the top right icon only the numeric keypad shows.
it only works

[2022-05-20 02:32] YouSour commented on #1012
@danvick solved by `TextEditingController`

[2022-05-20 02:32] #1012 closed

[2022-05-21 20:29] SalahAdDin opened #1028 "[flutter_form_builder][BUG] Error: No named parameter with the name 'anchorPoint'"
We recently updated this package as we released there were a new version.

Now, trying to compiled the project and test it, we are getting this error:
[code]

What's the problem?

[code]

[2022-05-21 20:42] SalahAdDin commented on #1028
@danvick [It seems you added that option to the widget](https://github.com/danvick/flutter_form_builder/commit/c5addf00c577deed25326c9ca895f09f92fb732d) but you didn't add it to the functions for **Date** and **Time** pickers.

[2022-05-21 20:43] SalahAdDin commented on #1028
@danvick [It seems you added that option to the widget](https://github.com/danvick/flutter_form_builder/commit/c5addf00c577deed25326c9ca895f09f92fb732d) but you didn't add it to the functions for **Date** and **Time** pickers.

[2022-05-22 04:40] r2am9d opened #1029 "[FormBuilderSearchableDropdown] Assertion Error/Bug (Failed assertion: line 136 pos 16: 'T == String || compareFn != null': is not true)"
Dependencies:
[code]

Snippet:

[code]

[2022-05-22 06:55] r2am9d commented on #1029
Oh i see, There are api changes on the main "searchable_dropdown" package. Will now close this issue.

[2022-05-22 06:55] #1029 closed

[2022-05-22 19:48] josephkoroma01 commented on #1028
How did you solve this issue? I am facing the same problem here.

[2022-05-22 20:19] SalahAdDin commented on #1028
You have two ways: you can't downgrade this package or you can remove all code lines with `anchorPoint` as and argument.

[2022-05-23 08:21] Polgabarro commented on #960
¿Any news?

[2022-05-23 11:10] #960 closed

[2022-05-23 11:20] danvick commented on #960
Hi @glappsi et al.

Kindly confirm that the issue is fixed in v7.2.1. If that's not the case, feel free to reopen and notify me

[2022-05-23 12:01] WilliamCunhaCardoso commented on #1027
That is an interesting issue. @danvick I believe it would be good to reformulate the readme. Dividing it in sections and redirections to other pages, for example, the screenshot ones.

How can we discuss about it?

[2022-05-23 17:11] Mugilan-Codes commented on #1027
I will be happy to help you with this issue

Just let me know How can I help with this

[2022-05-23 17:28] WilliamCunhaCardoso commented on #1027
Awesome <3. Let's wait from package owner since it is related to structure. My opinion is dividing in sections, then having a specific section for examples. But first we must check with the owner to have directions.

[2022-05-23 18:22] danvick commented on #1028
Downgrade the package to pre 7.2 if you're not on Flutter 3 yet

[2022-05-23 18:40] danvick commented on #1018
Hi @mdeandrea-mrmilu,

Please confirm that this issue is fixed in v7.2.1

[2022-05-23 18:42] #986 closed

[2022-05-23 18:43] josephkoroma01 commented on #1028
I

I am already on Flutter 3.  But I am trying @SalahAdDin suggestion soon

[2022-05-24 12:19] mdeandrea-mrmilu commented on #1028
If 7.2 is a version with breaking changes, it should be explicit in the changelog

[2022-05-24 21:25] SalahAdDin commented on #1028
I guess the breaking changes are related to the new Flutter version.

[2022-05-24 21:25] fongfiafia commented on #1028
您好，来件已收到，我会尽快给您回复。

[2022-05-25 09:14] avdept commented on #798
Bumping on this. Would use it too

[2022-05-27 09:50] Kiwi-KiwiCorp commented on #444
I'm getting the same issue. The fix for this would be to add the same allowClear param that the dropdown field has to the DateTime picker because once you put a value into a DateTime field, even if there is no required validator on it, it is impossible without writing something custom to clear that field

[2022-05-31 04:18] anqit opened #1030 "[Request] Updated Geo/Map picker"
Since it seems https://pub.dev/packages/form_builder_map_field is no longer maintained, is there an alternative to getting this functionality? Or any plans to revive this project or add a map picker to `flutter_form_builder` itself?

Would be super helpful, and a great addition to an already fantastic library!

[2022-06-01 11:59] milkyway044 commented on #1028
+1

[2022-06-02 17:11] ristiisa commented on #850
@SalahAdDin did you found a solution?

[2022-06-05 02:45] CaLouro commented on #1018
I was having the same problem until I updated to 7.2.1. Thanks for it.

This issue might be worth closing since the problem it describes is already solved, although not backwards compatible.

[2022-06-06 05:42] #1018 closed

[2022-06-06 09:37] Azmaa22 opened #1032 "../../FlutterDev/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_form_builder-7.2.1/lib/src/fields/for m_builder_date_time_picker.dart:355:7: Error: No named parameter with the name 'anchorPoint'. anchorPoint: widget.anchorPoint,"
First time  I Fixed This issues:

../../FlutterDev/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_form_builder-7.2.1/lib/src/fields/for
m_builder_date_time_picker.dart:355:7: Error: No named parameter with the name 'anchorPoint'.
      anchorPoint: widget.anchorPoint,
      ^^^^^^^^^^^
../../FlutterDev/flutter/packages/flutter/lib/src/material/date_picker.dart:133:19: Context: Found this
candi

[2022-06-07 07:36] tstrg commented on #974
If you remove the following line to issue disappears
https://github.com/danvick/flutter_form_builder/blob/881879b45b3df4c7434e933ac4bfb09f4fed2e10/packages/form_builder_extra_fields/lib/src/fields/form_builder_chips_input.dart#L76

[2022-06-07 14:08] GenPingYuan commented on #1028
Please fix this problem quickly, it will really 3Q

[2022-06-07 15:34] SalahAdDin commented on #1028
It seems to be related to  Flutter 3, i recommend to downgrade it.

[2022-06-08 05:40] Daquiver1 commented on #1032
Faced the same issue. Did what Elvin suggested and it worked. But I think this is a temporary fix.

[2022-06-08 14:06] MHosssam opened #1033 "Theme in Time Picker"
when i use inputType: CupertinoDateTimePickerInputType.both and change in theme the Changes occur in Date only, not in date and time
And when I just choose the inputType: CupertinoDateTimePickerInputType.time, there is no change in the theme either

Example

[code]

[2022-06-09 08:26] mdeandrea-mrmilu commented on #955
This is useful in another context.
When you need invalidate a field but has set the autovalidationMode to `AutovalidateMode.onUserInteraction`

Example:

1. Has a email field with validation Required and Email, and Form with `autovalidationMode: AutovalidateMode.onUserInteraction`
2. Write a valid email into email field
3. Call `formKey.currentState?.fields[email].invalidate(errorText: 'test')`
4.

[2022-06-09 08:34] mdeandrea-mrmilu commented on #217
Can be close this issue?

[2022-06-09 08:35] mdeandrea-mrmilu commented on #464
Can be close this issue?

[2022-06-09 08:51] #217 closed

[2022-06-09 09:42] mdeandrea-mrmilu commented on #642
Can be close this issue?

[2022-06-09 09:42] mdeandrea-mrmilu commented on #104
Can be close this issue?

[2022-06-09 09:42] mdeandrea-mrmilu commented on #290
Can be close this issue?

[2022-06-09 09:43] mdeandrea-mrmilu commented on #356
Can be close this issue?

[2022-06-09 09:44] mdeandrea-mrmilu commented on #428
Can be close this issue?

[2022-06-09 09:44] mdeandrea-mrmilu commented on #439
Can be close this issue?

[2022-06-09 09:45] mdeandrea-mrmilu commented on #442
Can be close this issue?

[2022-06-09 09:45] mdeandrea-mrmilu commented on #482
Can be close this issue?

[2022-06-09 09:46] mdeandrea-mrmilu commented on #651
Can be close this issue?

[2022-06-09 09:47] ashim-kr-saha commented on #1023
Yes. It works with 8.1.0

[2022-06-09 09:47] #1023 closed

[2022-06-09 13:17] step4u commented on #1004
Got it.

[2022-06-09 13:17] #1004 closed

[2022-06-09 13:17] step4u commented on #1004
I got it. Thanks.

[2022-06-09 13:31] arnzuk commented on #442
Yes, you can close. Thanks.

[2022-06-09 13:37] #442 closed

[2022-06-09 13:39] mdeandrea-mrmilu commented on #442
Hi @danvick. I don't have time all days, but I can contribute in my free time. Please add my personal account [@deandreamatias](https://github.com/deandreamatias/)

[2022-06-09 13:43] danvick commented on #442
Neither do I, that's why some issues take time before they are solved. 😌

Glad to have you on board 🥳

[2022-06-09 14:50] deandreamatias commented on #253
@daniel-draper this issue is solved?
If yes, please close this issue

[2022-06-09 14:52] deandreamatias commented on #292
Can be close this issue?

[2022-06-09 14:54] deandreamatias commented on #290
Closed issue because example of FormBuilderDateRangePickerState alreasy exist

[2022-06-09 14:54] #290 closed

[2022-06-09 14:57] deandreamatias commented on #301
I guess that this issue is resolved by [this commit](https://github.com/danvick/flutter_form_builder/commit/82e18d1d98f3522b55212a9a5b8b2133add85096), so I it closed

[2022-06-09 14:57] #301 closed

[2022-06-09 14:59] deandreamatias commented on #333
This still a issue?

[2022-06-09 15:00] deandreamatias commented on #334
This still a issue?

[2022-06-09 15:13] deandreamatias commented on #336
This still a issue?

[2022-06-09 15:23] deandreamatias commented on #353
Reopen because exist FormBuilderColorPickerField

[2022-06-09 15:25] deandreamatias commented on #379
Closed due to lack of details and response

[2022-06-09 15:25] WilliamCunhaCardoso commented on #1028
Remove `^` from `form_builder` packages in `pubspec`, then run pub get again. It will help.

[2022-06-09 15:27] WilliamCunhaCardoso commented on #1032
Duplicate of another one. Please check y suggestion or from others here:

https://github.com/danvick/flutter_form_builder/issues/1028#issuecomment-1151271662

Feel free to re-open if it is a different scenario.

[2022-06-09 15:27] #1032 closed

[2022-06-09 15:28] deandreamatias commented on #381
This is implemented in [another repository](https://github.com/danvick/form_builder_image_picker)

[2022-06-09 15:28] #381 closed

[2022-06-09 15:29] deandreamatias commented on #382
Can be close this issue?

[2022-06-09 15:32] deandreamatias commented on #383
This is for [another repository](https://github.com/danvick/form_builder_image_picker)

[2022-06-09 15:32] WilliamCunhaCardoso commented on #970
Since there is a long time without any new information, I am closing it

[2022-06-09 15:32] #970 closed

[2022-06-09 15:33] #396 closed

[2022-06-09 15:34] deandreamatias commented on #399
This still a issue?

[2022-06-09 15:34] deandreamatias commented on #402
Closed due to lack of details and response

[2022-06-09 15:34] #402 closed

[2022-06-09 15:35] deandreamatias commented on #408
This still a issue?

[2022-06-09 15:36] deandreamatias commented on #417
This still a issue?

[2022-06-09 15:37] #428 closed

[2022-06-09 15:38] #432 closed

[2022-06-09 15:39] WilliamCunhaCardoso commented on #961
Do you have a design example? Seems a thing you can do combining using widgets, like Row or Column with alignment.

[2022-06-09 15:40] WilliamCunhaCardoso commented on #888
Since it has a long time without any activity, I am closing it.

[2022-06-09 15:40] #888 closed, assigned to nobody

[2022-06-09 15:40] #436 closed

[2022-06-09 15:41] #439 closed

[2022-06-09 15:41] #892 closed

[2022-06-09 15:42] deandreamatias commented on #446
This still a issue?

[2022-06-09 15:43] deandreamatias commented on #447
This still a issue?

[2022-06-09 15:43] WilliamCunhaCardoso commented on #873
I understand that it would be better as an article. It will demand too much effort to support examples for different state managers. Also, it is out of scope of the project. So, articles would be better for it.

@danvick

[2022-06-09 15:43] #873 closed

[2022-06-09 15:44] deandreamatias commented on #451
This still a issue?

[2022-06-09 15:44] #849 closed

[2022-06-09 15:44] deandreamatias commented on #452
This widget is moved to another [repository](https://github.com/danvick/form_builder_image_picker)

[2022-06-09 15:44] #452 closed

[2022-06-09 15:45] deandreamatias commented on #454
This still a issue?

[2022-06-09 15:45] deandreamatias commented on #457
This still a issue?

[2022-06-09 15:46] #835 closed

[2022-06-09 15:48] deandreamatias commented on #451
With new type `DateTimeRange`, this issue is resolved?

[2022-06-09 15:49] #458 closed

[2022-06-09 15:49] deandreamatias commented on #459
This still a issue?

[2022-06-09 15:52] #468 closed

[2022-06-09 15:53] #478 closed

[2022-06-09 15:53] #482 closed

[2022-06-09 15:54] deandreamatias commented on #486
This still a issue?

[2022-06-09 15:54] #503 closed

[2022-06-09 15:55] WilliamCunhaCardoso commented on #540
Closing due to inactivity.

[2022-06-09 15:55] #540 closed

[2022-06-09 15:55] deandreamatias commented on #510
This still a issue?

[2022-06-09 15:56] deandreamatias commented on #512
This still a issue?

[2022-06-09 15:56] deandreamatias commented on #517
This still a issue?

[2022-06-09 15:57] deandreamatias commented on #523
This still a issue?

[2022-06-09 15:58] WilliamCunhaCardoso commented on #717
Saw the owner divided the package in three ones. Maybe more separated packages can come. Closing the issue. More suggestions about how this segregation can be done, please file a new issue.

[2022-06-09 15:58] #717 closed

[2022-06-09 15:58] deandreamatias commented on #572
This still a issue?

[2022-06-09 15:59] #716 closed

[2022-06-09 15:59] deandreamatias commented on #575
This is related to Flutter theme config. flutter_form_builder uses default components from Flutter

[2022-06-09 15:59] #575 closed

[2022-06-09 16:00] WilliamCunhaCardoso commented on #688
Is it still occurring?

[2022-06-09 16:07] WilliamCunhaCardoso commented on #790
Maybe it can be added on extra packages. But depends on @danvick
I believe it is not a good approach, It is better to build it by yourself through custom FormFieldBuilder.
Aggregating external packages to form_builder turns harder to maintai.

[2022-06-09 16:08] syky27 commented on #457
Dont know dont care.. :)

[2022-06-09 16:12] #829 closed

[2022-06-09 16:12] fenyagg commented on #459
Not for me. Did'nt use it anymore.

[2022-06-09 16:13] WilliamCunhaCardoso commented on #783
Closing due to inactivity

[2022-06-09 16:13] #783 closed

[2022-06-09 16:14] WilliamCunhaCardoso commented on #782
Could you please confirm if it still happens in the latest versions?

[2022-06-09 16:15] WilliamCunhaCardoso commented on #781
Maybe can be solved by https://github.com/danvick/flutter_form_builder/pull/1026

[2022-06-09 16:18] WilliamCunhaCardoso commented on #1030
An alternative way is to build a custom field with `FormBuilderField`. But, I believe or update or deprecating the external package should be the more adequate approach.

[2022-06-09 16:26] WilliamCunhaCardoso commented on #669
Inside compose, you may add custom validators, like:

[code]

And, creating a method like

[code]

[2022-06-09 16:43] WilliamCunhaCardoso commented on #978
Were you able to solve it following the flutter team guide? https://github.com/flutter/flutter/issues/99832#issuecomment-1067567609

[2022-06-09 17:43] pulstar commented on #399
It is fine now.

[2022-06-09 17:52] #459 closed

[2022-06-09 18:57] #419 closed

[2022-06-09 18:59] #530 closed

[2022-06-09 18:59] deandreamatias commented on #536
This widget is moved to [form_builder_image_picker](https://github.com/danvick/form_builder_image_picker)

[2022-06-09 18:59] #536 closed

[2022-06-09 19:00] deandreamatias commented on #597
Closed because don't apply to this package

[2022-06-09 19:00] #597 closed

[2022-06-09 19:02] #594 closed

[2022-06-09 19:04] deandreamatias commented on #600
This still a issue?

[2022-06-09 19:07] deandreamatias commented on #606
This is related with #486 ?

[2022-06-09 19:55] deandreamatias commented on #622
Closed because this widget is moved to https://github.com/danvick/form_builder_image_picker

[2022-06-09 19:55] #622 closed

[2022-06-09 19:57] deandreamatias commented on #623
This still a issue?

[2022-06-09 19:58] deandreamatias commented on #634
This still a issue?

[2022-06-09 19:59] #642 closed

[2022-06-09 20:00] deandreamatias commented on #644
Closed because this widget is moved to https://github.com/danvick/form_builder_image_picker

[2022-06-09 20:03] deandreamatias commented on #653
This still a issue?

[2022-06-09 20:04] deandreamatias commented on #654
Duplicated

[2022-06-09 20:04] #654 closed

[2022-06-09 20:40] FrazeColder commented on #978
Hi @WilliamCunhaCardoso
sadly not... you are facing the same issue now?

[2022-06-09 20:41] deandreamatias commented on #657
This still a issue?

[2022-06-09 20:43] deandreamatias commented on #663
Closed for no feedback

[2022-06-09 20:43] #663 closed

[2022-06-09 20:46] deandreamatias commented on #662
Closing due to inactivity

[2022-06-09 20:46] #662 closed

[2022-06-09 20:46] deandreamatias commented on #660
Closing due to inactivity

[2022-06-09 20:46] #660 closed

[2022-06-09 20:47] deandreamatias commented on #671
This still a issue?

[2022-06-10 04:33] #961 closed

[2022-06-10 06:38] deandreamatias commented on #667
Related with #350

[2022-06-10 06:40] deandreamatias commented on #672
Resolved with #675

[2022-06-10 06:40] #672 closed

[2022-06-10 06:49] deandreamatias commented on #683
This still an issue?

[2022-06-10 06:50] deandreamatias commented on #684
This still an issue?

[2022-06-10 06:57] deandreamatias commented on #685
This still an issue?

[2022-06-10 07:03] deandreamatias commented on #691
OTP field is some to specific to add in this package, I guess.
You can do some like this:

[code]

[2022-06-10 07:03] #691 closed

[2022-06-10 07:04] #693 closed

[2022-06-10 07:05] #697 closed

[2022-06-10 07:07] deandreamatias commented on #700
Please can add more details? Ex: use cases
Thanks

[2022-06-10 07:09] #701 closed

[2022-06-10 07:11] deandreamatias commented on #703
This still an issue?

[2022-06-10 07:17] deandreamatias commented on #705
This still an issue?

[2022-06-10 07:17] deandreamatias commented on #707
You can use Material theme config or fields attributes

[2022-06-10 07:17] #707 closed

[2022-06-10 07:18] deandreamatias commented on #709
This still an issue?

[2022-06-10 07:22] deandreamatias commented on #712
This still an issue?

[2022-06-10 07:37] deandreamatias commented on #713
This still an issue?

[2022-06-10 07:43] deandreamatias commented on #719
FormBuilderTextField implements a modified TextField and TextField has a property `cursorHeight`, so implement this feature can will easy

[2022-06-10 07:44] deandreamatias commented on #720
Yes, this is actual behaviour with requestFocus after validate form

[2022-06-10 07:44] #720 closed

[2022-06-10 07:47] deandreamatias commented on #721
Actual version has compatibility with intl 0.17.0
![Screenshot 2022-06-10 at 09 46 46](https://user-images.githubusercontent.com/21011641/173016901-110e4503-f9bb-4c24-bc92-a17d87167c32.png)

[2022-06-10 07:47] #721 closed

[2022-06-10 07:59] deandreamatias commented on #727
The dependency date_range_picker is removed from package in [this commit](https://github.com/danvick/flutter_form_builder/commit/22d451496ba41b4bb4ad9fa9547e65eddb6abf97)

[2022-06-10 07:59] #727 closed

[2022-06-10 08:00] deandreamatias commented on #701
date_range_picker is removed in [this commit](https://github.com/danvick/flutter_form_builder/commit/22d451496ba41b4bb4ad9fa9547e65eddb6abf97)

[2022-06-10 08:01] deandreamatias commented on #698
date_range_picker is removed in [this commit](https://github.com/danvick/flutter_form_builder/commit/22d451496ba41b4bb4ad9fa9547e65eddb6abf97)

[2022-06-10 08:04] deandreamatias commented on #724
Can provide more details please?

[2022-06-10 08:05] deandreamatias commented on #726
This still an issue?

[2022-06-10 08:06] deandreamatias commented on #728
This bug exists and is tracked here #721. There have a discussion about this and possible solutions

[2022-06-10 08:06] #728 closed

[2022-06-10 08:07] deandreamatias commented on #729
This bug exists and is tracked here #721. There have a discussion about this

[2022-06-10 08:07] #729 closed

[2022-06-10 08:12] deandreamatias commented on #731
This still an issue?

[2022-06-10 08:13] deandreamatias commented on #732
This still an issue?

[2022-06-10 08:14] deandreamatias commented on #733
This apply to external repository

[2022-06-10 08:14] #733 closed

[2022-06-10 08:15] deandreamatias commented on #735
This bug exists and is tracked here #721 . There have a discussion about this

[2022-06-10 08:15] #735 closed

[2022-06-10 08:17] deandreamatias commented on #736
Solved!
![Screenshot 2022-06-10 at 10 17 31](https://user-images.githubusercontent.com/21011641/173022563-5409903e-f7a4-48b7-a505-384874dcb9f6.png)

[2022-06-10 08:17] #736 closed

[2022-06-10 08:18] deandreamatias commented on #737
This still an issue?

[2022-06-10 08:19] deandreamatias commented on #738
This bug exists and is tracked here 737# . There have a discussion about this and possible solutions

[2022-06-10 08:19] #738 closed

[2022-06-10 08:19] deandreamatias commented on #742
Solved with dependencies updates

[2022-06-10 08:19] #742 closed

[2022-06-10 08:20] deandreamatias commented on #743
Solved with new versions https://pub.dev/packages/form_builder_extra_fields/score

[2022-06-10 08:20] #743 closed

[2022-06-10 08:23] deandreamatias commented on #744
Solved with new versions

[2022-06-10 08:23] deandreamatias commented on #756
Solved with new versions

[2022-06-10 08:23] #756 closed

[2022-06-10 08:24] deandreamatias commented on #772
Solved with new versions

[2022-06-10 08:24] #772 closed

[2022-06-10 08:25] deandreamatias commented on #747
This still an issue?

[2022-06-10 08:45] deandreamatias commented on #751
This still an issue?

[2022-06-10 08:46] deandreamatias commented on #753
Can provide more details please?

[2022-06-10 08:46] deandreamatias commented on #754
Solved

[2022-06-10 08:46] #754 closed

[2022-06-10 08:48] deandreamatias commented on #755
Solved

[2022-06-10 08:48] #755 closed

[2022-06-10 08:49] deandreamatias commented on #757
This still an issue?

[2022-06-10 08:49] deandreamatias commented on #758
This still an issue?

[2022-06-10 08:49] deandreamatias commented on #761
Solved with new versions

[2022-06-10 08:49] #761 closed

[2022-06-10 08:50] deandreamatias commented on #763
This still an issue?

[2022-06-10 08:52] deandreamatias commented on #762
[FormBuilderTypeAhead](https://github.com/danvick/flutter_form_builder/blob/master/packages/form_builder_extra_fields/lib/src/fields/form_builder_typeahead.dart) exists in another package but same repository

[2022-06-10 08:52] #762 closed

[2022-06-10 09:13] #818 closed

[2022-06-10 10:11] danvick commented on #1030
I will try to have the package up to date as soon as I can.

The array of packages for me to maintain may have outgrown me, especially given my limited availability of late.

I very much appreciate the help of my co-maintainers @awhitford, @WilliamCunhaCardoso, and @deandreamatias and welcome even more support.

I'm also planning to bring other related packages into this repo and have them all her

[2022-06-10 11:55] deandreamatias commented on #764
This widget exist in master
https://github.com/danvick/flutter_form_builder/blob/master/packages/flutter_form_builder/lib/src/fields/form_builder_date_time_picker.dart

[2022-06-10 11:55] #764 closed

[2022-06-10 11:58] deandreamatias commented on #765
This is a nice thing to see. Maybe is commented for no conflicts, but will be nice take a look with more details

[2022-06-10 12:01] deandreamatias commented on #768
[Signature](https://pub.dev/packages/signature) now is null safety

[2022-06-10 12:01] #768 closed

[2022-06-10 12:02] deandreamatias commented on #770
@nousath Can create separated issue for this features? Thanks

[2022-06-10 12:03] deandreamatias commented on #769
This comments help to solve problem @wyxcoder ? If yes, can close this issue

[2022-06-10 12:04] deandreamatias commented on #771
Solved

[2022-06-10 12:04] #771 closed

[2022-06-10 12:04] deandreamatias commented on #778
This widget exists in [another package](https://pub.dev/packages/form_builder_extra_fields) in this same repository

[2022-06-10 12:04] #778 closed

[2022-06-10 12:06] deandreamatias commented on #780
This comment solve your question @saeed1366 ? If yes, please close this issue

[2022-06-10 12:08] deandreamatias commented on #785
This still an issue?

[2022-06-10 12:11] deandreamatias commented on #787
This is implemented [here](https://github.com/danvick/flutter_form_builder/blob/604a9d7674eb20d8bbe0902ca2ad257bf763422d/packages/flutter_form_builder/lib/src/fields/form_builder_dropdown.dart#L339) for FormBuilderDropdown and [here](https://github.com/danvick/flutter_form_builder/blob/604a9d7674eb20d8bbe0902ca2ad257bf763422d/packages/flutter_form_builder/lib/src/fields/form_builder_date_time_pick

[2022-06-10 12:11] #787 closed

[2022-06-10 12:39] WilliamCunhaCardoso commented on #978
Not yet. Unfortunately, I lack time to give a dedicated support, but I got a similar issue on camera. There were two gestures tap recognizer, one over another. Since I could not isolate them, I had to turn off one of them (the above one). I understand is not your case, you need both of them, right? I believe in such case,  Since you need both them clickable, and `Checkbox` component is whole click

[2022-06-10 12:42] WilliamCunhaCardoso commented on #1033
Closing it since the PR which solves it is merged. Feel free to comment if it is not the case.

[2022-06-10 12:42] #1033 closed

[2022-06-10 12:43] WilliamCunhaCardoso commented on #781
Closing it, since the PR that solves it is merged. Feel free to comment if it is not the case. Remember to update the package.

[2022-06-10 12:44] WilliamCunhaCardoso commented on #444
Closing it, since the PR that solves it is merged. Feel free to comment if it is not the case. Remember to update the package.

[2022-06-10 13:13] deandreamatias commented on #789
This still an issue?

[2022-06-10 13:14] #792 closed

[2022-06-10 13:15] deandreamatias commented on #793
This still an issue?

[2022-06-10 13:17] deandreamatias commented on #794
Has a some solutions for this, every of them depends of state management.
You can take a look in autovalidateMode

[2022-06-10 13:18] deandreamatias commented on #795
This still an issue?

[2022-06-10 13:21] deandreamatias commented on #800
This bug exists and is tracked here #737  . There have a discussion about this and possible solutions

[2022-06-10 13:21] #800 closed

[2022-06-10 13:22] deandreamatias commented on #805
This still an issue?

[2022-06-10 13:22] deandreamatias commented on #806
This still an issue?

[2022-06-10 13:23] deandreamatias commented on #807
This still an issue?

[2022-06-10 13:24] deandreamatias commented on #812
This still an issue?

[2022-06-10 13:25] mario202k commented on #806
Today no.

[2022-06-10 13:26] deandreamatias commented on #817
This still an issue?

[2022-06-10 13:27] deandreamatias commented on #824
This still an issue?

[2022-06-10 13:28] #806 closed

[2022-06-10 13:33] deandreamatias commented on #827
Do you tried use property `autovalidateMode`? Maybe can be help you

[2022-06-10 13:34] deandreamatias commented on #828
This response solve your question @ayaanpathan ?

[2022-06-10 13:41] deandreamatias commented on #830
If this answer solve your problem, please @eliezerp3 close this issue.
If not, feel free to open a new issue with this Feature request

[2022-06-10 13:41] deandreamatias commented on #831
This still an issue?

[2022-06-10 13:42] deandreamatias commented on #832
This still an issue?

[2022-06-10 13:43] deandreamatias commented on #834
Hi @Mohdx, this answer solve your question? If yes, please close this issue. Thanks

[2022-06-10 13:45] #834 closed

[2022-06-10 13:47] deandreamatias commented on #837
This actually is implemented https://github.com/danvick/flutter_form_builder/blob/bf5a5914232ca106cfad60e8d531b8f8405d03e8/packages/form_builder_validators/lib/src/form_builder_validators.dart#L120

[2022-06-10 13:47] #837 closed

[2022-06-10 13:51] deandreamatias commented on #841
This still an issue?

[2022-06-10 13:54] deandreamatias commented on #842
Hi!
I seen that maxLine now support null values. I will close this issue, but if still happens can open again
https://github.com/danvick/flutter_form_builder/blob/881879b45b3df4c7434e933ac4bfb09f4fed2e10/packages/flutter_form_builder/lib/src/fields/form_builder_text_field.dart#L68

[2022-06-10 13:54] #842 closed

[2022-06-10 13:59] deandreamatias commented on #846
This still an issue?

[2022-06-10 14:00] deandreamatias commented on #848
This still an issue?

[2022-06-10 14:02] deandreamatias commented on #869
This bug exists and is tracked here #842. There have a discussion about this and possible solutions

[2022-06-10 14:02] #869 closed

[2022-06-10 14:05] deandreamatias commented on #859
This still an issue?

[2022-06-10 14:11] deandreamatias commented on #871
Radio buttons [by design](https://uxplanet.org/radio-buttons-ux-design-588e5c0a50dc), can't be toggleable. Maybe you can use FormBuilderCheckboxGroup

[2022-06-10 14:12] #874 closed

[2022-06-10 14:14] deandreamatias commented on #875
This still an issue? If yes, please add more details

[2022-06-10 14:14] deandreamatias commented on #885
This still an issue?

[2022-06-10 14:16] deandreamatias commented on #898
This still an issue?

[2022-06-10 14:20] deandreamatias commented on #907
You need manipulate from formValues to your desired map. Is a logic outside of this package

[2022-06-10 14:20] #907 closed

[2022-06-10 14:21] deandreamatias commented on #908
This still an issue after #909 ?

[2022-06-10 14:23] deandreamatias commented on #915
This still an issue?

[2022-06-10 14:24] deandreamatias commented on #919
This is a feature from native keyboard. Do you want overwrite this feature?

[2022-06-10 14:24] frendcarlo commented on #858
this is already solve!

[2022-06-10 14:26] #858 closed

[2022-06-10 14:28] S-ecki commented on #807
nope, thanks

[2022-06-10 14:31] #923 closed

[2022-06-10 14:32] deandreamatias commented on #925
This still a issue? Maybe is related with new change on Material theme properties

[2022-06-10 14:32] tas-unn commented on #920
Yes17:25, 10 июня 2022 г., Matias de Andrea ***@***.***>:
This still an issue?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>
-- Отправлено из мобильного приложения Яндекс Почты

[2022-06-10 14:33] #807 closed

[2022-06-10 14:42] deandreamatias commented on #940
This issue is related to this package or to flutter?

[2022-06-10 14:48] deandreamatias commented on #973
@Shahmirzali-Huseynov Can provide a code sample with this bug? Thanks

[2022-06-10 14:52] deandreamatias commented on #980
@zzzaJ  Can provide a sample code to test this bug? Thanks

[2022-06-10 14:54] Shahmirzali-Huseynov commented on #973
@deandreamatias unfortunately now I'm using this. and don't have code :/

[2022-06-10 14:59] WilliamCunhaCardoso commented on #940
Since it seems to be a flutter core problem, I am closing it here. Just check comments on https://github.com/flutter/flutter/issues/22075#issuecomment-567836464

[2022-06-10 14:59] #940 closed

[2022-06-10 15:28] deandreamatias commented on #532
This still an issue?

[2022-06-10 17:08] caseyryan commented on #789
Not for me. I've made a custom one

[2022-06-10 17:08] #789 closed

[2022-06-10 19:11] #830 closed

[2022-06-10 22:47] #928 closed

[2022-06-10 23:14] neiljaywarner commented on #767
You must've fixed it, you have 130 now :)
closing issue

[2022-06-10 23:14] #767 closed

[2022-06-11 11:18] deandreamatias commented on #634
Solved with new versions

[2022-06-11 11:18] #634 closed

[2022-06-11 15:21] deandreamatias commented on #855
@dean-pearce Maybe [this discussion](https://github.com/danvick/flutter_form_builder/discussions/1038) can be interesting to you

[2022-06-11 15:50] deandreamatias opened #1039 "[form_builder_phone_field] Replace country_pickers to an updated package"
## Environment

**Package name:**  form_builder_phone_field
**Package version:**  1.0.0-beta.0
**Platform:** All
**Device information:**  N/A

## Description

**What you'd like to happen:** Replace dependency country_pickers, because these package don't receive more update

**Alternatives you've considered:**

- https://github.com/Daniel-Ioannou/flutter_country_picker
- https://github.com/dev-naik

[2022-06-11 16:58] nlfiedler commented on #657
It was less of an issue and more of question.

[2022-06-11 18:33] deandreamatias commented on #657
This is a unsolved question?

[2022-06-11 20:38] nlfiedler commented on #657
I am referring to my question in the original report. If that does not make sense, then feel free to close this, as I must be misunderstanding and you can ignore me.

[2022-06-11 23:00] #1010 closed

[2022-06-13 07:16] deandreamatias commented on #316
Hi @joshuakoh1!
This still an issue?

[2022-06-13 07:19] #731 closed

[2022-06-13 07:20] deandreamatias commented on #335
Hi @gilthonweapps!
Do you can review if still needed this suggestions?
If yes, please open separated issues for each of ones.
Thanks

[2022-06-13 07:24] #346 closed

[2022-06-13 07:31] #389 closed

[2022-06-13 07:34] deandreamatias commented on #426
Closed because now don't apply this Flutter versions

[2022-06-13 07:34] #426 closed

[2022-06-13 07:36] deandreamatias commented on #435
This still an issue?

[2022-06-13 07:38] deandreamatias commented on #438
Close because this old Flutter versions is not applied now

[2022-06-13 07:38] #438 closed

[2022-06-13 10:54] deandreamatias commented on #512
Closed because no response and is not primarily applicable in this repository

[2022-06-13 10:54] #512 closed

[2022-06-13 11:06] deandreamatias commented on #617
A solution that I think is compare initialValue with instantValue. If is different, has changes

[2022-06-13 11:07] deandreamatias commented on #624
This still an issue?

[2022-06-13 11:11] deandreamatias commented on #652
This isn't apply because PickerType is deprecated

[2022-06-13 11:11] #652 closed

[2022-06-13 11:12] deandreamatias commented on #653
Don't apply to this package

[2022-06-13 11:12] #653 closed

[2022-06-13 11:14] #657 closed

[2022-06-13 14:42] deandreamatias commented on #665
Hi @mattf80
Please can help to verify this error? I need that you complete this template. You can replay answer in this thread or edit the original issue details and respond by tagging me.

Thanks a lot

[code]

[2022-06-13 14:51] deandreamatias commented on #700
Without response and details, I close this issue

[2022-06-13 14:51] #700 closed

[2022-06-14 07:32] grundid commented on #908
Yes, this is still a problem. As described above the attach method has to be called.
At some point the "shouldRequestFocus" option was added to the form elements, basically to hide this issue because it is by default "false". For the user this is an issue because the keyboard does not disappear if the user checks a checkbox after being in a text field, because the checkbox does not request focus a

[2022-06-14 07:57] deandreamatias commented on #908
ok, I understand. Thank for your replay @grundid
You can create a pull request with this changes? Would be very nice to resolve this issue

[2022-06-14 08:08] grundid commented on #908
Sure, will do that.

Could we please find a better solution and get rid of the "shouldRequestFocus" option? If the focus is working OK the option is not really needed. Right now I would have to enable this option on each checkbox since I have mixed forms with checkboxes and text fields. Maybe make it true by default or at least as a global option in FormBuilder class so we need to set it only once

[2022-06-14 08:47] deandreamatias opened #1042 "[FormBuilderSignaturePad] Remove border property and apply decoration to border"
## Environment

**Package name:**  form_builder_extra_field
**Package version:**  7.1.1
**Platform:** Web
**Device information:**  Chrome - Mac

## Description

**What you'd like to happen:**

Use decoration property to container border of Signature

**Alternatives you've considered:**

- Remove property `border` from FormBuilderSignaturePad
- Apply state.decoration properties to Container decorat

[2022-06-14 08:55] grundid commented on #908
Oh yeah, issue #880. I fixed this issue like this in my fork because users stared complaining about the list jumping back and forth ;)

[code]

I think that once a user is able to click on something there is no need to ensure that it is visible. This could be interesting if an option is modified by code but in this case didChange should have an optional parameter to enable visibility of the select

[2022-06-14 20:41] #1042 closed

[2022-06-15 06:05] deandreamatias commented on #1028
- With Flutter < 3.0.0, need use package version 7.1.1 and below
- With Flutter >= 3.0.0, need use package version 7.2.0 and hereinafter

This is the solution to this error. Unfortunately this breaking change should be manage otherwise, but with new versions we try that this breaking changes don't happens again or would be more gradatives and clear.

Some collaborators work to improvements in this

[2022-06-15 06:05] #1028 closed

[2022-06-15 08:07] grundid opened #1046 "FormBuilderRangeSlider should not require an initialValue"
As most form fields FormBuilderRangeSlider should not require to define an initialValue during creation of the widget. The initialValue can come from FormBuilder.initialValue.

[2022-06-15 08:26] deandreamatias commented on #1046
Basically, change this property to nullable https://github.com/danvick/flutter_form_builder/blob/1fbdda779166d91ead010878884a2bae5605f5d9/packages/flutter_form_builder/lib/src/fields/form_builder_range_slider.dart#L113

[2022-06-15 08:30] grundid commented on #1046
Exactly. Do you need a PR for this?

[2022-06-15 08:35] #898 closed

[2022-06-15 08:38] danvick commented on #1046
The reason why `initialValue` was made to be required is that Flutter's `RangeSlider` widget's `values` attribute is required.

But we since made the default initialValue to take the bounds of the range, the attribute can be made nullable.

[2022-06-15 08:40] danvick commented on #1046
We'd appreciate a PR @grundid. Thanks

[2022-06-15 10:20] grundid opened #1049 "Change semantics of shouldRequestFocus"
## Description

I would like to pick up on the discussion in flutter-form-builder-ecosystem/flutter_form_builder#908 and suggest a change to the semantics of shouldRequestFocus. In the past we have seen many “A FocusNode was used after being disposed“ exceptions but I thing that the current fix with PR flutter-form-builder-ecosystem/flutter_form_builder#1045 will solve this for good.

In PR flutte

[2022-06-15 10:54] grundid commented on #905
I would assume that this will be solved with #1045

[2022-06-15 12:37] WilliamCunhaCardoso commented on #1049
Thanks for your analysis and your effort on contributing for the package!

About the focus, I believe it should be segregated the focus in subjects. For example, something like `focusOnChange`, `focusOnError`, `focusOnEditComplete` and so on. So, on this way, I believe we can give appropriate focus manage. But this is only an idea.

[2022-06-15 12:38] WilliamCunhaCardoso commented on #1049
@deandreamatias @danvick What do you guys think about it?

[2022-06-15 13:18] WilliamCunhaCardoso commented on #1049
@grundid are you in this package discord server?

[2022-06-15 13:20] WilliamCunhaCardoso commented on #1049
https://discord.gg/Vr7Mg5g9 if you don't mind, you can enter on it.

[2022-06-15 13:28] deandreamatias commented on #1049
We will discuss some details [here](https://discord.com/channels/985922433578053673/986519177907036180/986621807098482780) and add conclusions or relevant info to this issue

[2022-06-15 16:32] deandreamatias opened #1050 "[form_builder_phone_field] Implement automatic deploy to pub.dev"
## Environment

**Package name:**  form_builder_phone_field
**Package version:**  N/A
**Platform:** N/A
**Device information:**  N/A

## Description

**What you'd like to happen:** Automatic publish packages when create related tag

**Alternatives you've considered:**

- Create Github actions workflow
  - Step by step (I prefer): https://dennis.alund.me/blog/publishing-dart-packages-with-github-ac

[2022-06-18 13:45] #1046 closed

[2022-06-21 01:21] YouSour opened #1052 "initial value on FormBuilderFilterChip() by FormBuilder()"
## Environment

**Package name: flutter_form_builder**

## Describe your question
hi , i'm trying to initial value on FormBuilderFilterChip() by FormBuilder(), it doesn't work , but if i initial value on FormBuilderFilterChip() directly it works, please check it

[2022-06-21 05:51] deandreamatias commented on #712
Maybe related with #1052

[2022-06-21 05:52] deandreamatias commented on #1052
Hi @YouSour
This situation is more like a bug.
Can you be share this info please

- **Package version:**
- **Platform:**
- **Device information:**
- A sample code

Thanks

[2022-06-21 05:59] deandreamatias commented on #840
@YouSour This is still a issue?
Please, try replicate this error with last packages versions

[2022-06-21 06:00] deandreamatias commented on #843
This should be implement. I don't know if external dependency allow this

[2022-06-21 06:08] deandreamatias commented on #939
This can will be implemented if add property to `FormBuilderSearchableDropdown` and pass to dropdown_search widget.
It is necessary to consider a decoration property from `FormBuilderSearchableDropdown`

[code]

[2022-06-21 14:23] markfili commented on #848
I can't even click on the reset icon, it always opens the input dialog

[2022-06-21 14:28] deandreamatias commented on #848
@markfili Can provide details please

- **Platform:**
- **Device information:**
- Simple code smaple

[2022-06-22 01:20] YouSour commented on #939
@deandreamatias ok , i'll try it.

[2022-06-22 01:23] YouSour commented on #840
@deandreamatias i'll test it again, thank you.

[2022-06-22 05:53] markfili commented on #848
oh, I forgot, I think OP meant that calling `_formKey.currentState!.fields['date']?.reset();` does not reset the field which is what I found, too. you can replace `.didChange(null)` with `reset()` in `resetIcon`'s `onPressed` method in the above example to test it out

[2022-06-22 10:54] deandreamatias commented on #848
@markfili This happens only with `FormBuilderDateTimePicker`?

[2022-06-22 10:57] deandreamatias commented on #848
@markfili I think that this situation is duplicated from #859

[2022-06-22 13:52] fehernyul opened #1053 "dynamically compose validators list"
## Environment

**Package name:**
  flutter_form_builder: ^7.3.1
  form_builder_validators: ^8.1.1

Hi there,

Is it possible that case, I have some FormBuilderTextField and I need to validate them with FormFieldValidator lists.
I want to get the validators from a function.
Some FormBuilderTextField is String type and some are integer, double,, date, ...

This is the code which unfortunately doesn

[2022-06-22 14:57] deandreamatias commented on #1053
Hi!
Validators.compose don't work to this case?

[code]
Or create a custom validator, like:

[code]

[2022-06-22 15:41] fehernyul commented on #1053
Yes it works this way, but I need to use via a method. I need to the validator returned from a function. This is a very simple code, I have a bunch of FormBuilderTextField which is generated by a json file. The form is fully generated by the json's content. I don't know in advance what kind of validator it will need. That is what I have to use a function which result a validator list by some extra

[2022-06-22 21:16] deandreamatias commented on #1053
You can create a dynamic validators with `FormBuilderValidators.compose`

      validator: FormBuilderValidators.compose(
        [
         if(isInteger)
          FormBuilderValidators.minLength(
            context,
          ),
         if(String)
          FormBuilderValidators.required(
            context,
          ),
        ],
      ),

[2022-06-23 00:32] YouSour commented on #1052
@deandreamatias nvm, i'm happy to help 😄

[2022-06-23 02:49] tailn804 opened #1055 "Error: No named parameter with the name 'anchorPoint'"
## Environment

**Package name:**  flutter_form_builder
**Package version:**  ^7.3.0
**Platform:** Web
**Flutter information:** Flutter 2.10.5

## Images
<img width="1209" alt="Screen Shot 2022-06-23 at 09 44 07" src="https://user-images.githubusercontent.com/104020709/175196052-6ce17ace-dedc-492a-ba70-ce01a0fd0be1.png">

[2022-06-23 05:42] deandreamatias commented on #1055
Duplicated from #1028
Take a look in [this comment](https://github.com/danvick/flutter_form_builder/issues/1028#issuecomment-1156025018) to solution and explication

[2022-06-23 05:42] #1055 closed

[2022-06-23 07:54] markfili commented on #848
yes! just tried the example app from the master branch, only DateTimePicker has this issue, DateRangePicker and TextField work as intended.

[2022-06-23 08:43] deandreamatias commented on #848
I think that this is because you use initialValue and initialTime at same time. These generate conflict.
I will close this issue and move all to #859

[2022-06-23 08:43] #848 closed

[2022-06-23 14:32] deandreamatias commented on #336
Without response and because this issue is related to a old version, will close

[2022-06-23 14:32] #336 closed

[2022-06-23 14:35] deandreamatias commented on #1050
I wait to close this issue until test deploy pipeline

[2022-06-23 16:12] rensvis opened #1058 "FormBuilderRangeSlider terrible performance when in scrollable container"
Using `FormBuilderRangeSlider` widget inside a `SingleChildScrollView` widget that has `physics: const AlwaysScrollableScrollPhysics()` leads to performance issues when trying to drag the handles around. It seems to interfere with scrolling up and down the page (or the scrollable container). Interestingly, `FormBuilderSlider` does not lead to any issues.

![ezgif com-gif-maker](https://user-images

[2022-06-24 07:22] ervindobri commented on #882
Seems like this issue still persists with FormBuilderDropdown.

[2022-06-24 07:50] deandreamatias commented on #882
Hi @ervindobri
If you can, please open a new bug issue with all details posible.
Thanks

[2022-06-24 15:01] deandreamatias commented on #1058
Hi @rensvis. Thanks for your contribution.
Seems a interesting bug to take a look.

Related to [this file](https://github.com/danvick/flutter_form_builder/blob/master/packages/flutter_form_builder/lib/src/fields/form_builder_range_slider.dart), maybe is related with [some Flutter bug](https://github.com/flutter/flutter/issues?q=is%3Aissue+RangeSlider+is%3Aclosed) or a widget arrange in this packag

[2022-06-24 15:08] deandreamatias commented on #19
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:08] #19 closed

[2022-06-24 15:12] deandreamatias commented on #287
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:13] deandreamatias commented on #292
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:13] #292 closed

[2022-06-24 15:14] #295 closed

[2022-06-24 15:15] #334 closed

[2022-06-24 15:16] deandreamatias commented on #356
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:16] deandreamatias commented on #362
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:16] #362 closed

[2022-06-24 15:17] deandreamatias commented on #382
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:17] #382 closed

[2022-06-24 15:18] #417 closed

[2022-06-24 15:19] deandreamatias commented on #446
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:19] #446 closed

[2022-06-24 15:19] deandreamatias commented on #447
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:19] #447 closed

[2022-06-24 15:26] deandreamatias commented on #451
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:26] #451 closed

[2022-06-24 15:27] deandreamatias commented on #457
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:27] #457 closed

[2022-06-24 15:27] #464 closed

[2022-06-24 15:28] deandreamatias commented on #486
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:28] #486 closed

[2022-06-24 15:30] #517 closed

[2022-06-24 15:30] deandreamatias commented on #510
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:30] #510 closed

[2022-06-24 15:31] deandreamatias commented on #523
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:34] #600 closed

[2022-06-24 15:34] deandreamatias commented on #602
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:34] #602 closed

[2022-06-24 15:34] deandreamatias commented on #606
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:35] deandreamatias commented on #623
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:35] #623 closed

[2022-06-24 15:37] deandreamatias commented on #669
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:37] #669 closed

[2022-06-24 15:39] deandreamatias commented on #688
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-24 15:39] #688 closed

[2022-06-24 15:41] #1052 closed

[2022-06-24 15:45] deandreamatias commented on #104
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

Maybe can create a document issue for this

[2022-06-24 15:45] #104 closed

[2022-06-24 15:46] deandreamatias commented on #239
Hi!
If someone has a solution for this, please feel free to open a PR.
Thanks!

[2022-06-24 15:51] deandreamatias commented on #567
This still an issue?

[2022-06-24 18:04] fehernyul commented on #1053
This is works very fine!
Thank you!!
:)

[2022-06-24 18:05] #1053 closed

[2022-06-25 05:31] YouSour commented on #684
@deandreamatias yes , solved.

[2022-06-25 05:31] #684 closed

[2022-06-25 06:40] #1050 closed

[2022-06-25 07:23] IsmailAlamKhan commented on #567
after 2 years you are asking this question? That's nice. No idea about this issue anymore I will just close it.

[2022-06-25 07:23] #567 closed

[2022-06-26 14:36] deandreamatias commented on #785
Due to lack, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-26 14:36] #785 closed

[2022-06-26 14:37] deandreamatias commented on #769
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-26 14:37] #769 closed

[2022-06-26 14:55] deandreamatias commented on #333
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-26 14:55] #333 closed

[2022-06-26 14:55] deandreamatias commented on #341
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-26 14:55] #341 closed

[2022-06-26 14:58] deandreamatias commented on #475
This still an issue?

[2022-06-26 14:59] deandreamatias commented on #683
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-26 14:59] #683 closed

[2022-06-26 15:34] deandreamatias commented on #782
This issues is fixed in this line
https://github.com/danvick/flutter_form_builder/blob/8b9c68e8d166779de34d8e1ad34302e49bdc89e8/packages/flutter_form_builder/lib/src/widgets/grouped_radio.dart#L21

[2022-06-26 15:34] #782 closed

[2022-06-27 00:28] CaLouro commented on #920
I don't understand why is this still a problem. I've being using dynamic fields with version 7.2.1 and 7.3.1 and didn't have problems with adding and removing fields on state change.

Especially if they will have different names, I can't see it being a big problem. @tas-unn could you please explain a little bit more what was going wrong with the way you were trying?

[2022-06-27 06:02] #1019 closed

[2022-06-28 06:16] deandreamatias commented on #687
This issue still happens in version 7.3.1

[2022-06-28 10:17] #757 closed

[2022-06-28 14:01] deandreamatias commented on #316
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-06-30 11:44] yeasin50 opened #1068 "alwaysUse24HourFormat:true is not working on FormBuilderDateTimePicker."
## Environment

**Package name:**  flutter_form_builder
**Package version:**  7.3.1
**Platform:**  Web
**Device information:**  Google Chrome

## Description
I've used `alwaysUse24HourFormat: true`  and `timePickerInitialEntryMode: TimePickerEntryMode.input,`  inside `FormBuilderDateTimePicker`  in order to take 24h format time by user type. But It shows invalid time error.

**Expected behavior:**

[2022-06-30 11:51] deandreamatias commented on #826
Still a issue.
Take a look to this comment
https://github.com/danvick/flutter_form_builder/issues/861#issuecomment-943469650

[2022-06-30 11:54] deandreamatias commented on #1068
Duplicated from #826

[2022-06-30 11:54] #1068 closed

[2022-07-01 16:51] deandreamatias commented on #765
I don't found the criminal but solved the case! 👮🏽
Opened PR to solve this 🚀

[2022-07-01 16:53] deandreamatias commented on #840
@YouSour have you been able to test it?

[2022-07-01 17:09] deandreamatias commented on #904
The pull request #1019 solve this issue?

[2022-07-01 20:54] deandreamatias commented on #844
Due to lack of response, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-01 20:54] #844 closed

[2022-07-02 01:16] YouSour commented on #840
@deandreamatias it still doesn't work on latest version.

[2022-07-02 03:21] yfakariya commented on #904
Yes, I've tested with a3510a4152e9a665e74fc313969f51ee20d07397 and confirm that the extra validation was not called anymore.
I will wait for next release.  Thank you!

[2022-07-02 11:33] #904 closed

[2022-07-02 16:10] divan opened #1070 "form_builder_extra_fields from git is forbidden"
Hi, I'm trying to use the master branch of the `flutter_form_builder` while also using `form_builder_extra_fields` package.

Straightforward switch to git produces some versions incomatibilities.

pubspec.yaml
[code]

`flutter pub get` error trying to add `flutter_builder_extra_fields`:

[code]

So, next I've added git spec for `flutter_builder_extra_fields` too. Now pubspec.yaml looks like:

[cod

[2022-07-02 16:16] deandreamatias commented on #1070
@divan Try use https://github.com/danvick/flutter_form_builder.git instead git@
git@is for ssh

[2022-07-02 16:27] divan commented on #1070
@deandreamatias thanks for the quick reply.

I don't think switching to git https changes anything (dependencies still refer to hosted packages)..

pubspec.yaml
[code]

An error:
[code]

[2022-07-02 19:40] getpoucher opened #1071 "Is it possible to apply valueTransformer before validation?"
Hello,

I have a `FormBuilderTextField` of type email that I would like to have its value trimmed with `valueTransformer` before calling `_formKey.currentState!.validate`. I thought that when calling `_formKey.currentState!.save()` the transformations were applied.

Is it possible to do it?

Thanks in advance

[2022-07-02 22:10] deandreamatias commented on #1071
Hi!
When you call validate(), the Vale isn't transformed?

[2022-07-04 06:00] deandreamatias commented on #1070
Do you tried make a fork to test this?

[2022-07-04 14:45] divan commented on #1070
Not sure I got the question.. I just stumbled upon some bug that seems to be fixed in master, so wanted to use the master branch.

But the package has one repo - multiple packages model, and it seems that using multiple packages with this approach is not working when one is hosted and another one is from git, as they are dependent.

I've seen this repository model in some flutter packages, but the

[2022-07-04 18:25] CaLouro commented on #1071
This might be a limitation between the interaction of the package code and Flutter code. `validate` is a function of the Flutter `Form` and `FormField`s, where the transformers are a thing from the package. FlutterFormBuilder does not actually call the transformers on a field's value until you call the getters `value` and `instantValue`.

Saving a transformed value inside the field's value attribu

[2022-07-05 15:24] agustin-garcia opened #1072 "FormBuilderSwitch validation error message not disappearing even the right action has been taken by user"
## Environment

**Package name:**

## Describe your question

FormBuilderSwitch validation error message should dissapear after User select but such error message doesn't hide as expected

![image](https://user-images.githubusercontent.com/3145497/177362617-37eb78f4-f23e-4d31-91be-62a7201ce5b2.png)

I tried options from different forums, but I'm unable to make it work. Could you please provide an

[2022-07-06 06:24] tonypottera24 commented on #859
The reset button on the right-hand side of the `FormBuilderDateTimePicker` also doesn't work.
The `onReset` callback is not triggered.

[2022-07-06 07:23] tonypottera24 commented on #859
I saw `FormBuilderDropdown` has an `allowClear` property.
When the reset button of `FormBuilderDropdown` is pressed, the `hint` is shown.

In `FormBuilderDateTimePicker`, we have the `hintText` in `decoration`, but it will never shown.

[code]

[code]

[2022-07-06 18:13] deandreamatias commented on #1072
Hi @agustin-garcia
Can provider a code sample of this image?
Thanks

[2022-07-06 18:40] tonypottera24 commented on #687
I'm facing the same problem.
I think the core reason is the `FormBuilderDropdown.initialValue` tried to insert a `DropdownMenuItem` into the `FormBuilderDropdown.items` list.

[2022-07-06 19:00] ahetawal-p opened #1073 "FormBuilderTextField with long label overlapping"
Hello,
I am using the `FormBuilderTextField` which has a long label.
My setup looks something like for it:

[code]

Using this above setup, the cursor text seems to overlap with the label text. Is there a way to avoid this ?
![Screen Shot 2022-07-06 at 11 59 37 AM](https://user-images.githubusercontent.com/8919529/177623424-ff15fe0d-91a5-4dac-bf7d-fd0700e82a31.png)

[2022-07-07 00:09] tonypottera24 commented on #687
Same issue even if the text is not null.

[2022-07-07 00:43] Chappie74 commented on #687
I've since opted out of using this. Found a much better and cleaner solution.  Those familiar with react may feel right at home.

https://pub.dev/packages/reactive_forms

[2022-07-07 01:05] tonypottera24 commented on #687
I just resolved my issue.
Assume we use `int` as the value of `DropdownMenuItem`
i.e.
[code]
The value of `FormBuilderDropdown.initialValue`  must also be an `int` (100 or 200).

[2022-07-07 01:25] KanybekMomukeyev commented on #687
@Chappie74 why i should use ReactiveForm, what addition required feature it gives me?
I use Native from builder, and everything seems to be ok. Just for interesting.

[2022-07-07 03:54] Chappie74 commented on #687
@KanybekMomukeyev I can't remember why I switched since it was a year or so ago. But I'm sure it was due to having troubles with this package.
You can use whatever works for you.
You can also take a read at the docs for reactive forms, maybe you'll find something you'd like.

[2022-07-07 09:24] skibos commented on #817
Try override reset method, get controller and use clear();

[2022-07-07 11:51] grundid opened #1075 "Old form state in FormBuilder.onChanged"
When you try to read the value of the FormBuilderState it still has an old state.

The issue is in the FormBilderField.didChange method:
[code]

This method calls super.didChange and this method calls the onChanged callback of the FormBuilder, but at this time the `_instantValue` of FormBuilderState is not updated yet. This happens in the next line by calling `_informFormForFieldChange`.

I don't

[2022-07-08 14:08] codeforhome opened #1077 "FormBuilderDateTimePicker reset button missing / not functioning"
## Environment

**Package name and version:**

<details>
  <summary>Flutter doctor</summary>

[√] Flutter (Channel stable, 3.0.4, on Microsoft Windows [Version 10.0.22000.739], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[√] Chrome - develop for the web
[X] Visual Studio - develop for Windows
    X Visual Studio not installed; this is necessar

[2022-07-10 04:57] tonypottera24 opened #1078 "FormBuilderDropdown reset button wrong color"
The color of the reset button in `FormBuilderDropdown` is `black`.
In other widgets, the reset button looks like `black54`.
The color cannot be changed by `InputDecoration.suffixIconColor`.

[2022-07-10 04:57] tonypottera24 commented on #1077
same issue

[2022-07-11 15:15] #855 closed

[2022-07-12 10:41] #665 closed

[2022-07-12 10:42] deandreamatias commented on #685
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)

[2022-07-12 10:42] #685 closed

[2022-07-12 10:42] deandreamatias commented on #763
Due to lack of response and an old error, I will close this issue.
If the bug still exists, feel free to open a [new issue](https://github.com/danvick/flutter_form_builder/issues/new/choose)